.container {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.containerPopover {
  padding: 18px;
  width: 430px;
  height: 138px;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

.panelPopover {
  border: 1px solid var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}

.popoverIcon {
  position: absolute;
  color: var(--euiColorWarningLight) !important;
  width: 24px !important;
  height: 24px !important;
}

.popoverItem {
  font-size: 13px !important;
  line-height: 18px !important;
  padding-left: 34px;
}

.popoverItemTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

.content {
  display: flex;
  min-height: 20px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 24px;
  right: 18px;
  padding-top: 8px;
  background-color: var(--euiColorEmptyShade);
}

.cancelBtn {
  margin-right: 18px;
}

.deleteApproveBtn {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
