.input {
  height: 31px !important;
  font-family: 'Graphik', sans-serif !important;
}

.inputEditing {
  height: 32px !important;
}

.container {
  height: 40px;

  :global(.euiFormControlLayout--group.euiFormControlLayout--readOnly) {
    border: 1px solid var(--controlsBorderColor);
    cursor: auto;
  }
}

.inputLabel {
  font: normal normal normal 13px/18px Graphik !important;
  font-weight: 500 !important;
}

.value {
  color: var(--inputTextColor) !important;
  font-size: 13px !important;
  padding: 0 9px;
  line-height: 32px !important;
  height: 32px !important;
  min-width: 150px;
}

.title {
  font-size:16px !important;
}

.smallText {
  font: normal normal normal 14px/24px Graphik !important;
  letter-spacing: -0.14px;
}
