.keysToScanInput {
  height: 31px !important;
  font-family: 'Graphik', sans-serif !important;
}

.keysToScanInputEditing {
  height: 33px !important;
}

.keysToScanWrapper {
  height: 40px;

  :global(.euiFormControlLayout--group.euiFormControlLayout--readOnly) {
    border: 1px solid var(--controlsBorderColor);
    cursor: auto;
  }
}

.inputLabel {
  font-weight: 500 !important;
}

.keysToScanValue {
  color: var(--inputTextColor) !important;
  font-size: 13px !important;
  padding: 0 9px;
  line-height: 33px !important;
  height: 33px !important;
  min-width: 150px;
}
