@import "@elastic/eui/src/global_styling/index";
@import "uiSrc/styles/mixins/_global.scss";

.addInstanceBtn {
  padding-left: 10px;
  padding-right: 10px;
  height: 43px;
  margin: 0 auto;
  text-decoration: none !important;

  :global(.euiButton__text) {
    font-weight: 500 !important;
  }
}

.importDatabasesBtn:global(.euiButton) {
  height: 43px;
  min-width: auto !important;

  :global(.euiButton__text) {
    display: flex;
    align-items: center;
  }
}

.followText {
  padding-top: 4px;
  font-size: 12px !important;
  text-align: left;
  color: var(--euiTextColor) !important;
  opacity: 0.7;
}

.clearMarginFlexItem {
  margin-bottom: 0 !important;
}

.links {
  font-size: 14px;
  a {
    color: var(--euiTextColor);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.containerDl {
  .links {
    margin-left: 6px;
    position: relative;
    min-width: 235px;
    top: -5px;

    :global(.euiFlexItem) {
      margin-left: 0px !important;
      margin-right: 12px !important;

      &:last-of-type {
        margin-right: 0 !important;
      }
    }
  }
}

.contentDL {
  @include euiBreakpoint("xs", "s") {
    & > div:first-of-type {
      margin-left: 0 !important;
    }
    & > div:last-of-type {
      margin-right: 0 !important;
    }
  }
}

.spacerDl {
  @include euiBreakpoint("xs", "s") {
    height: 6px !important;
  }
  @include euiBreakpoint("m", "l", "xl") {
    height: 18px !important;
  }
}

.searchContainer {
  position: relative;
  height: 42px;
  max-width: 320px;
  margin-left: auto !important;
  padding-left: 12px;
}

.promo {
  display: flex !important;
  @media only screen and(max-width: 1100px) {
    display: none !important;
  }
}

.linkGuides {
  display: none !important;
  @media (min-width: 1250px) {
    display: flex !important;
  }
}

.fullGuides {
  display: none !important;
  @media only screen and(max-width: 1100px) {
    display: flex !important;
  }
}

.smallGuides {
  display: none !important;
  @media (min-width: 1101px) and (max-width: 1249px) {
    display: flex !important;
  }
}

.cloudSsoPromoTooltip {
  display: flex;
  flex-direction: row;
  line-height: normal;
  font-size: 12px !important;
}
.cloudSsoPromoTooltipIcon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px;
}

@include insights-open(1712px) {
  .fullGuides {
    display: flex !important;
  }

  .promo,
  .smallGuides {
    display: none !important;
  }
}

@include insights-open(1200px) {
  .fullGuides {
    display: none !important;
  }
}
