.addInstanceBtn {
  padding-left: 0;
  padding-right: 0;
  height: 43px;
  margin: 0 auto;
  text-decoration: none !important;

  &:global(.euiButton) {
    min-width: 54px !important;
  }

  :global(.euiButton__text) {
    font-weight: 500 !important;
  }
}

.clearMarginFlexItem {
  margin-bottom: 0 !important;
}

.contentDL {
  @include eui.euiBreakpoint("xs", "s") {
    & > div:first-of-type {
      margin-left: 0 !important;
    }
    & > div:last-of-type {
      margin-right: 0 !important;
    }
  }
}

.spacerDl {
  @include eui.euiBreakpoint("xs", "s") {
    height: 6px !important;
  }
  @include eui.euiBreakpoint("m", "l", "xl") {
    height: 12px !important;
  }
}

.promo {
  display: flex !important;
  @media only screen and (max-width: 800px) {
    display: none !important;
  }
}

.cloudSsoPromoTooltip {
  display: flex;
  flex-direction: row;
  line-height: normal;
  font-size: 12px !important;
}
.cloudSsoPromoTooltipIcon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px;
}

@include global.insights-open(1350px) {
  .promo {
    display: none !important;
  }
}

.columnsButtonItem {
  margin-right: 16px !important;

  .columnsButton {
    padding: 4px 6px 4px;
    border-color: transparent !important;
    box-shadow: none !important;
  }
}
