@import "@elastic/eui/src/global_styling/index";
@import "uiSrc/styles/mixins/_global.scss";

.promo {
  display: flex !important;
  @media only screen and(max-width: 1100px) {
    display: none !important;
  }
}

.fullGuides {
  display: none !important;
  @media only screen and(max-width: 1100px) {
    display: flex !important;
  }
}

.smallGuides {
  display: none !important;
  @media (min-width: 1101px) and (max-width: 1249px) {
    display: flex !important;
  }
}


@include insights-open(1712px) {
  .fullGuides {
    display: flex !important;
  }

  .promo,
  .smallGuides {
    display: none !important;
  }
}

@include insights-open(1200px) {
  .fullGuides {
    display: none !important;
  }
}