.wrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
  padding: 0 16px 16px 16px;

  :global(.content) {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px 24px 16px 24px;
    margin-left: 16px;
    background-color: var(--euiColorEmptyShade);
    width: calc(100% - 269px);
  }

  :global(.content.isSidePanelOpen) {
    max-width: calc(100% - 793px);
  }

  :global {
    .monaco-editor, .monaco-editor .margin, .monaco-editor .minimap-decorations-layer, .monaco-editor-background {
      background-color: var(--browserViewTypePassive) !important;
    }

    .rdi {
      &__title {
        font: normal normal normal 16px/19px Graphik, sans-serif;
        word-break: break-word;
      }

      &__title,
      &__text {
        margin-bottom: 8px;
      }

      &__actions {
        display: flex;
        justify-content: end;
        padding-top: 16px;
      }

      &__editorWrapper {
        flex: 1 1 auto;
        border: 1px solid var(--separatorColorLight) !important;

        :global(.inlineMonacoEditor) {
          height: 100%;
        }
      }

      &__loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--browserViewTypePassive) !important;
      }
    }
  }
}

.fullHeight {
  height: 100%;
}
