.container {
  @include eui.scrollBar;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 40px;
  min-height: 200px;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 12px 10px;
  height: 40px;

  .headerSummary {
    font-size: 13px !important;
    line-height: 18px !important;
    padding-top: 6px;
    color: var(--euiColorMediumShade) !important;
  }
}

.headerTitle {
  padding-bottom: 6px;
  font-size: 14px !important;
  line-height: 24px !important;
}

.list {
  display: flex;
  flex-grow: 1;
  width: 100%;
  border: 1px solid var(--euiColorLightestShade);
  padding-top: 4px;
  padding-left: 12px;
  position: relative;
}

.item {
  width: 100%;
  word-break: break-all;
}

.key,
.error {
  display: inline;
}

.key {
  padding-right: 12px;
  color: var(--euiTextSubduedColor);
}

.error {
  color: var(--euiColorColorDanger) !important;
  word-break: break-word;
}

.listContent {
  @include eui.scrollBar;
}
