.hr {
  margin: 12px 0;
  width: 100%;
  text-align: center;
  position: relative;
  color: var(--euiTextSubduedColor);

  &:before, &:after {
    content: '';
    display: block;
    width: 45%;
    height: 1px;
    background: var(--controlsBorderColor);
    position: absolute;
    top: 50%;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.connectionUrlInfo {
  display: flex;
  align-items: center;

  > :global(.euiToolTipAnchor) {
    margin-left: 4px;
  }
}
