.jsonItemEditor {
  padding-right: 80px;
  max-width: 600px;
  .inlineItemEditor__controls {
    display: flex;
    align-items: center;

    width: 80px;
    height: 24px;
  }
}

.euiPopover__anchor.deleteFieldPopover {
  display: flex;
  align-items: center;
}
