.tableWrapper {
  max-height: 100%;

  .header {
    height: 42px;
    background-color: var(--browserTableRowEven);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
  }
}

.table {
  @include eui.scrollBar;
  overflow: auto;
  position: relative;
  max-height: calc(100% - 42px);

  :global {
    thead {
      border-bottom: 1px solid var(--tableDarkestBorderColor);
    }

    .euiTableRow,
    .euiTableRow:hover,
    .euiTableHeaderCell {
      background-color: var(--euiColorEmptyShade) !important;
    }

    .euiTableCellContent {
      padding: 16px 18px !important;
    }
  }
}
