.closeRightPanel {
  position: absolute;
  top: 22px;
  right: 18px;

  .closeBtn {
    :global(svg) {
      width: 20px;
      height: 20px;
    }
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 12px;
  width: 100%;
}
