.contentActive {
  border-color: var(--euiColorPrimary) !important;
  border-bottom-width: 1px !important;
}

.removeBtnContainer {
  margin-left: 12px;
}

.container {
  max-height: 234px;
  scroll-padding-bottom: 60px;
}
