.popoverApproveBtn {
  float: right;
  padding: 4px 12px !important;
  height: 24px !important;

  :global(.euiButtonContent) {
    padding: 0 !important;
  }
}

.popoverContent {
  font-size: 13px !important;
  line-height: 16px !important;
}

.popoverTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
}

.panelPopover {
  width: 432px;
  padding: 16px 30px !important;
  border-color: var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}
