.pageHeader, .pageDefaultHeader {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--euiColorEmptyShade);
  margin-bottom: 16px;
  border-bottom: 1px solid var(--separatorColor);
}

.pageDefaultHeader {
  padding: 0 16px;
}

.pageWrapper {
  height: calc(100% - 70px);
  overflow: hidden;
}

.explorePanel {
  padding-bottom: 16px;
}

.capabilityWrapper {
  :global(.capabilities__item:nth-child(2)) {
    @media screen and (max-width: 840px) {
      display: none;
    }
  }

  &.rdiEnabled {
    :global(.capabilities__item:nth-child(1)) {
      @media screen and (max-width: 920px) {
        display: none;
      }
    }

    :global(.capabilities__item:nth-child(2)) {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
