.container {
  padding: 41px 30px;

  .title {
    font-family: 'Graphik', sans-serif;
    font-size: 32px;
    font-weight: 600;
    word-break: break-word;
    margin-bottom: 20px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .linksWrapper .text,
  .text {
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    line-height: 17px;
    word-break: break-word;
    color: var(--wbTextColor) !important;
    text-decoration: none !important;
  }

  .bigText {
    font-family: 'Graphik', sans-serif;
    font-size: 20px;
    line-height: 24px;
    word-break: break-word;
    color: var(--wbTextColor);
    margin-bottom: 20px;
  }

  .flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    .icon {
      width: 173px;
      margin-left: 15px;
    }

    .bigIcon {
      width: 317px;
      margin-bottom: 42px;
    }

    .iconTelescope {
      width: 250px;
      margin-left: 15px;
    }
  }

  .list.bloomList {
    display: flex;
    flex-wrap: wrap;

    .listItem {
      margin-right: 18px;
    }
  }

  .listItem {
    display: flex;
    margin-bottom: 20px;

    .iconWrapper {
      display: flex;
      flex: 0 0 16px;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--wbActiveIconColor);
      border-radius: 50%;
      margin-right: 10px;
    }

    .listIcon {
      width: 10px;
      height: 10px;

      path {
        fill: var(--euiPageBackgroundColor);
      }
    }
  }

  .linksWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .link {
      margin-right: 20px;
      color: var(-wbTextColor);
    }
  }

  .marginBottom {
    margin-bottom: 20px;
  }

  &.fullScreen {
    padding: 89px 77px;

    .flex {
      flex-direction: column;
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title,
    .text,
    .bigText {
      text-align: center;
    }

    .list {
      display: flex;
      justify-content: center;
    }

    .listItem {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .linksWrapper {
      justify-content: center;
      flex-direction: column-reverse;
    }

    .link {
      margin-right: 0;

      &:first-child {
        margin-top: 13px;
      }
    }
  }

  &.modal {
    padding: 30px;

    .title {
      padding-top: 42px;
      font-size: 18px;
      line-height: 1;
    }

    .bigText {
      font-size: 14px;
    }

    .textFooter {
      font-weight: 500;
    }
  }
}
