.wrapper {
  padding: 30px 12px;
  text-align: center;

  .hr {
    margin: 12px auto;
    width: 100%;
    text-align: center;
    position: relative;
    color: var(--htmlColor);

    &:before, &:after {
      content: '';
      display: block;
      width: 24px;
      height: 1px;
      background: var(--htmlColor);
      position: absolute;
      top: 50%;
    }

    &:before {
      left: calc(50% - 48px);
    }

    &:after {
      right: calc(50% - 48px);
    }
  }

  .linkIcon {
    transform: rotate(45deg);
  }
}
