.container {
  margin-left: 8px;
  margin-top: 1px;

  :global(.euiPopover), .anchorWrapper {
    height: 100%;
  }
}

.anchorBtn {
  width: 24px;
  height: 100% !important;

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}

.popoverWrapper {
  height: 162px;
  width: 300px;
  padding: 14px 16px !important;
  border: none !important;
  background-color: var(--euiColorLightestShade) !important;

  :global {
    .euiPopover__panelArrow {
      &::before,
      &::after {
        border-bottom-color: var(--euiColorLightestShade) !important;
      }
    }
    .euiFormControlLayout {
      height: 26px !important;
      width: auto;
    }
  }

  .input, .select {
    width: 188px;
    height: 24px !important;
    font-size: 12px;
    border-radius: 4px;
    background-color: var(--browserViewTypePassive) !important;
  }
}

.label {
  display: flex;
  width: 66px;
  font-size: 12px;
  color: var(--euiTextSubduedColor)!important;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.row {
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.sortIcon {
  margin-right: 4px;
}

.selectItem {
  min-height: 24px !important;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;

  button {
    margin-left: 8px;
  }
}
