.noResultsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 185px);

  & > * {
    margin-bottom: 16px;
  }
}

.text {
  font-size: 18px !important;
  font-weight: 500;
}

.icon {
  width: 120px;
}
