.manageTagsModal {
  position: fixed !important;
  right: 0 !important;
  width: 50% !important;
  height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto;

  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 12px !important;
    border-top: 1px solid var(--separatorColor);
  }

  .addTagButton {
    margin-left: 12px;
    color: var(--euiColorPrimary) !important;
  }

  .warning {
    padding: 6px 12px;
    margin: 16px;
    gap: 8px;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--euiColorWarningLight);
    border-radius: 8px;
  }

  .tagForm {
    margin: 20px 12px;
    border: 1px solid var(--separatorColor);
    border-radius: 8px;

    .tagFormHeader {
      display: flex;
      text-align: left;
      border-bottom: 1px solid var(--separatorColor);

      > div {
        flex: 1;
        padding: 6px;
        margin: 6px;
        margin-right: 10px;
      }

      :first-child {
        border-right: 1px solid var(--separatorColor);
      }
    }

    .tagFormBody {
      display: flex;
      flex-direction: column;
    }

    .tagFormRow {
      display: flex;
      align-items: center;

      > div {
        flex: 1;
        padding: 8px;
        display: flex;
        align-items: center;
        position: relative;
        gap: 16px;

        > span {
          width: 100%;
          position: relative;
        }
      }

      .deleteIcon {
        cursor: pointer;
      }
    }
  }
}

.suggestions {
  position: absolute;
  background: var(--browserViewTypePassive);
  border: 1px solid var(--separatorColor);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  padding: 12px;

  .suggestionsTitle {
    font-weight: bold !important;
    border-bottom: 1px solid var(--separatorColor);
    padding-bottom: 8px;
  }

  ul {
    li {
      border-bottom: none !important;
      color: var(--euiTextSubduedColor) !important;

      span {
        padding: 0 !important;
      }
    }

    li:hover {
      background: var(--tableRowHoverColor) !important;
    }
  }
}
