.wrapper {
  position: relative;

  &:global(.transform-on-hover) {
    &:hover {
      .dot {
        transform: translateY(-1px);
      }
    }
  }

  .dot {
    position: absolute;
    background: var(--highlightDotColor);
    top: -4px;
    right: -4px;
    z-index: 1;

    width: 12px;
    height: 12px;
    border-radius: 50%;

    transition: transform 250ms ease-in-out;
  }

  .badgeContainer {
    display: flex;
    align-items: center;
  }

  .badge {
    font-size: 8px !important;
    line-height: 12px !important;
    background-color: var(--recommendationLiveBorderColor) !important;
    border: 1px solid var(--triggerIconActiveColor) !important;
    color: #FFF7EA !important;
    border-radius: 2px !important;
    padding: 0 4px;
    margin-left: 8px;

    transition: transform 250ms ease-in-out;
    pointer-events: none;

    :global(.euiBadge__content) {
      min-height: 12px !important;
    }
  }
}
