.marginTop2 {
  margin-top: 2rem !important;
}

.uploadWarningContainer {
  align-self: flex-start;
  text-wrap: wrap;
  margin-inline: auto;
  max-width: 400px;
}

.result {
   height: fit-content;
   overflow: hidden;
}

.errorFileMsg {
  margin-top: 10px;
  font-size: 12px;
}

.fileDrop {
  width: 300px;
  :global {
    .euiFilePicker__showDrop .euiFilePicker__prompt, .euiFilePicker__input:focus + .euiFilePicker__prompt {
      background-color: var(--euiColorEmptyShade);
    }

    .euiFilePicker__prompt {
      background-color: var(--euiColorEmptyShade);
      height: 140px;
      border-radius: 4px;
      box-shadow: none;
      border: 1px dashed var(--controlsBorderColor);
      color: var(--htmlColor);
    }

    .euiFilePicker {
      width: 400px;
    }

    .euiFilePicker__clearButton {
      margin-top: 4px;
    }
  }
}

.loading, .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
