.modal {
  background: var(--euiColorLightestShade) !important;
  min-width: 500px !important;
  max-width: 700px !important;
  min-height: 270px !important;

  &.result {
    width: 500px !important;

    @media screen and (min-width: 1024px) {
      width: 700px !important;
      min-width: 700px !important;
    }
  }

  :global {
    .euiModalHeader {
      padding: 4px 42px 20px 30px;
    }

    .euiModalBody__overflow {
      padding: 8px 30px;
    }

    .euiModal__closeIcon {
      top: 16px;
      right: 16px;
      background: none;
    }

    .euiButtonEmpty.euiButtonEmpty--primary.euiFilePicker__clearButton,
    .euiButtonEmpty.euiButtonEmpty--primary.euiFilePicker__clearButton .euiButtonEmpty__text {
      color: var(--externalLinkColor) !important;
      text-transform: lowercase;
    }

    .euiModalFooter {
      margin-top: 12px;
    }
  }

  .errorFileMsg {
    margin-top: 10px;
    font-size: 12px;
  }

  .fileDrop {
    width: 300px;

    :global {
      .euiFilePicker__showDrop .euiFilePicker__prompt, .euiFilePicker__input:focus + .euiFilePicker__prompt {
        background-color: var(--euiColorEmptyShade);
      }

      .euiFilePicker__prompt {
        background-color: var(--euiColorEmptyShade);
        height: 140px;
        border-radius: 4px;
        box-shadow: none;
        border: 1px dashed var(--controlsBorderColor);
        color: var(--htmlColor);
      }

      .euiFilePicker {
        width: 400px;
      }

      .euiFilePicker__clearButton {
        margin-top: 4px;
      }
    }
  }

  .loading, .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
  }
}
