@import "@elastic/eui/src/global_styling/index";

.pageHeader {
}

.pageHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 4px 4px 18px;

  @include euiBreakpoint("m", "l", "xl") {
    padding: 8px 14px;
  }
}

.title {
  font-size: 24px;
  @include euiBreakpoint("m", "l", "xl") {
    padding-left: 12px;
  }
}

.logo {
  transition: transform 0.1s linear;

  background-size: cover;

  margin-right: 10px;

  width: 45px;
  height: 65px;

  &:hover {
    transform: translateY(-1px) !important;
  }
}

.google {
  background-image: url("uiSrc/assets/img/auth/google.png") !important;
}
.github {
  background-image: url("uiSrc/assets/img/auth/github.png") !important;
}
