@import "@elastic/eui/src/global_styling/index";

.pageHeader {
  display: flex;
  align-items: center;
}

.pageHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  min-height: 70px;
}

.title {
  font-size: 24px;
  @include euiBreakpoint("m", "l", "xl") {
    padding-left: 12px;
  }
}

.logo {
  transition: transform 0.1s linear;

  &:hover {
    transform: translateY(-1px) !important;
  }

  img {
    height: 28px !important;
    width: 150px !important;
  }
}
