@import '../../../styles/mixins/_eui';

:root {
  --base: 16px;
  //2px
  --size-xxs: calc(var(--base) / 8);
  //4px
  --size-xs: calc(var(--base) / 4);
  //8px
  --size-s: calc(var(--base) / 2);
  //12px
  --size-m: calc(var(--base) * 0.75);
  //16px
  --size-base: var(--base);
  //24px
  --size-l: calc(var(--base) * 1.5);
  //32px
  --size-xl: calc(var(--base) * 2);
  //40px
  --size-xxl: calc(var(--base) * 2.5);
  //48px
  --size-xxxl: calc(var(--base) * 3);
  //64px
  --size-xxxxl: calc(var(--base) * 4);

  // to 574px
  --bp-xs: 0;
  // to 767px
  --bp-s: 575px;
  // to 991px
  --bp-m: 768px;
  // to 1199px
  --bp-l: 992px;
  // above 1200px
  --bp-xl: 1200px;
}

.flex {
  display: flex;
  flex-grow: 1; /* Grow nested flex-groups by default */
  &-row {
    flex-direction: row;
  }

  &-rowReverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-columnReverse {
    flex-direction: column-reverse;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-centered {
    align-items: center;
    justify-content: center;
  }
}

.flexItem {
  display: flex;
  flex-direction: column;

  &-grow {
    flex-basis: 0;

    &-0 {
      flex-grow: 0;
      flex-basis: auto;
    }

    &-1 {
      flex-grow: 1;
    }

    &-2 {
      flex-grow: 2;
    }

    &-3 {
      flex-grow: 3;
    }

    &-4 {
      flex-grow: 4;
    }

    &-5 {
      flex-grow: 5;
    }

    &-6 {
      flex-grow: 6;
    }

    &-7 {
      flex-grow: 7;
    }

    &-8 {
      flex-grow: 8;
    }

    &-9 {
      flex-grow: 9;
    }

    &-10 {
      flex-grow: 10;
    }
  }
}

.align {
  &-center {
    align-items: center;
  }

  &-stretch {
    align-items: stretch;
  }

  &-baseline {
    align-items: baseline;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }

  &-evenly {
    justify-content: space-evenly;
  }
}

.grid {
  display: grid;

  &-columns-1 {
    grid-template-columns: repeat(1, min-content);
  }

  &-columns-2 {
    grid-template-columns: repeat(2, min-content);
  }

  &-columns-3 {
    grid-template-columns: repeat(3, min-content);
  }

  &-columns-4 {
    grid-template-columns: repeat(4, min-content);
  }

  @media screen and (max-width: 767px) {
    &-responsive {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;
    }
  }
}


@media screen and (max-width: 767px) {
  .flex-responsive {
    flex-wrap: wrap;
  }
}


.grid-centered {
  place-content: center;
}

.col-centered {
  justify-content: center;
}

.gap-xs {
  gap: var(--size-xs);
}

.gap-s {
  gap: var(--size-s);
}

.gap-m {
  gap: var(--size-m);
}

.gap-l {
  gap: var(--size-l);
}

.gap-xl {
  gap: var(--size-xl);
}

.gap-xxl {
  gap: var(--size-xxl);
}
