.spacer {
  flex-shrink: 0;
  &-xs {
    height: var(--size-xs);
  }

  &-s {
    height: var(--size-s);
  }

  &-m {
    height: var(--size-m);
  }

  &-l {
    height: var(--size-l);
  }

  &-xl {
    height: var(--size-xl);
  }

  &-xxl {
    height: var(--size-xxl);
  }
}
