@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

$breakpoint-to-wrap-buttons: 660px;

.footer {
  padding: 15px 14px 10px 30px !important;
  @media only screen and (max-width: $breakpoint-to-wrap-buttons) {
    padding: 15px 14px 10px 14px !important;
  }
}

:global(.homePage) {
  :global(.clusterDatabaseList) {
    height: calc(100vh - 300px) !important;

    @media (min-width: 1130px) {
      height: calc(100vh - 245px) !important;
    }

    @media only screen and (max-width: 767px) {
      height: calc(100vh - 389px) !important;
    }
  }

  :global(.clusterDatabaseListResult) {
    height: calc(100vh - 280px) !important;

    @media (min-width: 1130px) {
      height: calc(100vh - 220px) !important;
    }

    @media only screen and (max-width: 767px) {
      height: calc(100vh - 360px) !important;
    }
  }
}

.footerClusterDatabases {
  @media only screen and (max-width: $breakpoint-to-wrap-buttons) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footerButtonsGroup {
  @media only screen and (max-width: $breakpoint-to-wrap-buttons) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}

.title {
  padding-bottom: 5px !important;
}

.subTitle {
}

.table {
  @include euiScrollBar;
  max-height: calc(100vh - 250px) !important;
  overflow: auto;
}

.searchForm {
  width: 266px !important;

  @media (min-width: 1130px) {
    position: absolute;
    right: 30px;
    margin-top: -70px;
  }
}

.search {
  background-color: var(--euiColorLightestShade) !important;
  height: 40px !important;
}

.table {
  @include euiScrollBar;
  overflow: auto;
  max-height: calc(100vh - 370px) !important;

  @media (min-width: 1130px) {
    max-height: calc(100vh - 300px) !important;
  }
}

.tableEmpty tbody {
  display: none;
}

.panelCancelBtn {
  max-width: 350px !important;
  margin-left: -10px;
}

.tooltipColumnName {
  max-width: 370px !important;
  * {
    line-height: 1.19;
    font-size: 14px !important;

    &:not(:global(.euiToolTip__title)) {
      font-weight: 300 !important;
    }
  }
}

.errorBtn {
  height: 100% !important;
  > span {
    padding: 0 !important;
  }
}

.tooltipColumnNameText {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noDatabases {
  color: var(--euiTextSubduedColor) !important;
  margin: 50px auto 0;
  text-align: center;
}
