@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

:global {
  .homePage {
    .column_status_alert {
      padding-bottom: 6px !important;

      svg {
        width: 22px !important;
        height: 22px !important;
      }
    }

    .euiButton.btn-back {
      float: left;
    }
  }
}

.footer {
  padding: 15px 14px 10px 30px !important;
}

.title {
  padding-bottom: 5px !important;
}

.subTitle {
}

.cloudSubscriptions {
  overflow: hidden !important;
  height: calc(100vh - 292px) !important;

  @media (min-width: 1230px) {
    height: calc(100vh - 238px) !important;
  }
}

.table {
  @include euiScrollBar;
  overflow: auto;
  max-height: calc(100vh - 370px) !important;

  @media (min-width: 1230px) {
    max-height: calc(100vh - 300px) !important;
  }
}

.tableEmpty tbody {
  display: none;
}

.hideTableMessage {
  tbody tr {
    display: none;
  }
}

.searchForm {
  width: 266px !important;

  @media (min-width: 1230px) {
    position: absolute;
    right: 30px;
    margin-top: -70px;
  }
}

.search {
  background-color: var(--euiColorLightestShade) !important;
  height: 40px !important;
}

.account {
  width: 100%;
  min-height: 44px;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid var(--euiColorLightShade);
  background-color: var(--euiColorLightestShade) !important;
}

.account_item {
  display: inline-block;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  color: var(--euiTextColor);

  :global(.euiLoadingContent) {
    display: inline-block;
    width: 100px;
    position: relative;
  }

  :global(.euiLoadingContent__singleLine) {
    margin-bottom: 0;
    display: inline-block;
    height: 12px;
    vertical-align: middle;
  }
}

.account_item_title {
  color: var(--euiTextSubduedColor);
}

.panelCancelBtn {
  max-width: 350px !important;
  margin-left: -10px;
}

.tooltipColumnName {
  max-width: 370px !important;

  * {
    line-height: 1.19;
    font-size: 14px !important;

    &:not(:global(.euiToolTip__title)) {
      font-weight: 300 !important;
    }
  }
}

.errorBtn {
  height: 100% !important;
  > span {
    padding: 0 !important;
  }
}

.tooltipStatus {
  width: 375px !important;
  max-width: 375px !important;

  padding-left: 15px !important;
  padding-top: 15px !important;
  font-size: 14px !important;

  :global(.euiToolTip__title) {
    padding: 5px 10px 0 !important;
  }
}

.tooltipStatusList {
  font-weight: 300 !important;
  opacity: 0.85;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 14px !important;

  li {
    line-height: 20px;
  }

  .dot {
    margin-left: 10px;
  }

  .dot::before {
    font-size: 8px;
    padding: 0 14px;
    content: ' \25CF';
    vertical-align: middle;
  }
}

.tooltipColumnNameText {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noSubscriptions {
  color: var(--euiTextSubduedColor) !important;
  margin: 50px auto 0;
  text-align: center;
}
