.noResultsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subTitle {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 6px;
  margin-bottom: 35px;
}
