.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error {
  display: flex;
  flex-direction: column;
  background-color: var(--euiColorEmptyShade);
  border-top: 1px solid var(--euiColorLightShade);
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: var(--euiColorColorWarning);
}
