# Add reviewers for the most sensitive folders
/.github/ viktar.starastsenka@redis.com artem.horuzhenko@redis.com kristiyan.ivanov@redis.com pavel.angelov@redis.com petar.dzhambazov@redis.com
/redisinsight/api/config/features-config.json viktar.starastsenka@redis.com artem.horuzhenko@redis.com kristiyan.ivanov@redis.com pavel.angelov@redis.com petar.dzhambazov@redis.com
