# Add reviewers for the most sensitive folders
/.github/ viktar.starastsenka@redis.com egor.zalenski@softeq.com artem.horuzhenko@redis.com
/.circleci/ viktar.starastsenka@redis.com egor.zalenski@softeq.com artem.horuzhenko@redis.com
/redisinsight/api/config/features-config.json viktar.starastsenka@redis.com egor.zalenski@softeq.com artem.horuzhenko@redis.com
