.detailsRow {
  margin-bottom: 4px;
}
.vendorLabel {
  flex-direction: row !important;
  align-items: center !important;

  :global(.euiIcon) {
    margin-right: 4px;
  }
}

.loading {
  border-top-color: var(--euiColorGhost) !important;
}
