.main {
  height: 100%;

  .title {
    font-size: 16px;
    line-height: 24px;
  }

  .actionsLine {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .countSelectWrapper {
    height: 30px;
  }

  .countSelect {
    min-width: 58px;
    max-width: 84px;
    height: 30px;
    padding-left: 12px;
    padding-right: 32px;
    border: none !important;

    & ~ :global(.euiFormControlLayoutIcons) svg {
      width: 12px;
    }
  }
}
