.monitorLogWrapper {
  display: flex;
  min-height: 72px;

  margin: 10px 6px 6px 6px;
  padding: 6px 0;

  background: var(--euiColorLightestShade);
  box-shadow: 0 3px 15px var(--controlsBoxShadowColor);
  border-radius: 4px;

  font-family: 'Graphik', sans-serif;
  font-size: 14px;
  letter-spacing: -0.14px;
  overflow: hidden;

  .time {
    display: flex;
    align-items: center;
    :global(svg) {
      margin-right: 6px;
    }
  }

  .actions {
    margin-top: 6px;
  }

  .btn {
    height: 36px !important;
    line-height: 36px !important;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
}
