.header {
  background-color: var(--browserTableRowEven);
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px 12px;

  .dbName {
    overflow: hidden;
    margin-right: 16px;

    :global(.euiText) {
      font-weight: 500;
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
  }

  .headerBtn {
    width: 24px;

    :global {
      .euiButtonEmpty__text {
        margin-inline-start: 0;
      }
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .headerBtnAnchor {
    margin-left: 4px;
  }
}

.popover {
  min-width: 300px !important;
}

.openTutorialsBtn {
  display: block !important;
  margin-left: auto;
}
