:root {
  --gap-s: var(--size-s);
  --gap-m: var(--base);
  --color-primary: var(--euiTextColor); // todo: take from theme
  --color-subdued: var(--euiTextSubduedColor);
  --background-hover: var(--euiColorEmptyShade);
  --backgroundPrimaryHover: var(--euiPageBackgroundColor)
}
.ListGroup {
  display: flex;
  flex-direction: column;

  &-flush {
    margin: 0;
    padding: 0;
    border: 0 none;

    .ListGroupItem {
      border-radius: 0;
    }
  }

  &-gap {
    &-none {
      gap: 0;
    }

    &-s {
      gap: var(--gap-s);
    }

    &-m {
      gap: var(--gap-m);
    }
  }
}

.ListGroupItem {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 150ms;
  // sizes
  &-xs {
    border-radius: var(--border-width-small);
  }

  &-s {
    border-radius: var(--border-width-small);
  }

  &-m {
    border-radius: var(--border-width-medium);
  }

  &-l {
    border-radius: var(--border-width-medium);
  }

  // colors
  &-active-primary {
    background-color: var(--color-primary);
  }

  &-active-text {
    background-color: var(--color-subdued);
  }

  &-active-subdued {
    background-color: var(--color-subdued);
  }

  &-clickable-primary {
    &:hover, &:focus-within {
      background-color: var(--color-subdued);
    }
  ;
  }

  &-clickable-text {
    &:hover, &:focus-within {
      background-color: var(--color-subdued);
    }
  ;
  }

  &-clickable-subdued {
    &:hover, &:focus-within {
      background-color: var(--color-subdued);
    }
  ;
  }

  .inner {
    padding: var(--size-xs) var(--size-s);
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-inline-size: 100%;
    overflow: hidden;
    text-align: start;
    font-weight: inherit;
    // sizes
    &-xs {
      font-size: 12px;
      font-weight: 450;
      letter-spacing: 0;
      min-height: var(--size-l);
    }

    &-s {
      font-size: 14px;
      font-weight: 450;
      letter-spacing: 0;
      min-height: var(--size-xl);
    }

    &-m {
      font-size: 16px;
      min-height: var(--size-xl);
    }

    &-l {
      font-size: 20px;
      min-height: var(--size-xxl);
    }
  }
}
