.git
.idea
.vscode
.circleci
.docker

coverage
dll
**/node_modules
release

redisinsight/dist
redisinsight/node_modules
redisinsight/main.prod.js

redisinsight/api/.nyc_output
redisinsight/api/coverage
redisinsight/api/dist
redisinsight/api/node_modules

redisinsight/ui/dist
