{
  "semi": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": false
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "semi": false
      }
    }
  ]
}
