.popoverWrapper.popoverWrapper.popoverWrapper {
  border: 1px solid var(--externalLinkColor);

  :before {
    border-left: 12px solid var(--externalLinkColor) !important;
  }
  :after {
    border-left-width: 13px !important;
  }
}

:global {
  .euiPanel--paddingMedium {
    padding: 18px !important;
  }
}

.popover {
  max-width: 564px !important;
  word-wrap: break-word;
}

.popoverFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.ackBtn:global(.euiButton.euiButton--secondary) {
  min-width: initial !important;
  color: var(--textColorShade) !important;
}

.ackBtn :global(.euiButtonContent .euiButton__text) {
  font: normal normal normal 12px/18px Graphik, sans-serif !important;
}
