@import './variables';

code {
  background-color: var(--euiColorLightestShade);
  border-radius: 4px;
  padding: 3px 6px;
}

pre > code {
  display: flex;
  padding: 12px;
  width: 100%;
  white-space: pre-wrap;
  background-color: var(--euiColorLightestShade);
  border-radius: 2px;
  margin-bottom: ($margin-size-pace * 6 + px);
  @media only screen and (max-width: ($m-breakpoint + px)) {
    padding:6px;
  }
}
