.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .chatHistory {
    flex-grow: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .chatForm {
    flex-shrink: 0;
    padding: 0 12px 12px;
  }
}
