.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .header {
    background-color: var(--browserTableRowEven);
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 12px;
  }

  .chatHistory {
    flex-grow: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .chatForm {
    flex-shrink: 0;
    padding: 0 12px 12px;
  }

  .headerBtn {
    width: 24px;

    :global {
      .euiButtonEmpty__text {
        margin-inline-start: 0;
      }
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
