@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/global_styling/variables/index';

$rowHeight: 43px;


.container {
  display: flex;
  flex-direction: column;

  .entryIdContainer {
    width: 50%;
    flex-shrink: 0;

    .timestampText {
      display: inline-block;
      color: var(--euiColorMediumShade);
      font: normal normal normal 12px/18px Graphik;
      margin-top: 6px;
    }
  }

  .fieldsWrapper {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    margin-top: 24px;
  }


  .fieldsContainer {
    @include euiScrollBar;
    max-height: calc(4*#{$rowHeight});
    overflow-x: hidden;
  }
}


.entryIdTooltip {
  max-width: 275px !important;
}


.deleteBtn {
  position: absolute;
  display: none;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.row {
  position: relative;

  &:hover {
    .deleteBtn {
      display: block;
    }

    .fieldValue {
      padding-right: 40px;
    }
  }
}

.addRowBtn {
  margin-top: 12px;
}
