.tableWrapper {
  flex-grow: 1;
  height: calc(100% - 100px);

  @media screen and (max-width: 1024px) {
    height: calc(100% - 120px);
  }

  :global {
    .ReactVirtualized__Table__row {
      border: 1px solid var(--tableDarkestBorderColor) !important;

      &:first-of-type {
        border-top: 0 !important;
      }

      &:not(:last-of-type) {
        border-bottom: 0 !important;
      }
    }

    .ReactVirtualized__Table__rowColumn {
      &:not(:last-of-type) {
        border-right: 1px solid var(--tableDarkestBorderColor) !important;
      }
    }
  }

  .commandTooltip {
    max-width: 100%;
  }

  .commandText {
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
  }
}

.noSlowLogWrapper {
  border: 1px solid var(--tableDarkestBorderColor);
  min-height: 152px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px;

  .noFoundTitle {
    font: normal normal 500 18px/24px Graphik, sans-serif;
    margin-bottom: 12px;
  }

  .noSlowLogText {
    margin: 0 auto;
    max-width: 882px;
    width: 100%;
  }
}
