.container {
  height: 60px;

  .text {
    color: var(--euiColorMediumShade) !important;
  }
}

.progress {
  display: inline-block;
}

.progressContainer {
  margin-left: 12px;
}

.changeReport :global(.euiSuperSelectControl) {
  border: none !important;
  padding-right: 34px !important;

  & ~ :global(.euiFormControlLayoutIcons) svg {
    width: 12px;
  }
}

.infoIcon {
  color: var(--euiColorMediumShade);
  cursor: pointer;
}
