.button {
  justify-content: space-between;
  &:not(:hover) {
    span {
      color: var(--euiTextSubduedColor);
    }
  }
}

.buttonText {
  flex: 1;
  text-align: center;
  letter-spacing: normal;
}
