.content {
  width: 100%;
  background-color: var(--euiColorEmptyShade);

  padding: 4px 12px;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
}

.bottom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  min-height: 38px;

  flex-wrap: wrap;
}

.viewTypeSwitch {
  margin-left: 8px;
  flex-shrink: 0;
  background-color: var(--browserViewTypePassive) !important;
  border-radius: 4px;
}

.viewTypeBtn {
  width: 24px !important;
  height: 24px !important;
  background-color: var(--browserViewTypePassive) !important;

  svg {
    color: var(--euiTextSubduedColor) !important;
  }

  svg > g > path {
    fill: var(--euiTextSubduedColor) !important;
  }

  &:hover {
    background-color: var(--euiColorLightestShade) !important;;
  }

  &.active {
    background-color: var(--browserComponentActive) !important;

    svg {
      color: var(--euiColorPrimary) !important;
    }

    svg > g > path {
      fill: var(--euiColorPrimary) !important;
    }
  }
}

.keysSummary {
  margin: 4px 8px 4px 4px;
}

.keysControlsWrapper {
  display: flex;
  align-items: center;
  margin: 4px 4px 4px auto;
}
