.content {
  width: 100%;
  background-color: var(--euiColorEmptyShade);

  height: 108px;
  padding: 18px 18px 0;

  display: flex;
  flex-direction: column;
  position: relative;

  .addKey {
    height: 36px !important;
    width: 78px !important;

    :global(.euiButton__text) {
      font: normal normal 500 15px/24px "Graphik", sans-serif !important;
    }
  }

  .bulkActions {
    height: 36px !important;
    width: 36px !important;
    min-width: 36px !important;
    margin-left: 6px;

    :global(.euiButtonContent) {
      padding: 0 !important;
    }
  }
}

.top,
.bottom {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 38px;
}

.top {
  justify-content: space-between;
}

.bottom {
  padding-top: 10px;
}

.exitFullScreenBtn {
  margin-left: 18px;
}

.viewTypeSwitch {
  padding: 0 18px;
  flex-shrink: 0;
  &.middleScreen {
    padding: 0 36px;
  }
  &.fullScreen {
    padding: 0 120px;
  }
}

.viewTypeBtn {
  width: 36px !important;
  height: 36px !important;
  background-color: var(--browserViewTypePassive) !important;

  svg {
    color: var(--euiTextSubduedColor) !important;
  }

  svg > g > path {
    fill: var(--euiTextSubduedColor) !important;
  }

  &.active {
    background-color: var(--browserComponentActive) !important;

    svg {
      color: var(--euiColorPrimary) !important;
    }

    svg > g > path {
      fill: var(--euiColorPrimary) !important;
    }
  }
}

.refreshContainer {
  right: 18px;
  position: absolute;
}
