.content {
  width: 100%;
  background-color: var(--euiColorEmptyShade);

  height: 108px;
  padding: 18px 18px 0;

  display: flex;
  flex-direction: column;
  position: relative;

  .addKey {
    height: 36px !important;
    width: 78px !important;

    :global(.euiButton__text) {
      font: normal normal 500 15px/24px 'Graphik', sans-serif !important;
    }
  }
}

.top,
.bottom {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 38px;
}

.top {
  justify-content: space-between;
}

.bottom {
  padding-top: 10px;
}

.exitFullScreenBtn {
  margin-left: 18px;
}

.refresh {
  right: 18px;
  position: absolute;
}

.btnRefresh {
  svg {
    width: 20px;
    height: 20px;
  }
}

.refreshTime {
  color: var(--euiColorWarningLight);
  padding-right: 6px;
}

.refreshSummary {
  vertical-align: middle;
  font: normal normal normal 12px/18px 'Graphik', sans-serif !important;
  letter-spacing: -0.12px;
}

.tooltip {
  max-width: 372px !important;
}

.viewTypeSwitch {
  padding: 0 18px;
  flex-shrink: 0;
  &.middleScreen {
    padding: 0 36px;
  }
  &.fullScreen {
    padding: 0 120px;
  }
}

.viewTypeBtn {
  width: 36px !important;
  height: 36px !important;
  background-color: var(--browserViewTypePassive) !important;

  svg {
    color: var(--euiTextSubduedColor) !important;
  }

  svg > g > path {
    fill: var(--euiTextSubduedColor) !important;
  }

  &.active {
    background-color: var(--browserComponentActive) !important;

    svg {
      color: var(--euiColorPrimary) !important;
    }

    svg > g > path {
      fill: var(--euiColorPrimary) !important;
    }
  }
}
