@import './variables';

blockquote {
  padding: 0 10px;
  border-left: 2px solid var(--euiColorSecondary);
  margin-bottom: ($margin-size-pace * 6 + px);
  margin-top: ($margin-size-pace * 2 + px);;
  font-style: italic;
}
