@import './variables';

h1, h2, h3, h4, h5, h6 {
  color: var(--euiColorGhost);
  font: normal normal 500 14px/24px Graphik, sans-serif;
  margin-bottom: ($margin-size-pace * 3 + px);
  margin-top: ($margin-size-pace * 3 + px);
  letter-spacing: 0;
}

hr + h1, hr + h2, hr + h3, hr + h4, hr + h5, hr + h6 {
  margin-top: 0;
}

p + {
  p, pre, h1, h2, h3, h4, h5, h6 {
    margin-top: ($margin-size-pace * 3 + px);
  }
}


a {
  text-decoration: underline;
  &:focus {
    text-decoration: underline;
  }
}

b, strong {
  letter-spacing: -0.12px;
  color: var(--htmlColor);
}

em, i {
  b, strong {
    font-style: italic;
  }
}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
