@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.content {
  max-width: 100%;
  max-height: 320px;
  overflow: auto;
  @include euiScrollBar;

  font-size: 11px;
  background: var(--browserTableRowEven);
  word-wrap: break-word;
  white-space: break-spaces;
}

.code {
  word-wrap: break-word;
  white-space: break-spaces;
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.anchorBtn {
  display: inline-flex !important;
}

.actionBtn {
 &:global(.euiButton) {
   height: 20px !important;
   min-width: auto !important;
   margin-left: 4px;
   background: none !important;
   border: 0 !important;
   box-shadow: none !important;

   :global {
     .euiButton__content {
       padding: 0 4px !important;
     }

     .euiButton__text {
       font-size: 11px !important;
       line-height: 12px !important;
       font-weight: 400 !important;
     }

     .euiButtonContent__icon {
       width: 12px;
       height: 12px;
     }
   }
 }
}

.copyBtn {
  &:global(.euiButton) {
    color: var(--euiTextSubduedColor) !important;

    :global(.euiButton__text) {
      margin-inline-start: 4px;
      color: var(--euiTextSubduedColor) !important;
    }
  }
}

.runBtn {
  &:global(.euiButton) {
    color: var(--buttonSuccessColor) !important;

    :global(.euiButtonEmpty__text) {
      color: var(--buttonSuccessColor) !important;
      margin-inline-end: 4px;
    }
  }

  :global {
    .euiLoadingSpinner {
      width: 12px;
      height: 12px;
      border-width: 2px;
      border-top-color: transparent !important;
    }
  }
}

.popover {
  min-width: 372px !important;
}

.popoverAnchor {
  display: inline-flex !important;
}

.popoverFooter {
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .showAgainCheckBox {
    :global(.euiCheckbox__label) {
      font-size: 12px !important;
    }
  }

  .popoverBtn {
    margin-left: 8px;
    min-width: auto !important;

    :global(.euiButton__text) {
      font-size: 12px !important;
    }
  }
}
