.anchorTooltipNode {
  width: 100%;
  display: inline-block;
  position: relative;
}

.nodeContainer {
  border-left: 3px solid transparent;

  &:hover {
    background-color: var(--browserComponentActive);
  }
}

.nodeContent {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 8px;
  color: var(--euiTextSubduedColor) !important;
  font: normal normal normal 13px/28px Graphik, sans-serif !important;
  letter-spacing: -0.13px;
  white-space: nowrap;

  &Open {
    color: var(--euiColorFullShade) !important;
  }
}

.nodeSelected {
  border-left-color: var(--euiColorPrimary) !important;
  background-color: var(--browserComponentActive);

  .nodeContent {
    color: var(--euiColorFullShade) !important;
  }
}

.nodeName {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nodeIcon {
  margin-right: 8px;

  &Arrow {
    margin-left: 8px;
    margin-right: 6px;
    width: 10px !important;
    height: 10px !important;
  }

  &Leaf {
    margin-left: 25px;
    margin-bottom: 2px;
    width: 14px;
    height: 14px;
  }
}

.approximate {
  display: inline-block;
  width: 36px;
  text-align: end;
}

.options {
  padding-left: 12px;
  font-size: 12px;
  font-weight: 300;
}
