.container {
  height: 34px;
  line-height: 34px;
  width: 100%;
  overflow: hidden;
  background-color: var(--euiPageBackgroundColor);

  padding: 0 10px 0 16px;
  z-index: 10;
}

.icon {
  margin-left: 5px;
}

.endpointContainer {
  cursor: default;
  font: normal normal normal 12px/15px Graphik, sans-serif !important;
  letter-spacing: -0.12px;
  max-width: 210px;
  display: inline-flex;
  padding-right: 10px;
}

.endpoint {
  font: normal normal normal 12px/15px Graphik, sans-serif !important;
  letter-spacing: -0.12px;
  display: inline-block !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.title {
  align-items: center;
  :global {
    .euiIcon {
      color: var(--euiColorPrimary);
      margin-right: 8px;
    }
  }
}

.cliOnboardPanel {
  margin-top: -4px;
}
