@mixin insights-open($max-width: 1440px) {
  :global(.insightsOpen) {
    @media only screen and (max-width: $max-width) {
      @content
    }
  }
}

@mixin home-page-resizer {
  @include insights-open {
    :global {
      .home {
        &__resizePanelLeft {
          &.openedRightPanel {
            display: none;
          }
        }

        &__resizableButton {
          display: none;
        }

        &__resizePanelRight {
          padding-left: 0;
          width: 100% !important;
        }
      }
    }
  }
}

