.wrapper {
  position: relative;
  height: 200px;
  max-width: 100% !important;
  border: 1px solid var(--controlsBorderColor) !important;

  :global(.inlineMonacoEditor) {
    height: 192px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    margin-bottom: 2px;
  }

  &:global(.disabled) {
    pointer-events: none;
    opacity: 0.5;
  }

  :global {
    .monaco-editor, .monaco-editor .margin, .monaco-editor .minimap-decorations-layer, .monaco-editor-background {
      background-color: var(--euiColorEmptyShade) !important;
    }

    .monaco-editor .hover-row.status-bar {
      display: none;
    }
  }

  .isEditing {
    padding-bottom: 40px;
  }

  .editBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 16px;
    right: 16px;

    width: 30px !important;
    min-width: 0 !important;
    height: 30px !important;
    border-radius: 100%;

    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    :global {
      .euiButton__content {
        padding: 0 !important;
      }

      .euiButton__text {
        line-height: 12px !important;
      }
    }
  }
}
