.emptyPipelineContainer {
  display: flex;
  align-items: center;
  // justify-content: center;
  // align-self: center;
  // vertical-align: bottom;
  flex-direction: column;
}

.subTitle {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 6px;
}
