.main-container {
  display: flex;
  height: 100vh;
  .main {
    flex: 1;
    padding: 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.euiScreenReaderOnly {
  // fix additional scroll
  display: none;
  // position: absolute !important;
}

.euiGlobalToastList {
  bottom: 68px !important;
}

.euiToast {
  background-color: var(--euiColorLightestShade) !important;

  &--success {
    background-color: var(--euiToastBackgroundColor) !important;
  }
}

// Fix for resolve conflict Elasti Tooltips and package 'custom-electron-titlebar'
.electron.euiBody-hasPortalContent {
  position: initial !important;
}
