.wrapper {
   &.fullSize {
     width: 100%;
     height: 100%;

     :global {
       .euiPopover, .euiPopover__anchor {
         width: 100%;
         height: 100%;
       }
     }
   }
}

.popoverPanel {
  position: fixed !important;
  background-color: var(--euiTooltipBackgroundColor) !important;
  border: 0 !important;
  max-width: 360px !important;

  &.lastStep {
    :global(.euiPopover__panelArrow) {
      display: none;
    }
  }

  .header {
    display: flex;
    flex-direction: column;

    .skipTourBtn {
      display: flex;
      align-self: flex-end;

      font-size: 11px;
      line-height: 14px;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;

    .stepCount {
      font-size: 14px;
    }

    .backNext {
      display: flex;
    }
  }


  :global {
    .euiTourFooter {
      display: none;
    }

    .euiTourHeader {
      padding: 10px 18px 0 !important
    }

    .euiPopover__panelArrow {
      &--right {
        &:before, &:after {
          border-right-color: var(--euiTooltipBackgroundColor) !important;
        }
      }
      &--left {
        &:before, &:after {
          border-left-color: var(--euiTooltipBackgroundColor) !important;
        }
      }
      &--bottom {
        &:before, &:after {
          border-bottom-color: var(--euiTooltipBackgroundColor) !important;
        }
      }
      &--top {
        &:before, &:after {
          border-top-color: var(--euiTooltipBackgroundColor) !important;
        }
      }
    }
  }
}
