:global {
  .euiPanel--paddingMedium {
    padding: 18px !important;
  }
}

.popover {
  max-width: 564px !important;
  word-wrap: break-word;
}

.popoverFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
