.footer {
  padding: 15px 14px 10px 30px !important;
}

.title {
  padding-bottom: 5px !important;
}

.subTitle {
}

.searchForm {
  width: 266px !important;
}

.panelCancelBtn {
  max-width: 350px !important;
  margin-left: -10px;
}

.tooltipColumnName {
  max-width: 370px !important;
  * {
    line-height: 1.19;
    font-size: 14px !important;

    &:not(:global(.euiToolTip__title)) {
      font-weight: 300 !important;
    }
  }
}

.errorBtn {
  height: 100% !important;
  > span {
    padding: 0 !important;
  }
}

.tooltipColumnNameText {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}
