$sideBarWidth: 60px;

.container, .bottomContainer {
  min-width: $sideBarWidth;
  position: relative;
  display: flex;

  @media only screen and (min-width: 768px) {
    flex-direction: column;
  }

  .navigationButton {
    min-width: 60px;
    min-height: 60px;
    height: 60px;
    width: 60px;

    border-radius: 0;
    color: #BDC3D7 !important;

    &:hover {
      background-color: #34406f !important;
      &.navigationButtonNotified {
        &:before {
          border-color: #34406f !important;
        }
      }
    }

    &.active {
      background-color: var(--euiColorSuccessText) !important;
      transform: none;
      cursor: default;
    }

    &.navigationButtonNotified {
      &:before {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 12px;
        height: 12px;
        border: 2px solid var(--navBackgroundColor);
        background-color: var(--euiColorPrimary);
        border-radius: 100%;
        z-index: 1;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}


.navigation {
  background: var(--navBackgroundColor) !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0 !important;

  @media screen and (max-width: 767px) {
    flex-direction: row !important;
  }
}

.dockController {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--navBackgroundColor);
}

.iconNavItem {
  display: inline-flex;
  height: 60px;
  width: 60px;

  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    height: 60px;
    width: 60px;
  }

  :global(.euiIcon) {
    width: 34px;
    height: 34px;
  }

  :global(.euiLink.euiLink--primary) {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    &:focus {
      animation: none !important;
    }
  }
}

.homeIcon {
  height: 60px;
  width: 72px;
  @media only screen and (min-width: 768px) {
    height: 72px;
    width: 60px;
  }
}

.githubLink {
  :global(.euiLink.euiLink--primary):focus {
    animation: none !important;
  }
  .githubIcon {
    width: 30px;
    height: 30px;
    // color of icon, no need variable here
    border: 2px solid #000;
    border-radius: 100%;
    transition: border-color ease .3s;
  }
  &:hover {
    .githubIcon {
      border-color: var(--euiColorSuccessText);
    }
  }
}

.popoverWrapper {
  min-width: 354px !important;
}

.popover {
  padding: 5px 15px 5px;
}

.helpMenuItem {
  align-items: center;
  cursor: pointer;

  :global(.euiButtonIcon), :global(.euiIcon) {
    color: var(--euiTooltipTextColor) !important;
  }

  .helpMenuItemLink {
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-1px);
    }

    &:global(.euiLink) {
      text-decoration: none !important;
      &:focus {
        animation: none !important;
      }
    }
  }
}

.helpMenuItemDisabled {
  cursor: auto;
  :global(.euiIcon), div {
    color: var(--buttonSecondaryDisabledTextColor) !important;
  }
}

.helpMenuItemNotified {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    right: -2px;
    top: -3px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--euiColorPrimary);
    border-radius: 100%;
  }
}

.helpMenuText {
  font-size: 13px !important;
  line-height: 1.35 !important;
}

.logo {
  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(1px);
  }
}

.highlightDot {
  top: 11px !important;
  right: 11px !important;

  &.activePage {
    background-color: #465282 !important;
  }
}
