.mainNavbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigationButtonWrapper {
  position: relative;
  
  .betaLabel {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) translateY(0);

    font-size: 8px !important;
    line-height: 12px !important;
    background-color: var(--recommendationLiveBorderColor) !important;
    border: 1px solid var(--triggerIconActiveColor) !important;
    color: #FFF7EA !important;
    border-radius: 2px !important;

    transition: transform 250ms ease-in-out;
    pointer-events: none;

    :global([class*='RedisUI']) {
      min-height: 12px !important;
    }
  }

  &:hover {
    .betaLabel {
      transform: translateX(-50%) translateY(-1px);
    }
  }
}

.footer {
  margin-bottom: 1rem;
}

.highlightDot {
  top: 11px !important;
  right: 11px !important;
}
