.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .header {
    background-color: var(--browserTableRowEven);
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 12px;
  }

  .dbName {
    overflow: hidden;
    margin-right: 16px;

    :global(.euiText) {
      color: var(--euiTextSubduedColor) !important;
    }
  }

  .chatHistory {
    flex-grow: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 12px
  }

  .chatForm {
    flex-shrink: 0;
    padding: 0 12px 12px;
  }

  .startSessionBtn {
    :global {
      .euiButtonEmpty__text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
