.fileDrop {
  display: none;
}

.uploadBtn {
  display: flex;
  cursor: pointer;
  padding: 4px 12px;
}

.emptyBtn:global(.euiButtonEmpty) {
  height: 22px;
  margin-top: 7px;
}

.emptyBtn:global(.euiButtonEmpty .euiButtonEmpty__content) {
  padding: 0;
}

.emptyBtn .icon {
  width: 14px;
  height: 14px;
  margin: 2px 4px 0 0;
  color: var(--inputTextColor);
}

:global(.euiButtonEmpty.euiButtonEmpty--primary).emptyBtn .label {
  color: var(--inputTextColor) !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}
