.breadcrumbsWrapper {
  color: var(--euiTextSubduedColor);
  display: flex;
  height: 58px;

  :global(.euiBreadcrumb) {
    margin-bottom: 0;
    font-size: 13px;
    letter-spacing: -0.13px;
    font-weight: 500;
    color: var(--euiTextSubduedColor) !important;

    > span {
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      vertical-align: super;
    }

    &:focus {
      background: none !important;
    }

    &:hover {
      color: var(--euiBreadcrumbActive) !important;
    }
  }

  :global(.euiBreadcrumb.euiLink.euiLink--subdued:focus) {
    animation: none !important;
  }

  :global(.euiBreadcrumb--last) {
    color: var(--euiBreadcrumbActive) !important;
  }

  :global(.euiBreadcrumbSeparator) {
    margin-right: 12px;
    width: 7px;
    height: 7px;
    margin-bottom: 4px;
    transform: rotate(45deg);
    border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    background: none;
  }
}

.breadcrumbText {
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbPostfix {
  padding-left: 3px;
}

.tooltipItem {
  margin-bottom: 4px;
}

.tooltipItemValue {
  margin-left: 4px;
  font-weight: 300;
}

.tooltip {
  max-width: 372px !important;
}
