$breakpoint-s: 850px;
$breakpoint-m: 1050px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1650px;

$marginIcon: 12px;

.container {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 20px;
  cursor: pointer;

  :global(.copy-btn) {
    margin-left: 5px;
    @media (min-width: $breakpoint-m) {
      margin-left: 10px;
    }
  }

  :global(.euiFlexGroup--gutterLarge > .euiFlexItem) {
    margin: $marginIcon $marginIcon/2 !important;

    @media (min-width: $breakpoint-m) {
      margin: $marginIcon !important;
    }
  }

  &.notExpanded {
    cursor: default;
  }
}

.isOpen {
  &.container {
    color: var(--euiColorPrimary);
    background-color: var(--tableRowSelectedColor) !important;
  }

  .title {
    color: var(--euiColorFullShade) !important;
  }
}

.title {
  display: inline-block;
  font: normal normal normal 13px/17px Graphik, sans-serif !important;
  letter-spacing: -0.13px;
  overflow: hidden;

  :global(.euiToolTipAnchor) {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
  }
}

.time {
  max-width: 90px;
  position: relative;
}

.mode + .mode {
  margin-left: 18px;
}

.timeText,
.summaryText {
  font: normal normal normal 12px/16px Graphik, sans-serif;
  letter-spacing: -0.12px;
  color: var(--euiColorMediumShade) !important;
  text-align: left;
}

.timeText {
  min-width: 126px;
}

.summaryTextWrapper {
  min-width: 86px;
}

.extraInfo {
  width: 210px;
  text-align: right;
}

.changeViewWrapper {
  display: flex;
}

.tooltipIcon {
  display: flex !important;
  flex: 1;
}

.dropdownWrapper {
  position: relative;
  height: 40px;
}

.dropdownProfileIcon {
  padding: inherit !important;
  :global {
    .euiSuperSelectControl.euiFormControlLayoutIcons {
      display: none !important;
    }
  }
}

.dropdownProfileOption {
  display: inherit !important;
}

.dropdownProfileItem {
  :global {
    .euiContextMenu__icon {
      display: none !important;
    }
  }
}

.dropdown {
  width: 168px;
  position: absolute;
  z-index: 1;

  // move a little bit left to align with dropdown options icons
  left: -21px;

  :global {
    .euiFormControlLayout__childrenWrapper {
      width: 46px;
      position: relative;
      // move right to align self
      left: 21px;
    }
  }
}

.executionTime {
  min-width: 13px;
  width: 13px;

  @media (min-width: $breakpoint-m) {
    min-width: 92px;
    width: 92px;
  }
}

.executionTimeValue {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
  }
}

.alignCenter {
  align-items: center;
}

.dropdownOption {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0 3px 8px;

  span {
    margin-left: 10px;
    line-height: 20px;
    overflow: hidden;
    max-width: 100px;
  }
}

.titleWrapper {
  overflow: hidden;
}

.controls {
  flex-shrink: 0;
}

.iconDropdownOption {
  width: 20px !important;
  height: 20px !important;
}

.iconExecutingTime {
  width: 13px !important;
  height: 13px !important;
  margin-right: 6px;

  path {
    fill: var(--iconsDefaultColor);
  }
}

.dropdownOptionSeparator:after {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  border-bottom: 1px solid var(--separatorDropdownColor);
  opacity: 0.5;
  position: absolute;
  bottom: -8.5px;
}

.changeView:global(.euiSuperSelectControl) {
  border: none !important;
  background-color: inherit !important;
  color: var(--iconsDefaultColor) !important;
  width: 46px;
  padding-right: 0;

  & ~ div {
    right: 0px;
    svg {
      width: 10px !important;
      height: 10px !important;
    }
  }
}

.changeViewItem {
  overflow-wrap: break-word;
  :global {
    .euiContextMenuItem__text {
      overflow: visible;
    }
    .euiContextMenu__icon {
      margin-right: 0;
    }
  }
  &:global(.euiContextMenuItem-isDisabled) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 12px !important;
    cursor: auto !important;
    &:hover {
      background: transparent !important;
    }
    :global(.euiContextMenu__icon) {
      height: 0;
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  background: var(--separatorDropdownColor);
  display: block;
  opacity: 0.5;
}

.buttonIcon {
  padding: 0 4px;
  width: 32px;
  min-width: 32px;
  position: relative;
  z-index: 2;
}

.container :global(.euiFlexItem).viewTypeIcon {
  width: 54px;
  min-width: 54px;
  margin: 0 $marginIcon/3 !important;
}

.container :global(.euiFlexItem).playIcon {
  margin-right: $marginIcon/3 !important;
}

.tooltipAnchor {
  width: 16px;
  margin-left: -4px;
  cursor: pointer;
}

:global(.fullscreen) .tooltipAnchor {
  margin-left: 0;
}
