$selectDelimiterHeight: 18px;

.anchorBtn {
  width: 60px;
  height: $selectDelimiterHeight;
  margin-left: 12px;
  padding-left: 6px;
  margin-bottom: 10px;
  border: 1px solid var(--separatorColor) !important;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;

  &Open {
    border-bottom: 2px solid var(--euiColorPrimary) !important;
  }

  svg {
    position: absolute;
    width: 12px !important;
    height: 12px !important;
    right: 5px;
    top: 3px;
  }
}

.popoverWrapper {
  height: 84px;
  width: 182px;
  padding: 12px 18px !important;
  margin-top: -18px;
  border: 1px solid var(--euiColorPrimary) !important;

  :global(.euiPopover__panelArrow) {
    &::before,
    &::after {
      content: none !important;
    }
  }
}

.inputLabel {
  display: inline-block;
  width: 70px;
  font-size: 14px;
  color: var(--euiTextSubduedColor)!important;
}

.input {
  display: inline-block;
  width: 72px;
}
