.mainComponent {
  height: calc(100% - 26px) !important;
}

.resizableButton {
  display: none;
  margin: -8px 16px -8px !important;
  z-index: 10;
  background-color: var(--euiPageBackgroundColor);
}

:global(.show-cli) {
  .resizableButton {
    display: block;
    z-index: 10;
  }

  .panelTop {
    padding-bottom: 8px;
  }

  .panelBottom {
    padding-top: 8px;
  }
}
