$paddingCell: 12px;

.customScroll {
  @include eui.scrollBar;
}

.grid {
  @include eui.scrollBar;
  position: relative;
}

.gridItem {
  z-index: 1;
  padding: $paddingCell;
  border: 1px solid var(--tableDarkestBorderColor);
  border-left-width: 0;
  border-top-width: 0;
  cursor: pointer;
}

.gridItemLast {
  z-index: 6;
  margin-top: -50px;
  padding-top: 16px;
}

.gridHeaderItem {
  overflow: hidden;
  align-items: center;
  line-height: 44px;
  height: 60px;
  text-transform: none;
  z-index: 5;
  padding: $paddingCell;
  background-color: var(--euiColorEmptyShade);
  border-bottom: 1px solid var(--tableDarkestBorderColor);

  &Sortable {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.gridItemOdd {
  background-color: var(--browserTableRowEven);
}
.gridItemEven {
  background-color: var(--euiColorEmptyShade);
}

.disableScroll {
  overflow-y: hidden !important;
}

.progress {
  z-index: 2;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.noItems {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tableDarkestBorderColor);
}
