$paddingCell: 12px;

.customScroll {
  @include eui.scrollBar;
}

.grid {
  @include eui.scrollBar;
  position: relative;
}

.gridItem {
  z-index: 1;
  padding: $paddingCell;
  border: 1px solid var(--tableDarkestBorderColor);
  border-left-width: 0;
  border-top-width: 0;
  cursor: pointer;

  &:global(.penult) {
    border-right: 0;
  }
}

.gridItemLast {
  z-index: 6;
  margin-top: -50px;
  padding-top: 16px;
  border-left: 1px solid var(--tableDarkestBorderColor);
}

.gridHeaderCell {
  border: 1px solid var(--separatorColorLight);

  &:not(:last-of-type) {
    border-right: 0;
  }

  &:first-of-type {
    border-right: 1px solid var(--separatorColorLight);
  }

  &:last-of-type, &:nth-of-type(2) {
    border-left: 0;
  }

  &:last-of-type {
    border-left: 1px solid var(--separatorColorLight);
  }
}

.gridHeaderItem {
  overflow: hidden;
  align-items: center;
  line-height: 38px;
  height: 58px;
  text-transform: none;
  z-index: 5;
  padding: $paddingCell;
  background-color: var(--euiColorEmptyShade);

  &Sortable {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.gridItemOdd {
  background-color: var(--browserTableRowEven);
}
.gridItemEven {
  background-color: var(--euiColorEmptyShade);
}

.disableScroll {
  overflow-y: hidden !important;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.noItems {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tableDarkestBorderColor);
}
