$animation-duration: 300ms;

.panel {
  display: flex;
  flex-direction: column;
  background-color: var(--euiColorEmptyShade);
  height: 100%;
  width: 450px;
  padding: 32px 16px 16px;
  margin-left: 16px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .title {
    font: normal normal normal 16px/19px Graphik, sans-serif !important;
  }
}

.content {
  width: 100%;
  height: 100%;
}

.loaderText {
  font: normal normal normal 16px/19px Graphik, sans-serif !important;
}

.loaderIcon {
  width: 41px;
  height: 41px;
  margin-top: 16px;
}
