.container {
  min-height: 1px;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 6px 0;
  width: 100%;
  background-color: var(--euiColorEmptyShade);
  & > div {
    width: 100%;
    padding: 0 16px;
  }
  :global(.euiPopover) {
    width: 100%;
  }
}

.footer {
  width: 100%;
  background-color: var(--euiColorEmptyShade);
}
.pageTitle {
  margin: 8px 0 4px;
  font:
    normal normal 500 14px/24px Graphik,
    sans-serif;
}
.backButton {
  padding: 0 4px;
  max-height: 30px;
  line-height: 24px;
  width: 100%;
  & > button {
    font: normal normal 14px/24px Graphik,
    sans-serif !important;
    text-decoration: none;
    color: var(--euiTextSubduedColor) !important;

    & > span {
      justify-content: flex-start;
    }

    &:hover {
      background-color: var(--hoverInListColorDarken);
      color: var(--euiTextColor) !important;
      text-decoration: none !important;
    }
  }
}
.content {
  @include eui.scrollBar;
  padding: 8px 12px 4px 16px !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.popover {
  min-width: 356px !important;
  width: 356px;
}

.popoverAnchor {
  width: 100%;
}

.rocketIcon {
  position: absolute;
  margin-top: 6px;
}

.popoverTitle,
.popoverText {
  padding-left: 45px;
}

.popoverTitle {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.popoverText {
  padding-top: 4px;
  font-size: 14px !important;
  line-height: 1.1rem !important;
}
