@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  height: 100%;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.main {
  @include euiScrollBar;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--euiColorEmptyShade);
  border-left: 1px solid var(--euiColorLightShade);
  border-right: 1px solid var(--euiColorLightShade);
  border-top: 1px solid var(--euiColorLightShade);
}
