.container {
  height: 100%;
  width: 100%;
  min-width: 230px;
}

.main {
  @include eui.scrollBar;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--browserTableRowEven);
  border-left: 1px solid var(--euiColorLightShade);
  border-right: 1px solid var(--euiColorLightShade);
  border-top: 1px solid var(--euiColorLightShade);
}
