:global(.section-content) {
  .noNamespaceMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px auto 100px;

    .noNamespaceParagraph {
      margin-top: 10px;

      .displayInlineBlock {
        display: inline;
      }

      .treeViewBtn {
        text-decoration: underline;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.expanded {
  display: flex;
  height: 42px;

  > div {
    display: flex;
    align-items: center;
    flex: 1;
  }
}
