.wrapper {
  margin-top: 15px;

  .keyNameWrapper {
    margin-top: 4px;
  }
}

.keyNameWrapper {
  position: relative;
}

.keyName {
  padding: 4px 30px 4px 8px;
  background-color: var(--recommendationBgColor);
  border: 1px dashed var(--separatorColorLight);
  border-radius: 4px;
  font: normal normal normal 13px/16px Graphik, sans-serif !important;
  height: 26px;
}

.keyName.dbAnalysis {
  background-color: var(--euiColorEmptyShade);
}

.text {
  font: normal normal normal 13px/16px Graphik, sans-serif !important;
  color: var(--htmlColor);
}

.btn {
  position: absolute;
  top: 0;
  right: 4px;
}
