.showPopoverBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.breadCrumbLink {
  cursor: pointer;
  text-decoration: underline;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  width: 450px;
  font-size: 14px;
  line-height: 16.8px;
}

.searchInputContainer {
  padding: 16px;

  .searchInput {
    border-radius: 4px !important;
  }
}

.tabs {
  display: flex;
  flex: 1;
  flex-shrink: 0 !important;
  overflow: initial !important;
  gap: 12px;
  padding: 0 16px;
  border-bottom: 1px solid var(--separatorColor);
  align-items: center;
  font-size: 14px !important;
  font-weight: 400 !important;

  .tab {
    margin-bottom: -1px;

    :global {
      .euiTab__content {
        font-size: 14px !important;
        font-weight: 400 !important;
        padding: 4px 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.emptyMsg {
  padding: 20px;
  text-align: center;
  font-size: 14px !important;
  line-height: 16.8px !important;
  color: var(--euiTextSubduedColor) !important;
}

.listContainer {
  @include eui.scrollBar;
  max-height: 160px;
  overflow-y: auto;
  .item {
    padding-left:10px !important;
    font-size: 14px !important;
    line-height: 16.8px !important;
    color: var(--euiTextSubduedColor) !important;
  }

  .loading {
    margin-right: 8px;
    border-color: var(--separatorDropdownColor) !important;
    border-top-color: var(--euiColorGhost) !important;
  }
}

.listContainer {
  :global(.euiListGroupItem-isActive), :global(.euiListGroupItem:hover) {
    background-color: var(--hoverInListColorDarken) !important;
    color: var(--euiTextSubduedColorHover) !important;
    border-left-color: var(--externalLinkColor) !important;
    border-left-width: 3px !important;
    border-left-style: solid !important;
    text-decoration: none !important;
  }
}

.footerContainer {
  padding: 12px 16px;
  .homePageLink {
    color: var(--euiTextSubduedColor) !important;
    font-size: 14px !important;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
