.errorMessage {
  color: var(--euiColorMediumShade);
  font-size: 11px;
  font-style: italic;
  max-width: 80%;
  text-align: right;
  align-self: flex-end;

  :global(a) {
    color: var(--euiColorMediumShade) !important;
  }
}

.restartSessionWrapper {
  display: flex !important;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 4px;
}

.restartSessionBtn {
  :global(.euiButton__text) {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  :global(.euiIcon) {
    width: 12px;
    height: 12px;
  }
}
