.collapsibleNav {
  width: 100%;
  margin-top: 5px !important;
  position: relative;

  &.disabled {
    :global {
      .euiAccordion__button {
        cursor: auto;
        pointer-events: none;
      }
      .euiAccordion__iconWrapper {
        display: none;
      }
    }
  }

  &:global(.euiAccordion-isOpen) {
    :global {
      .euiAccordion__triggerWrapper {
        border-radius: 0;
        border-color: transparent;
      }
    }
  }

  &:global(.success) {
    &:before {
      background-color: var(--successBorderColor);
    }
  }

  &:global(.failed) {
    &:before {
      background-color: var(--errorBorderColor);
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;

    border-radius: 4px 0 0 4px;

    z-index: 2;
  }

  :global {
    .euiCollapsibleNavGroup__title {
      font-size: 12px !important;
      font-weight: 400 !important;
      color: var(--euiTextSubduedColor) !important;
    }
    .euiAccordion__triggerWrapper {
      background-color: var(--euiColorEmptyShade);
      padding: 12px 24px 12px 32px !important;
      border-radius: 4px;
      border: 1px solid var(--separatorColor);
    }
    .euiCollapsibleNavGroup__children {
      padding: 0 !important;
    }

    .euiIEFlexWrapFix {
      flex-grow: 1;
      padding-right: 4px;
    }
  }
}

.collapsibleNavTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
