@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.main {
  position: relative;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 16px 48px 16px 16px;
    border-bottom: 1px solid var(--euiColorLightShade);


    .titleTooltip {
      width: auto;
      max-width: calc(100% - 120px);
    }
  }

  .content {
    position: relative;
    padding: 16px 16px 40px;

    @include euiScrollBar;
    overflow: auto;
    height: 100%;
    max-height: calc(100% - 58px);
  }

  .accordion {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .accordionIcon {
    margin-right: -12px;
  }

  .field {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .fieldName {
    margin-right: 12px;
  }

  .fieldValue {
    word-break: break-all;
    :global(.euiLink) {
      color: var(--htmlColor) !important;
    }
  }

  .badge {
    background-color: var(--browserComponentActive) !important;
    color: var(--euiColorPrimary) !important;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
