@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.wrapper {
  height: 100%;
}

.recommendationsContainer {
  @include euiScrollBar;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 70px);

  .accordionButton :global(.euiFlexItem) {
    margin: 0;

    .redisStackLink {
      margin-right: 16px;
      animation: none !important;
    }

    .redisStackIcon {
      width: 20px;
      height: 20px;
    }

    :global(.euiScreenReaderOnly) {
      display: none;
    }
  }

  :global(.euiAccordion__buttonReverse .euiAccordion__iconWrapper) {
    margin-left: 0;
  }

  :global(.euiFlexGroup--gutterLarge) {
    margin: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 162px;

  .noRecommendationsIcon {
    width: 154px;
    height: 127px;
  }
}

.bigText {
  font: normal normal 600 18px/22px Graphik, sans-serif !important;
  margin: 16px 0 12px;
}

.loadingWrapper {
  width: 100%;
  height: 129px;
  margin-top: 30px;
  background-color: var(--euiColorLightestShade);
  border-radius: 4px;
}

.recommendation {
  border-radius: 8px;
  border: 1px solid var(--recommendationBorderColor);
  background-color: var(--euiColorLightestShade);
  margin-bottom: 6px;
  padding: 30px 18px 11px;

  .accordionContent {
    padding: 18px 0 0 !important;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 15px;
    margin-top: 15px !important;
    border-top: 1px solid var(--separatorColor);
  }

  :global(.euiAccordion__triggerWrapper) {
    background-color: transparent;
  }

  :global(.euiPanel.euiPanel--subdued) {
    background-color: transparent;
  }

  :global(.euiAccordion.euiAccordion-isOpen .euiAccordion__triggerWrapper) {
    border-bottom: none;
  }

  :global(.euiIEFlexWrapFix) {
    display: block;
    width: 100%;
  }

  .accordionBtn {
    font: normal normal 500 16px/19px Graphik, sans-serif;
  }
}
