.container {
  height: 100%;
  display: flex;

  .advantagesContainer {
    max-width: 320px;
    padding: 0 24px 24px;
    background-color: var(--cloudSsoAdvantagesBgColor);
  }

  .socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 108px 60px 60px;

    .subTitle {
      font-size: 16px;
    }

    .title {
      font-weight: bold;
    }
  }

  .socialButtons {
    margin: 40px 0 60px;
  }
}
