.container {
  height: calc(100% - 34px);
  position: relative;
  width: 100%;

  background-color: var(--browserTableRowEven);
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
  border-top: 1px solid var(--euiColorLightShade);

  z-index: 10;
  overflow: hidden;
}

.searchWrapper {
  padding: 10px 10px 0 10px;
  background-color: var(--browserTableRowEven);
}

.outputWrapper {
  @include eui.scrollBar;
  display: flex;
  flex: 1;
  padding: 0 10px 10px 10px;

  width: 100%;
  min-width: 230px;
  overflow: auto;
  word-break: break-word;
  height: 100%;
  max-height: calc(100% - 64px);
}

.defaultScreen {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  line-height: 21px;
}

.summary {
  font:
    normal normal normal 13px/18px Graphik,
    sans-serif !important;
  letter-spacing: -0.13px !important;
  padding: 10px 0 5px;
}

.field {
  padding-top: 12px;
  font:
    normal normal normal 13px/17px Graphik,
    sans-serif !important;
  letter-spacing: -0.13px;
}

.fieldTitle {
  font:
    normal normal 500 14px/17px Graphik,
    sans-serif !important;
  letter-spacing: -0.14px;
  color: var(--euiTextSubduedColorHover);
  padding-bottom: 3px;
}

.arg {
  padding: 3px 10px;
  margin: 0 -10px;
  &:nth-child(2n) {
    background-color: var(--euiColorEmptyShade);
  }
}
.badge {
  background-color: var(--badgeBackgroundColor) !important;
  margin-right: 18px;
  min-width: 68px;
  text-align: center !important;
}

.commandHelperWrapper {
  height: 100%;
  border-top: 1px solid var(--euiColorLightShade);
  border-left: 1px solid var(--euiColorLightShade);
  border-right: 1px solid var(--euiColorLightShade);
}
