.container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 3px;
  background-color: var(--euiColorEmptyShade);
}

.actions,
.actionsHeader {
  width: 54px;
}

.tooltip {
  min-width: 325px;
}

.editLastId {
  margin-right: 4px;
}
