.content {
  width: 575px !important;
  min-width: 575px !important;
  padding: 16px;
  text-align: center;
}

.title {
  font-size: 28px !important;
  color: var(--htmlColor) !important;
  padding-top: 16px;
}

.subTitle {
  padding: 24px 40px 0;
  font-size: 14px !important;
}

.providers {
  padding: 30px 45px 22px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .providerBtn {
    width: 138px !important;
    height: 105px !important;
    border-radius: 8px !important;
    background-color: var(--euiColorEmptyShade) !important;
    border-color: var(--separatorColorLight) !important;

    &.activeProvider {
      border: 2px solid var(--euiColorPrimary) !important;
    }

    :global(.euiButton__text) {
      display: none;
    }

    svg {
      width: auto;
      height: initial;
      max-width: 44px;
    }
  }
}

.provider {
  position: relative;
}

.providerLabel {
  font-size: 10px !important;
}

.providerActiveIcon {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--euiColorPrimary);

  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 5;

  svg {
    width: 12px;
    height: 22px;
    fill: var(--euiColorMediumShade);

    path {
      fill: var(--euiColorEmptyShade);
    }
  }
}

.awsIcon svg > path:first-of-type {
  fill: var(--euiColorFullShade);
}

.region {
  padding: 2px 45px;
  text-align: left;

  .selectDescription {
    padding-top: 10px;
    color: var(--euiColorMediumShade) !important;
  }

  :global(.euiSuperSelectControl) {
    border-radius: 4px;
    background-color: var(--euiColorLightestShade) !important;
  }

  :global(.euiTextColor) {
    font-size: 14px !important;
  }
}

.regionSelectItem {
  background-color: var(--euiColorLightestShade) !important;
  &:hover {
    background-color: var(--hoverInListColorLight) !important;
  }

  :global(.euiTextColor) {
    font-size: 14px !important;
  }

  :global(.euiContextMenuItem__text) {
    position: relative;
  }
}

.regionName {
  padding-left: 4px;
  color: var(--euiColorMediumShade) !important;
}

.footer {
  width: 100%;
  padding-top: 32px;
  text-align: right;
  padding-bottom: 1px;
}

.button {
  margin-left: 8px;
}

.tfOptionIconTooltip {
  display: inline;
}

.tfOptionIcon {
  display: inline-block !important;
  width: 16px !important;
  margin-left: 11px;
  margin-bottom: 0 !important;
}

:global(.euiTextColor).rspreview {
  font-size: 12px !important;
  margin-left: 11px;
  color: var(--euiColorMediumShade) !important;
}
