.wrapper {
  position: relative;
}

.innerTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  position: fixed;
  background: var(--separatorColor);
  color: var(--htmlColor);
  padding: 10px;
  visibility: hidden;
  border-radius: 4px;
  z-index: 5;
}

.chartLabel {
  fill: var(--euiTextSubduedColor);
  font-size: 12px;
  font-weight: bold;

  .chartLabelValue {
    font-weight: normal;
  }
}

.arc {
  stroke: var(--euiColorLightestShade);
  stroke-width: 2px;
  cursor: pointer;
}
