.status {
  cursor: pointer;
  width: 11px !important;
  min-width: 11px !important;
  height: 11px !important;
  border-radius: 50%;

  &.new {
    background-color: var(--euiColorPrimary) !important;
  }

  &.warning {
    width: 14px !important;
    height: 14px !important;
    background-color: var(--euiColorWarningLight) !important;

    line-height: 14px !important;
    text-align: center;
    color: var(--euiColorEmptyShade);
    font-size: 11px;
  }
}

.statusAnchor {
  margin-top: 20px;
  margin-left: -19px;
  position: absolute;

  &.warning {
    margin-top: 17px;
    margin-left: -21px;
  }
}

.tooltip {
  min-width: 340px !important;
}

.warningTooltipContent {
  display: flex;
  align-items: flex-start;

  :global(.euiIcon) {
    margin-top: 4px;
    margin-right: 12px;
  }
}
