.container {
  padding: 16px;
}

.breadcrumbsContainer {
  height: 100%;
  display: flex;
  align-items: center;

  & > div {
    display: flex;
  }

  .breadCrumbLink {
    color: var(--euiColorPrimary) !important;
    font-size: 14px !important;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.rdiName {
  display: inline-block !important;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.divider {
  color: var(--euiTextSubduedColor);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 8px;
}
