.container {
  font-family: 'Graphik', sans-serif !important;

  br {
    display: block !important;
    content: "";
    margin: 2em;
    font-size: 34%;
  }

  ul {
    list-style: disc !important;
    padding-left: 20px !important;
  }

  :global(.query-card-output-response-fail) {
    padding: 6px 0;
    color: var(--euiColorDanger) !important
  }
}

.table {
  margin: 0 -20px !important;

  :global(.euiTableRowCell) {
    background-color: var(--euiPageBackgroundColor) !important;
  }

  br {
    font-size: 18%;
  }

  a {
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
    color: var(--buttonSecondaryTextColor);

    &:hover {
      text-decoration: none;
    }
  }
}

.createCloudBtn {
  border: 2px solid var(--euiColorSecondary);
  padding: 9px 24px;
  margin: 20px 0;
  letter-spacing: normal;
  border-radius: 4px;
  text-align: left;
  position: relative;
  width: 413px;
  height: 64px;
  padding-right: 40px;
  background: url(../../../../assets/img/NYbg.jpg) center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--overlayPromoNYColor);
  }

  &:hover {
    transform: translateY(-1px);
  }

  .createTitle {
    padding-top: 3px;
    line-height: 16px;
    color: #ffffff !important;
    position: relative;
    font-weight: 500 !important;
  }

  .createText {
    font-size: 12px !important;
    color: #ffffff !important;
    position: relative;
  }

  .arrowRight {
    display: block;
    position: absolute;
    right: 14px;
    top: calc(50% - 11px);
    color: #ffffff;
    width: 20px;
    height: 20px;
  }
}


.summary {
  display: flex;

  > div {
    padding-bottom: 10px;
  }
}

.alertIconWrapper {
  height: 19px;
  display: inline-flex;
  align-items: center;
}

.summaryImg {
  width: 468px !important;
  height: 174px !important;
  margin-right: 22px;
}

@media only screen and (max-width: 700px) {
  .summaryImg {
    width: 312px !important;
    height: 116px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .summary {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .container :global(.euiFlexGroup--responsive .query-card-output-response-fail) {
    margin: 10px 0 !important;
  }

  .table {
    :global(.euiTableRowCell) {
      background-color: initial !important;
      max-width: 100% !important;
      width: 100%;
      border-top: 1px solid var(--euiColorLightShade) !important;
    }

    :global(.euiTableRow) {
      padding: 0 !important;
      border-right: 0 !important;
      background-color: var(--euiPageBackgroundColor) !important;
    }
  }
}
