@import "@elastic/eui/src/global_styling/index";

.page {
  padding: 1px 16px 16px !important;
}

.header {
  padding-bottom: 16px;
}

.emptyPanel {
  @include euiScrollBar;

  overflow: auto;
  position: relative;
  height: 100%;


  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
