.container {
  padding: 6px 16px 6px;
  height: 70px;
}

.breadcrumbsContainer {
  height: 100%;
  display: flex;
  align-items: center;

  & > div {
    display: flex;
    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

.tooltip {
  max-width: 372px !important;
}

.tooltipAnchor {
  max-width: 100%;
  &:hover {
    .infoIcon {
      color: currentColor;
    }
  }
}

.dbName {
  display: inline-block !important;
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.infoIcon {
  color: var(--euiColorMediumShade);
}

