.container {
  padding: 6px 16px 6px;
  height: 70px;
}

.breadcrumbsContainer {
  height: 58px;
  background-color: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightShade);
  padding: 0 12px;
}

