.popoverWrapper {
  .petardIcon {
    width: 20px;
    height: 18px;
    margin-right: 4px;
  }
  
  .text {
    font: normal normal normal 12px/14px Graphik, sans-serif !important;
  }

  .closeBtn {
    width: 14px;
    height: 14px;
    margin-left: 4px;
  }
  
  .feedbackBtn {
    padding: 4px 8px 4px 4px;
    margin-top: 10px;
    height: 22px !important;
  
    :global(.euiButtonContent.euiButton__content) {
      padding: 0;
    }
  
    :global(.euiLink).link {
      display: flex;
      align-items: center;
      color: var(--euiColorPrimaryText) !important;
      text-decoration: none !important;
      font: normal normal normal 12px/14px Graphik, sans-serif;
    }
  
    .link .githubIcon {
      margin-right: 2px;
    }
  }
}

:global(.euiPanel).popover {
  max-width: none !important;
  box-shadow: none !important;
  padding: 16px !important;
  color: var(--buttonSecondaryTextColor) !important;
}
