.fileDrop {
  display: none;
}

.uploadBtn {
  display: flex;
  cursor: pointer;
}

.emptyBtn:global(.euiButtonEmpty) {
  height: 22px;
  margin-top: 7px;
}

.emptyBtn:global(.euiButtonEmpty .euiButtonEmpty__content) {
  padding: 0 12px;
}

:global(.euiButtonEmpty.euiButtonEmpty--primary).emptyBtn .label {
  color: var(--inputTextColor) !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}
