.container {
  position: relative;
  padding-right: 0;

  @media screen and (max-width: 920px) {
    :global(.section-title-wrapper) {
      flex-direction: column;
      align-items: flex-start !important;

      .titleWrapper {
        margin-bottom: 12px;
      }

      .switch {
        margin-left: -10px;
      }
    }
  }

  .titleWrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.content {
  width: 100%;
  height: 300px;
}

.loadingWrapper {
  margin-top: 40px;
  background-color: var(--euiColorLightestShade);
  border-radius: 4px;
}

.chart {
  height: calc(100% - 40px);
  clear: both;
  width: 100%;
}

.switch {
  float: right;
  padding-right: 20px;
}
