<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>RedisInsight</title>
  {{> stylesPartial }}
</head>
<body>
  <div class="container">
    <div class="content">
      <header class="header">
        <div class="logo">
          {{> logoPartial }}
        </div>
      </header>
      <section class="section">
        {{#if errorCode}}
          {{> errorsPartial }}
        {{else}}
          <h1 class="title">Thank you</h1>
          <h2 class="subTitle">for connecting to Redis Cloud</h2>
        {{/if}}
        <div class="text">Please close this window and navigate back to RedisInsight</div>
      </section>
    </div>
  </div>
</body>
</html>
