@import './variables';

code {
  background-color: var(--euiColorLightestShade);
  border-radius: 2px;
  padding: 3px 7px;
}

pre > code {
  display: flex;
  padding: 8px;
  width: 100%;
  white-space: pre-wrap;
  background-color: var(--euiColorLightestShade);
  border-radius: 2px;
  margin-bottom: ($margin-size-pace * 3 + px);
}
