@import './variables';

b + ul, strong + ul, b + ol, strong + ol {
  margin-top: 10px;
}
ul:not(.euiPagination__list) {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 15px;
  li:not(:last-of-type) {
    margin-bottom: 5px;
  }
  ul, ol {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 15px;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 15px;
  li:not(:last-of-type) {
    margin-bottom: 5px;
  }
  ol, ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 15px;
  }
}

ul, ol {
  + p {
    margin-top: ($margin-size-pace * 3 + px);
  }
  li p {
    margin-bottom: 0;
  }
}
p + ul, p + ol {
  margin-top: -($margin-size-pace * 3 + px);
}

ul.contains-task-list {
  list-style-type: none;
  margin-left: 0;
}
