.popoverWrapper {
  width: 299px;

  &:global(.euiPanel) {
    padding: 16px !important;
  }
}

.anchor {
  .btn {
    display: flex;
    align-items: center;
    background-color: var(--insightsTriggerBgColor) !important;
    color: var(--euiTooltipTextColor) !important;
    border-radius: 4px;
    border-color: var(--tableRowSelectedColor) !important;
  }
}
