.container {
  flex-grow: 1;
  height: 36px;
  position: relative;

  :global(.euiFormControlLayout) {
    max-width: calc(100%) !important;
    height: 36px !important;
  }
}

:global(.euiFieldSearch) {
  &.input {
    height: 34px !important;
    max-width: 100% !important;

    box-shadow: none !important;
    border: 1px solid var(--euiColorLightShade) !important;
  }
}

.hiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  font-size: 15px;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 50px;
  word-break: break-all;
}
