.container {
  flex-grow: 1;
  height: 36px;
  position: relative;

  :global(.euiFormControlLayout) {
    max-width: calc(100%) !important;
    height: 36px !important;
  }
}

:global(.euiFieldSearch) {
  &.input {
    height: 34px !important;
    max-width: 100% !important;

    box-shadow: none !important;
    border: 1px solid var(--euiColorLightShade) !important;
  }
}

.hiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  font-size: 15px;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 50px;
  word-break: break-all;
}

.askCopilotBtn {
  margin-left: 4px;

  :global {
    .euiButtonContent.euiButtonEmpty__content {
      .euiButtonEmpty__text {
        display: flex;
        align-items: center;
        color: var(--highlightDotColor) !important;
        font-size: 12px;
      }
    }
  }

  .cloudIcon {
    width: 14px;
    height: 14px;
    margin-right: 8px;

    :global {
      path {
        fill: var(--highlightDotColor) !important;
      }
    }
  }
}
