.container {
  flex-grow: 1;
  height: 36px;
  position: relative;

  :global(.euiFormControlLayout) {
    max-width: calc(100%) !important;
    height: 36px !important;
  }
}

.hiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  font-size: 15px;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 50px;
  word-break: break-all;
}

.askCopilotBtn {
  margin-left: 4px;

  .cloudIcon {
    width: 14px;
    height: 14px;

    :global {
      path {
        fill: var(--triggerIconActiveColor) !important;
      }
    }
  }
}
