.container {
  @include eui.scrollBar;
  flex: auto;
  padding: 9px 8px 9px 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  position: relative;

  font: normal normal normal 14px/17px Inconsolata;
  text-align: left;
  letter-spacing: 0;
  color: var(--textColorShade);

  background-color: var(--wbRunResultsBg);

  z-index: 6;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading {
  height: 17px;
  max-width: 600px;

  :global(.euiLoadingContent__singleLine) {
    margin-bottom: 0 !important;
  }
}

.container .alert {
  font-size: 14px !important;
  line-height: 17px !important;
  letter-spacing: -0.13px !important;
  color: var(--euiColorWarningLight) !important;
  margin-bottom: 4px;
}

.container .alertIcon {
  margin-right: 6px;
  margin-top: -3px;
}
