.wrapper {
  padding: 24px 20px;
  background: var(--recommendationBgColor);
  border: 1px solid var(--recommendationLiveBorderColor);
  border-radius: 8px;
  margin-bottom: 10px;

  &.read {
    border: 1px solid var(--controlsBorderColor);
  }

  .content {
    max-width: 300px;
  }

  .text {
    font: normal normal normal 14px/19px Graphik !important;
  }

  .span {
    display: inline;
  }

  .icon {
    margin-right: 5px;
  }

  .link {
    color: var(--externalLinkColor) !important;
  }
}

.actions {
  display: flex;
  margin-top: 22px;
  justify-content: space-around;
  align-items: flex-start;

  .btn {
    height: 24px !important;
    width: 77px !important;
    margin-top: 60px;

    :global(.euiButton__content) {
      padding: 0 10px;
    }

    :global(.euiButton__text) {
      font: normal normal 400 12px/14px Graphik, sans-serif !important;
    }
  }
}
