.recommendationAccordion {
  border: 1px solid var(--recommendationLiveBorderColor);
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;

  &.read {
    border: 1px solid var(--controlsBorderColor);
  }

  .redisStackLink {
    margin-right: 12px;
  }

  :global {
    .euiAccordion__button {
      padding: 4px 18px;
      border-bottom: 1px solid transparent;
      color: var(--htmlColor) !important;
      background-color: var(--recommendationBgColor) !important;
      font-size: 14px;
      font-weight: 500;

      transition: border-bottom-color ease 0.3s;

      .euiIEFlexWrapFix {
        display: inline-block;
        width: 100%;
      }
    }

    .euiAccordion.euiAccordion-isOpen {
      .euiAccordion__button {
        border-bottom-color: var(--controlsBorderColor);
      }
    }

    .euiPanel {
      background: var(--recommendationsBgColor) !important;
      padding-bottom: 0 !important;
    }
  }
}

.wrapper,
.recommendationAccordion {
  .text {
    font: normal normal normal 14px/19px Graphik !important;
  }

  .span {
    display: inline;
  }

  .code {
    background-color: var(--euiColorLightestShade);
    border-radius: 4px;
    padding: 3px 6px;
  
    code {
      font-size: inherit !important;
    }
  }

  .link {
    color: var(--externalLinkColor) !important;
  }

  :global {
    .vote__btn {
      &:hover,
      &:focus,
      &.selected {
        transform: none;
        background-color: var(--liveRecommendationVoteBgColor) !important;
      }
    }
  }
}

.actions {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--separatorColorLight);
  height: 40px;

  .btn {
    height: 24px !important;
    min-width: 60px !important;

    :global(.euiButton__content) {
      padding: 0 10px;
    }

    :global(.euiButton__text) {
      font: normal normal 400 12px/14px Graphik, sans-serif !important;
    }

    &:last-of-type {
      margin-left: 8px !important;
    }
  }
}

.accordionButton {
  width: 100%;
}

.votingContainer {
  :global {
    .voteContent {
      margin-left: 6px !important;
    }
    .euiText {
      font-size: 12px;
    }

    .vote__btn {
      width: 28px !important;
      height: 28px !important;
    }
  }
}

.keyNameContainer {
  background-color: var(--recommendationBgColor);
}
