.wrapper {
  padding: 32px 30px;
  display: flex;

  .image,
  .content {
    width: 50%;
  }

  .image {
    background-image: url(uiSrc/assets/img/triggers_and_functions.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content.fullWidth {
    width: 100%;
  }

  .contentWrapper {
    text-align: left;
  }

  .title {
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    font-weight: 500;
    word-break: break-word;
    margin-bottom: 16px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .linksWrapper .text,
  .text {
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    line-height: 17px;
    word-break: break-word;
    color: var(--wbTextColor) !important;
    text-decoration: none !important;
  }

  .additionalText {
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    line-height: 21px;
    word-break: break-word;
    color: var(--textColorShade) !important;
  }

  .bigText {
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
    line-height: 27px;
    word-break: break-word;
    color: var(--textColorShade) !important;
    margin-bottom: 16px;
  }

  .listItem {
    display: flex;
    margin-bottom: 12px;

    .iconWrapper {
      display: flex;
      flex: 0 0 16px;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--wbActiveIconColor);
      border-radius: 50%;
      margin-right: 10px;
    }

    .listIcon {
      width: 10px;
      height: 10px;

      path {
        fill: var(--euiPageBackgroundColor);
      }
    }
  }

  .linksWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .link {
      margin-right: 16px;
    }
  }

  .btn :global(.euiButton__text) {
    color: var(--euiColorPrimaryText) !important;
  }

  .marginBottom {
    margin-bottom: 16px;
  }
}
