.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .chatHistory {
    flex-grow: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .chatForm {
    flex-shrink: 0;
    padding: 0 12px 12px;
  }

  .startSessionBtn {
    width: 24px;

    &:disabled {
      opacity: 0.5;
    }

    :global {
      .euiButtonEmpty__text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  :global {
    .defaultLink {
      color: var(--externalLinkColor) !important;
    }
  }
}

.iconTelescope {
  width: 80px !important;
  height: 60px !important;
  margin-left: 12px;

  transform: rotateY(180deg) !important;
}
