.moreInfo {
  margin-right: 5px;
}

.moreInfoOverview {
  margin-bottom: 14px;
}

.moreInfoOverviewItem {
  margin-bottom: 8px;

  .moreInfoOverviewIcon {
    margin-right: 8px;
  }

  .moreInfoOverviewContent {
    margin-right: 6px;
    font-weight: 500;
    font-size: 13px;
  }

  .moreInfoOverviewTitle {
    margin-right: 6px;
    font-size: 12px;
  }
}

.mi_wrapper {
  width: 220px !important;
  white-space: pre-wrap;
}

.mi_fieldName {
  font-size: 13px !important;
  line-height: 16px;
  padding-bottom: 4px;
  font-weight: 500;
}

.mi_smallText {
  font: normal normal normal 12px/18px Graphik, sans-serif !important;
  color: var(--euiTooltipTextSecondColor) !important;
  margin-bottom: 8px;

  a {
    color: var(--euiTooltipTextColor) !important;
  }
}

.mi_version {
  color: var(--euiTooltipTextSecondColor) !important;
}

.mi_moduleName {
  padding-top: 4px;
  line-height: 15px;
}

.icon {
  margin-right: 6px;
  width: auto !important;
  height: 18px !important;
  max-width: 22px;
}
