.moreInfo {
  margin-right: 5px;
}

.metricsContainer {
  width: 220px;
  margin-right: 20px;
}
.modulesContainer {
  width: 180px;
}

.moreInfoOverview {
  margin-bottom: 14px;
}

.moreInfoOverviewItem {
  margin-bottom: 8px;

  .moreInfoOverviewIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 8px;
    min-width: 22px;
  }

  .moreInfoOverviewContent {
    flex-direction: row;
    margin-right: 6px;
    font-size: 12px;
  }

  .moreInfoOverviewTitle {
    margin-right: 6px;
    font-size: 12px;
    font-weight: 200;
    line-height: 19.5px;
  }
}

.mi_fieldName {
  font-size: 13px !important;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

.mi_smallText {
  font: normal normal normal 12px/18px Graphik, sans-serif !important;
  color: var(--euiTooltipTextSecondColor) !important;
  margin-bottom: 8px;

  a {
    color: var(--euiTooltipTextColor) !important;
  }
}

.mi_version {
  color: var(--euiTooltipTextSecondColor) !important;
}

.mi_moduleName {
  margin-top: 4px;
  line-height: 15px;
}

.icon {
  width: auto !important;
  height: 18px !important;
  max-width: 22px;
}
