:global {
  .euiPopoverTitle {
    text-transform: none !important;
  }
}

.container {
  position: absolute;
  z-index: 10;

  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--cloudSsoAdvantagesBgColor);
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid var(--euiColorPrimary);
}

.text {
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: var(--htmlColor) !important;
}

.actions {
  padding-left: 24px;

  .action {
    height: 24px !important;

    :global(.euiButtonContent) {
      padding: 0 12px !important;
    }
    :global(.euiButton__text) {
      font-size: 12px !important;
      font-weight: 400 !important;
      font-size: 12px;
      line-height: normal;
    }
  }
}

.cross {
  svg {
    width: 13px;
    height: 13px;

    path {
      fill: var(--htmlColor) !important;
    }
  }
  :global(.euiButtonIcon) {
    margin-left: 10px;
  }
}

.icon {
  width: 13px !important;
  height: 13px !important;
  margin-right: 10px;

  path {
    fill: var(--euiColorPrimary) !important;
  }
}
