:global {
  .euiPopoverTitle {
    text-transform: none !important;
  }
}

.container {
  position: fixed;

  width: 462px;
  height: 50px;
  background-color: var(--euiColorLightShade);
  border-radius: 20px;
  bottom: calc(9vh + 9px);
  padding-left: 5px;
}

.text {
  font-size: 12px;
}
.actions {
  span,
  svg {
    font-size: 14px !important;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.cross {
  :global(.euiButtonIcon) {
    margin-left: 15px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
