.container {
  max-width: 400px;
  min-height: 440px;

  margin: auto;
  text-align: center;
}

.img {
  max-width: 248px;
  margin: 0 auto;
}

.title {
  font-size: 18px !important;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addKey {
  height: 36px !important;
  width: 78px !important;
  margin-right: 12px;

  :global(.euiButton__text) {
    font-size: 14px !important;
  }
}

.uploadBtn {
  margin-left: 12px;
  height: 36px !important;


  :global(.euiButton__text) {
    font-size: 14px !important;
  }
}
