.container {
  padding: 12px 0 60px;
  margin: auto;
  text-align: center;

  .img {
    max-width: 174px !important;
    margin: 0 auto;
  }

  .title {
    font-size: 28px !important;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .addKey {
    height: 36px !important;
    width: auto !important;
    margin-left: 12px;

    transition: color ease 0.3s, background-color ease 0.3s, transform ease 0.3s;

    &:hover {
      transform: translateY(-1px) !important;
    }

    :global(.euiButton__text) {
      font-size: 14px !important;
    }
  }
}
