$breakpoint-m: 1150px;
$breakpoint-l: 1400px;

.tooltipColumnName {
  max-width: 370px !important;
  * {
    line-height: 1.19;
    font-size: 14px !important;
    &:not(:global(.euiToolTip__title)) {
      font-weight: 300 !important;
    }
  }
}

.tooltipAnchorColumnName {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.tooltipColumnNameText {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: inherit;

  &.withDb {
    max-width: 89%;

    @media (min-width: $breakpoint-m) {
      max-width: 92%;
    }

    @media (min-width: $breakpoint-l) {
      max-width: 95%;
    }
  }
}

.columnModules {
  height: 40px;
  padding-right: 0 !important;
}

.tooltipLogo {
  width: 88px !important;
  height: 18px !important;
}

.newStatus {
  background-color: var(--euiColorPrimary) !important;
  cursor: pointer;
  width: 11px !important;
  min-width: 11px !important;
  height: 11px !important;
  border-radius: 6px;
}

.newStatusAnchor {
  margin-top: 20px;
  margin-left: -19px;
  position: absolute;
}

.container {
  // Database alias column
  tr > th:nth-child(2),
  tr > td:nth-child(2) {
    padding-left: 5px !important;
  }

  :global {
    .itemList {
      height: calc(100vh - 207px);
    
      @media (min-width: 768px) and (max-width: 1100px) {
        height: calc(100vh - 150px);
      }
    
      @media (min-width: 1101px) {
        height: calc(100vh - 175px);
      }
    }
  }
}

.cloudIcon {
  :global {
    path {
      fill: var(--euiTextSubduedColor);
    }
  }
}
