:global {
  .browserPage {
    .key-details-header {
      .euiFieldText--compressed,
      .euiFormControlLayout--compressed {
        height: 29px !important;
      }

      .euiFormControlLayout {
        width: 100%;
        max-width: 100%;

        &.euiFormControlLayout--readOnly {
          border: 1px solid var(--controlsBorderColor);
          cursor: auto;
        }

        input {
          height: 29px !important;
          cursor: pointer;
          max-width: none;
          font-family: 'Graphik', sans-serif !important;
        }
      }
    }
  }
}

:global(.browserPage .key-details-header .euiFormControlLayout) {
  .keyInputEditing {
    height: 31px !important;
  }
}

.container {
  min-height: 108px;
  padding: 18px 18px 12px 18px;
  border-bottom: 1px solid var(--euiColorLightShade);
  min-width: 100%;
  position: relative;
}

.key {
  display: flex;
  width: 100%;
  min-width: 100%;

  padding-left: 9px;
  line-height: 31px !important;
}

.flexItemTTL {
  width: 152px;
  min-width: 152px;
}

.ttlInput {
  min-width: 106px;
  font-size: 13px !important;
  &.editing {
    width: 124px;
  }
}

.keyInput {
  height: 31px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.ttlGridComponent,
.classNameGridComponent {
  position: relative;
}

.subtitleText {
  padding: 6px 2px 6px 0;
}

.hidden {
  display: none;
}

.ttlTextValue {
  padding-left: 11px;
}


.controlsTTL,
.controlsKey {
  position: absolute;
  background-color: var(--euiColorLightestShade);
  margin-top: 30px;
  right: 0;
  width: 80px;
  height: 33px;
  border-radius: 0 0 10px 10px;

  z-index: 1;

  :global(.euiButtonIcon) {
    width: 50% !important;
    height: 100% !important;
  }
}

.controlsKey {
  right: 25px;
}

.keyFlexItem {
  overflow: hidden;
}

.keyFlexItemEditing {
  overflow: inherit;
}

.cancelEditBtn:hover {
  color: var(--euiColorColorDanger) !important;
}

.applyEditBtn:hover {
  color: var(--euiColorSecondary) !important;
}

.popoverDeleteContainer {
  overflow: hidden;
  max-width: 350px !important;
}

.popoverFooter {
  margin-top: 10px;
}

.closeBtn {
  padding-top: 0 !important;

  svg {
    width: 20px;
    height: 20px;
  }
}

.backBtn:global(.euiButton.euiButton--fill.euiButton--secondary) {
  background-color: var(--browserComponentActive) !important;
  border-color: var(--browserComponentActive) !important;
  color: var(--buttonSecondaryTextColor) !important;

  &:hover, &:focus {
    color: var(--buttonSecondaryTextColor) !important;
  }
}

.flexItemKeyInput {
  flex-direction: row !important;
  width: 100% !important;
}

.copyKey {
  position: absolute;
  padding-left: 7px;
  padding-top: 4px;
  right: 0;
  height: 31px;
  width: 25px;
}

.subtitleActionBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 13px;
}

.toolTipAnchorKey {
  max-width: calc(100% - 25px);
  height: 31px !important;
}

.keyHiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  max-width: 100%;
  margin-right: 80px;
  word-break: break-all;
}

.actionBtn {
  margin-right: 12px;
  position: relative;
  z-index: 2;

  &.withText {
    color: var(--euiTextSubduedColor) !important;
    :global(.euiButton__text) {
      font: normal normal normal 12px/18px Graphik !important;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.groupSecondLine {
  margin-top: 4px !important;
}

.refreshSummary {
  color: var(--euiColorMediumShade) !important;
  font: normal normal normal 12px/18px Graphik, sans-serif;
  padding-bottom: 2px;
  margin-right: 4px;
}

.refreshTime {
  color: var(--euiTextSubduedColor) !important;
}
