@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.main {
  margin: 0 16px 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  .contentPanel,
  .footerPanel {
    background-color: var(--euiColorEmptyShade);
  }

  .contentPanel {
    flex-grow: 1;
  }

  .footerPanel {
    margin-top: 16px;
    padding: 10px 18px 28px;
  }

  .header {
    padding: 24px 18px 12px;
    border-bottom: 1px solid var(--separatorColor);
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .tableWrapper {
    width: 100%;
    height: calc(100% - 125px);
    padding: 18px 0 0 18px;

    :global(.ReactVirtualized__Grid) {
      @include euiScrollBar;
    }
  }
}

