.pagination {
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--separatorColor);
  & > div:first-of-type,& > div:last-of-type  {
    min-width: 94px;
  }
}

.paginationCompressed {
  padding: 8px 16px;
  & > div:first-of-type, & > div:last-of-type {
    min-width: 70px;
  }

  :global(.euiButtonContent .euiIcon) {
    width: 14px;
    height: 14px;
  }
}

.prevPage, .nextPage {
  & > span {
    justify-content: flex-start;
  }
}

.prevPageCompressed {
  & > span {
    padding: 0 12px 0 4px !important;
  }
}
.nextPageCompressed {
  & > span {
    padding: 0 4px 0 12px !important;
  }
}
