.summary {
  padding-top: 18px;
  :global(.euiFlexItem) {
    padding-right: 42px !important;
  }
}

.summaryValue {
  font-size: 18px !important;
  line-height: 24px;
  font-weight: 500 !important;
}
