.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none !important;
  border-top: 1px solid var(--euiColorPrimary);
  padding: 12px 20px;
  max-height: 234px;
  scroll-padding-bottom: 30px;

  .groupNameWrapper {
    flex-grow: 2 !important;
  }

  .timestampWrapper {
    min-width: 215px;
  }

  .idText, .error {
    display: inline-block;
    color: var(--euiColorMediumShade);
    font: normal normal normal 12px/18px Graphik, sans-serif;
    margin-top: 6px;
    padding-right: 6px;
  }

  .error {
    color: var(--euiColorDangerText);
  }
}
