.calculationWrapper {
  display: flex;
  align-items: center;
  min-width: 96px;
}

.cpuWrapper {
  min-width: 96px;
}

.calculation {
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

.spinner {
  width: 18px !important;
  height: 18px !important;
}
