.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;

    padding: 24px 32px;
    text-align: center;

    @include eui.scrollBar;
    overflow: auto;
    max-height: 100%;
  }

  .actionContainer {
    padding: 15px;
  }
}

.agreement {
  text-align: left;
}
