.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;

    padding: 24px 32px;
    text-align: center;

    @include eui.scrollBar;
    overflow: auto;
  }
}

.agreement {
  text-align: left;
}
