.sectionTitle {
  font-weight: 400 !important;
  display: flex;
  align-items: center;
}

.cloudSection {
  .typeBtn {
    min-width: 160px !important;
  }
}

.typeBtn {
  position: relative;
  width: 100%;
  height: 84px !important;
  padding: 0 12px;

  border-color: var(--separatorColorLight) !important;
  color: var(--buttonSecondaryTextColor) !important;
  box-shadow: none !important;

  &.small {
    padding: 0 8px;
    height: 52px !important;

    :global(.euiButton__text) {
      flex-direction: row;
    }

    .btnIcon {
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: transparent !important;
  }

  :global(.euiButton__text) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400 !important;
  }

  &:not(.small) {
    .btnIcon {
      margin-bottom: 8px;

      &.rocket {
        fill: currentColor;
        height: 24px;
        width: 24px;
      }
    }
  }



  .freeBadge {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    text-transform: uppercase;
    background-color: var(--euiColorLightestShade);
    border: 1px solid var(--euiColorPrimary);
    border-radius: 2px !important;
  }
}
