.container {
  display: flex;
  height: 85%;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  h2 {
    font: normal normal normal 17px/20px Graphik, sans-serif !important;
    margin-bottom: 0 !important;
    color: var(--euiTextSubduedColor) !important;
    font-weight: 300 !important;
  }
}

.body {
  font: normal normal normal 14px/18px Graphik, sans-serif !important;
  color: var(--euiTextSubduedColor);
}
