@font-face {
  font-family: 'Inconsolata';
  src: url('uiSrc/assets/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: bold;
  src: url('uiSrc/assets/fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-LightItalic.woff2') format('woff2');
}


@font-face {
  font-family: 'Graphik';
  src: url('uiSrc/assets/fonts/graphik/Graphik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-SemiboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'SourceCodePro';
  font-weight: 400;
  font-style: normal;
  src: url('uiSrc/assets/fonts/sourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
}
