@font-face {
  font-family: 'Inconsolata';
  src: url('uiSrc/assets/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: bold;
  src: url('uiSrc/assets/fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-LightItalic.otf') format('opentype');
}


@font-face {
  font-family: 'Graphik';
  src: url('uiSrc/assets/fonts/graphik/Graphik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('uiSrc/assets/fonts/graphik/Graphik-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('uiSrc/assets/fonts/graphik/Graphik-SemiboldItalic.otf') format('opentype');
}
