.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.fluid {
  width: 100%;
}

.flex-row {
  display: flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.line-clamp-1 {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
}

.line-clamp-2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
}

.relative {
  position: relative;
}

.italic {
  font-style: italic;
}

.truncateText {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  & > div,
  & > span,
  & > p {
    max-width: 100%;
  }
}

.transparent {
  opacity: 0;
}

.inline-flex {
  display: inline-flex !important;
}

.copy-btn,
.copy-near-btn {
  display: flex;
  margin-left: 25px;
  opacity: 0;
  height: 100% !important;
  transition: opacity 250ms ease-in-out;
}

.copy-near-btn {
  margin-left: 5px;
}

.copy-btn-wrapper {
  position: relative;
  display: flex;
  max-width: 100%;
  float: left;

  &:hover .copy-btn,
  &:hover .copy-near-btn {
    opacity: 1;
  }
}

.popover-without-top-tail {
  margin-top: -8px;

  .euiPopover__panelArrow {
    &::before,
    &::after {
      content: none !important;
    }
  }
}

.color-green {
  color: var(--defaultGreenColor) !important;
}
