.monaco-editor * {
  // font: initial !important;
}
.monaco-editor .markdown-docs {
 h1, h2, h3 {
   font-weight: bold;
   margin: 12px 0;
   font-size: 1.1em;
 }
  h2 {
    margin: 14px 0;
    font-size: 1.4em;
  }
  h1 {
    margin: 16px 0;
    font-size: 1.6em;
  }

  a {
    color: var(--euiTextSubduedColor) !important;
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.monaco-glyph-run-command {
  color: var(--rsSubmitBtn);
  opacity: .5 !important;
  margin-left: 10px;

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('uiSrc/assets/img/play_icon.svg');
    background-size: contain;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}
