.monaco-editor,
.monaco-editor .margin,
.monaco-editor .minimap-decorations-layer,
.monaco-editor-background {
  background-color: var(--monacoBgColor) !important;
}

.monaco-editor .markdown-docs {
  h1,
  h2,
  h3 {
    font-weight: bold;
    margin: 12px 0;
    font-size: 1.1em;
  }
  h2 {
    margin: 14px 0;
    font-size: 1.4em;
  }
  h1 {
    margin: 16px 0;
    font-size: 1.6em;
  }

  a {
    color: var(--euiTextSubduedColor) !important;
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.monaco-editor .accessibilityHelpWidget {
  overflow: auto;
}

.monaco-editor .suggest-widget {
  max-width: 100% !important;
  overflow: hidden;
}

.monaco-params-line {
  color: var(--monacoParamsColor) !important;
}

.monaco-glyph-run-command {
  color: var(--rsSubmitBtn);
  margin-left: 10px;
  opacity: 0.5 !important;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("uiSrc/assets/img/play_icon.svg");
    -webkit-mask-image: url("uiSrc/assets/img/play_icon.svg");
    background-color: var(--rsSubmitBtn);
    background-size: contain;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}

.monaco-widget {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  background: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightestShade);
  width: 220px;
  height: 30px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background: var(--hoverInListColorDarken);
    border-color: var(--hoverInListColorLight);
  }

  &__title {
    color: var(--euiTextSubduedColor);
  }

  &__shortcut {
    color: var(--euiColorMediumShade);
  }

  & * {
    background: transparent;
  }
}

.editorBounder {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
}
