.flexItemNoFullWidth {
  @media only screen and (max-width: 767px) {
    .euiFlexGroup--responsive > .euiFlexItem {
      width: inherit !important;
      flex-basis: inherit !important;
      margin-left: inherit !important;
      margin-right: inherit !important;
      margin-bottom: 8px !important;
    }

    .euiFlexGroup {
      flex-wrap: nowrap;
    }

    .euiFlexGroup--gutterLarge > .euiFlexItem {
      margin: 12px !important;
    }

    .action-buttons {
      margin-left: 10px;
    }
  }
}

.euiTableHeaderButton-isSorted .euiTableSortIcon {
  fill: var(--iconsDefaultColor) !important;
  &:hover {
    fill: var(--iconsDefaultHoverColor) !important;
  }
}

.euiFormControlLayoutCustomIcon .euiFormControlLayoutCustomIcon__icon {
  fill: var(--iconsDefaultColor);
}

.euiTableRowCell {
  color: var(--textColorShade) !important;
}

.euiModal {
  box-shadow: 0 3px 15px var(--controlsBoxShadowColor) !important;
  border: 0 !important;
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
  .euiPageSideBar {
    margin-bottom: 0 !important;
  }
}

.euiOverlayMask {
  padding-bottom: 0 !important;
  background: var(--overlayMaskBgColor) !important;
}

body .euiSuperSelect__listbox {
  max-height: 350px;
}

.euiPanel {
  border-color: var(--euiColorLightShade);
}

.euiFormControlLayout--group .euiFormLabel {
  background-color: var(--tableDarkestBorderColor);
  color: var(--htmlColor)
}

.euiFilePicker-hasFiles .euiFilePicker__promptText {
  color: var(--euiTextColor);
}

.euiFilePicker__showDrop .euiFilePicker__prompt, .euiFilePicker__input:focus+.euiFilePicker__prompt {
  background-image:
    linear-gradient(to top, var(--euiColorPrimary), var(--euiColorPrimary) 2px, transparent 2px, transparent 100%);
}
