.euiSuperSelect {
  .euiFormControlLayoutCustomIcon {
    transition: transform 0.1s linear;
  }
  &.euiPopover-isOpen {
    .euiFormControlLayoutCustomIcon {
      transform: rotateX(180deg);
    }
  }
}

.euiContextMenuItem.euiSuperSelect {
  &__item {
    min-height: 40px;
    &:focus {
      background: none;
      text-decoration: none;
    }
    &:hover {
      background: var(--hoverInListColorDarken);
      text-decoration: none;
      color: var(--euiColorGhost);
    }
    &.withColorDefinition {
      min-height: auto;
      &:hover,
      &:focus {
        background: var(--hoverInListColor);
      }
    }
  }
}
.euiPanel.euiPanel--plain {
  border-color: var(--euiColorLightShade);
  background-color: var(--euiColorEmptyShade);
}

.euiResizableButton:focus:not(:disabled):after,
.euiResizableButton:focus:not(:disabled):before {
  background-color: var(--euiColorPrimary);
}
