body {
  font-family: 'Graphik', sans-serif;
  font-size: 14px;
  letter-spacing: -0.14px;

  b {
    font-weight: 500;
  }

  .euiSuperSelect__item {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.13px;
  }

  .euiSuperSelect__item .euiContextMenuItem__text {
    line-height: 16px;
  }

  .euiText {
    font-size: 0.875rem;
    letter-spacing: -0.14px;
  }

  .euiText--small {
    font-size: 0.8125rem;
    letter-spacing: -0.13px;
    line-height: 1.1875rem;
  }

  .euiText--extraSmall {
    font-size: 0.75rem;
    letter-spacing: -0.12px;
  }

  .euiTitle {
    font-weight: 500;
    letter-spacing: normal;
  }

  .euiHealth--textSizeS {
    font-size: 0.8125rem;
    letter-spacing: -0.13px;
  }
}

body {
  input,
  textarea,
  select,
  button {
    font-family: 'Graphik', sans-serif;
  }
}

.euiSuperSelectControl {
  font-family: 'Graphik', sans-serif !important;
}

.euiText,
.euiTitle {
  color: var(--htmlColor) !important;
}

.euiTextColor.euiTextColor--default {
  color: var(--htmlColor);
}

.euiText h4,
.euiText dt {
  color: var(--euiTextSubduedColor) !important;
}

.euiTextColor--danger {
  color: var(--euiColorDangerText) !important;
}

.euiTextColor--warning,
.euiTextColor--warning.warning--light,
.euiIcon--warning.warning--light {
  color: var(--euiColorWarningLight) !important;
}

.euiTextColor--subdued {
  color: var(--euiTextSubduedColor) !important;
}

.euiIcon--ghost {
  color: var(--euiColorGhost) !important;
}

.euiContextMenuItem,
.euiSelect,
.euiSuperSelectControl,
.euiFieldText,
.euiFieldSearch,
.euiFieldNumber,
.euiFieldPassword,
.euiTextArea {
  font-family: 'Graphik', sans-serif !important;
  color: var(--htmlColor) !important;
}

.euiFieldText:disabled {
  background-color: var(--inputDisabledBackgroundColor) !important;
}

.euiButtonIcon--success {
  color: var(--euiColorSuccess) !important;
}
