.content {
  border: none !important;
  border-top: 1px solid var(--euiColorPrimary) !important;
  max-height: 400px;
}

.preview {
  background-color: var(--euiColorEmptyShade);
  color: var(--euiColorMediumShade);
  font: normal normal normal 13px/17px Inconsolata !important;

  min-height: 50px;
  word-wrap: break-word;
  white-space: break-spaces;
}
