.title {
  font-size: 18px;
  font-weight: 600 !important;
}
.table {
  :global(thead) {
    display: none;
  }
  :global {
    td, tr {
      border-color: var(--tableLightBorderColor) !important;
    }
  }
  &:global(.inMemoryTableDefault .euiTableCellContent span) {
    padding-top: 0 !important;
    white-space: normal;

  }
  :global(.euiBadge) {
    height: 22px;
    min-width: 34px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    :global(.euiText) {
      font-weight: 500;
    }

    :global(.badgeArrowUp), :global(.badgeArrowDown), :global(.shiftSymbol) {
      position: relative;
    }

    :global(.cmdSymbol) {
      font-size: 12px;
    }
  }
}
