.wrapper {
  padding: 8px 0;

  .warningMessage {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 14.4px !important;
    text-align: left;
    color: var(--euiColorMediumShade) !important;
    text-wrap: wrap;
  }

  // .panel {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;

  //   background-color: var(--euiColorLightestShade) !important;

  //   padding: 8px 18px !important;
  // }

  // .link {
  //   flex-grow: 1;
  //   text-align: center;
  //   margin-right: 18px;
  // }

  // .linkIcon {
  //   transform: rotate(45deg);
  // }
}
