.wrapper {
  padding: 8px 0;

  .warningMessage {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 14.4px !important;
    text-align: left;
    color: var(--euiColorMediumShade) !important;
    text-wrap: wrap;
  }
}
