.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;

  &.isOpen {
    .btn {
      outline: 0 !important;
      border-color: var(--euiColorPrimary) !important;
      background-color: var(--insightsTriggerBgColor) !important;
      border-radius: 4px;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    color: var(--recommendationColor);
    background: transparent !important;
    border-color: transparent !important;
    position: relative;
    height: 36px !important;
    width: 36px !important;
    min-width: 36px !important;
    box-shadow: none !important;

    :global(.euiButton__text) {
      display: none;
    }

    svg {
      width: 21px;
      height: 21px;
      color: var(--triggerIconActiveColor) !important;
    }
  }
}
