.redisIcon {
  width: 128px;
  height: 34px;
}

.consentsPopup {
  :global {
    width: 601px;
    max-width: 94vw;
    border: 1px solid var(--euiColorPrimary) !important;
    max-height: calc(100vh - 60px) !important;
    height: auto;
  }

  a {
    color: currentColor !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.modalHeader {
  padding: 30px 42px 12px !important;
  padding-bottom: 4px;
}

.modalBody :global(.euiModalBody__overflow) {
  padding: 0 42px 30px !important;
}

.consentsWrapper {
  @include eui.scrollBar;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 290px);
}

.pluginWarningHR {
  margin-bottom: 0 !important;
}

.requiredHR {
  margin: 0 !important;
}

.consentsPopupTitle {
  color: var(--euiTextSubduedColorHover);
  font-weight: 500 !important;
  font-size: 18px !important;
}

.smallText {
  font: normal normal normal 14px/24px Graphik !important;
  letter-spacing: -0.14px;
}

.label {
  color: var(--inputTextColor) !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.title {
  line-height: 24px !important;
  font-size: 16px !important;
}

.overlay {
  &.overlay_dark {
    background-image: url("uiSrc/assets/img/welcome_bg_dark.png") !important;
  }

  &.overlay_light {
    background-image: url("uiSrc/assets/img/welcome_bg_light.png") !important;
  }
}
