@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/global_styling/index';

.redisIcon {
  width: 140px;
  height: auto;
}

.consentsPopup {
  background-color: var(--tableRowHoverColor);
  border-color: var(--tableRowHoverColor);
  :global {
    min-width: 744px !important;
    width: 874px;
    max-width: 94vw;
    .euiModal__closeIcon {
      display: none;
    }
    .euiModal__flex {
      max-height: 84vh !important;
    }
  }

  a {
    color: currentColor !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.modalHeader {
  padding-bottom: 4px;
}

.consentsWrapper {
  @include euiScrollBar;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(84vh - 260px);
}

.pluginWarningHR {
  margin-bottom: 0 !important;
}

.consentsPopupTitle {
  color: var(--euiTextSubduedColorHover);
  font-weight: 500 !important;
  font-size: 18px !important;
}

.switchOption {
  color: var(--euiTextSubduedColorHover);
  font-size: 14px;
  font-weight: 500;
}

.label {
  color: var(--inputTextColor) !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.title {
  line-height: 24px !important;
  font-size: 16px !important;
}
