.wrapper {
  position: relative;

  &.isFormDisabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  .submitBtn {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;

    :global {
      .euiButton__content {
        padding: 0;
      }

      .euiButton__text {
        display: none;
      }
    }
  }
}

.validationTooltip {
  max-width: 340px !important;
}

.tooltipContent {
  display: flex;
  align-items: center;
}

.popoverAnchor {
  position: absolute;
  bottom: 6px;
  right: 10px;
  z-index: 1;

  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
}

.popover {
  max-width: 324px !important;

  .agreementsAccept {
    display: block;
    margin-left: auto;
  }
}

.agreementText {
  margin-top: 6px;
  font-size: 10px !important;
  line-height: 1.15 !important;
  color: var(--euiColorMediumShade) !important;
}
