.wrapper {
  position: relative;

  &.isFormDisabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  .textarea {
    height: 0;
    resize: none !important;
    background-color: var(--browserTableRowEven) !important;
    border: 1px solid var(--separatorColor) !important;

    padding: 8px 40px 8px 10px;
    scroll-padding-bottom: 8px;
    border-radius: 8px;

    min-height: 42px;
    max-height: 200px;
    background-image: none !important;

    font-size: 12px;

    transition: border-color ease .3s;

    &::placeholder {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    &:focus {
      border-color: var(--euiColorPrimary) !important;
    }
  }

  .submitBtn {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;

    :global {
      .euiButton__content {
        padding: 0;
      }

      .euiButton__text {
        display: none;
      }
    }
  }
}

.validationTooltip {
  max-width: 340px !important;
}

.tooltipContent {
  display: flex;
  align-items: center;
}

.popoverAnchor {
  position: absolute;
  bottom: 6px;
  right: 10px;
  z-index: 1;

  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
}

.popover {
  max-width: 324px !important;

  .agreementsAccept {
    display: block;
    margin-left: auto;
  }
}

.agreementText {
  margin-top: 6px;
  font-size: 10px !important;
  line-height: 1.15 !important;
  color: var(--euiColorMediumShade) !important;
}
