.container {
  background-color: var(--euiColorEmptyShade);
  max-width: 960px;
}

.content {
  padding-top: 24px;
  padding-bottom: 36px;
  display: flex;

  .label {
    font-size: 12px !important;
    line-height: 18px !important;
    padding-bottom: 1px;
    color: var(--euiColorMediumShade) !important;
  }
}

.item {
  padding-right: 24px;
}

.value {
  height: 22px;
  font-size: 18px !important;
  line-height: 18px !important;
  font-weight: 500 !important;
}

.loading {
  width: 422px;
  padding-top: 30px;

  :global(.euiLoadingContent__singleLine:last-child:not(:only-child)) {
    width: 75% !important;
    height: 12px !important;
  }
}

.borderLeft {
  border-left: 2px solid var(--separatorColorLight);
  padding-left: 24px;
}
