.notfoundpage {
  position: relative;
  height: 100vh;
  width: 100%;
}

.notfoundgroup {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1;
}

.notfoundpage h1 {
  font-weight: bold;
}

.errorSubtext {
  margin-top: 1.4rem;
}

.logoIcon {
  width: 128px;
  height: 100%;
}

.robotHolder {
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: 0;
  height: calc(100vh - 80px);
  width: auto;
}

@media (min-width: 1500px) {
  .robotHolder {
    right: 15%;
  }
}

.robot {
  height: 100%;
  width: auto;
}

@media (max-width: 1000px) {
  .robotHolder {
    height: max(calc(100vh - 200px), 300px);
  }
}

@media (max-width: 800px) {
  .robotHolder {
    height: max(calc(100vh - 300px), 300px);
  }
}

@media (max-width: 600px) {
  .robotHolder {
    height: max(calc(100vh - 400px), 300px);
  }
}
