@charset "UTF-8";

// disable plotly notifier
div.plotly-notifier {
  visibility: hidden;
}

.theme_DARK {
  --body-color: white;
  --text-color: #B5B6C0;

  // switches
  .euiSwitch .euiSwitch__body {
    background-color: #465282;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__button[aria-checked=true] .euiSwitch__thumb {
    border-color: #6B6B6B;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__label {
    font: 13px medium;
  }
  .euiSwitch .euiSwitch__button[aria-checked=false] .euiSwitch__body {
    background-color: #6B6B6B;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__thumb {
    background-color: white;
  }

  // Text field
  .euiFieldText {
    color: #B5B6C0;
    font-size: 14px;
    height: 30px;
    width: 240px;

    &:focus {
      background-image: unset;
    }
  }

  // Text legend
  .euiFormLegend {
    font-size: 13px medium;
    color: #B5B6C0;
  }
  .euiFormLegend:not(.euiFormLegend-isHidden) {
    margin-bottom: 6px;
  }

  // accordion
  .euiAccordion__button {
    font-size: 13px;
    color: #B5B6C0;
  }
  .euiAccordion__buttonReverse .euiAccordion__iconWrapper {
    display: flex;
    align-items: center;

    svg {
      height: 10px;
      width: 10px;
    }
  }
  .euiAccordion__button:focus .euiAccordion__iconWrapper {
    animation: unset !important;
    color: inherit;
    -webkit-animation: unset !important;
  }


  // toggle button group
  .euiButtonGroupButton .euiButton__text {
    text-transform: capitalize;
  }
  .euiButtonGroup--compressed .euiButtonGroupButton {
    height: 30px;
    width: 66px;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected {
    background-color: #292F47;
    color: #8BA2FF;
    font-size: 13px;
    padding: 0px;
    font-weight: normal;
    border-color: #465282;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:hover {
    background-color: #292F47;
    text-decoration: unset;
    outline: unset;
  }
  .euiButtonGroup--compressed .euiButtonGroup__buttons {
    label:first-child {
      border: 1px solid #465282;
      border-radius: 4px;
      border-right: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 68px;
      font-size: 13px;
    }
    label:last-child {
      font-size: 13px;
      width: 68px;
      border: 1px solid #465282;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .euiButtonGroup--compressed .euiButtonGroupButton {
    padding: 0px;
  }

  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:focus {
    background-color: #292F47;
    text-decoration: unset;
    outline: unset;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:focus-within {
    background-color: #292F47;
    border-color: #465282;
    text-decoration: unset;
    outline: unset;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]) {
    color: var(--wbTextColor);
    background: black;
    border-radius: 1px;
    text-decoration: none;
  }


  .rangeslider-mask-min, .rangeslider-mask-max {
    fill: #161617 !important;
    fill-opacity: 1 !important;
  }

  .chart-config-form {
    .more-options {
      section {
        background-color: #171717;
      }
    }
  }

  .button-point {
    background-color: black;
    border: 1px solid #465282;
  }

  .button-selected {
    color: #8BA2FF;
    background-color: #292F47;
  }
}

.rangeslider-handle-min, .rangeslider-handle-max {
  height: 0;
}

.theme_LIGHT {
  --body-color: black;
  --text-color: #527298;

  .rangeslider-mask-min, .rangeslider-mask-max {
    fill: #F6F7F9 !important;
    fill-opacity: 1 !important;
  }


  // switches
  .euiSwitch .euiSwitch__body {
    background-color: #243DAC;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__button[aria-checked=true] .euiSwitch__thumb {
    border-color: #C1CBD9;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__label {
    font: 13px medium;
  }
  .euiSwitch .euiSwitch__button[aria-checked=false] .euiSwitch__body {
    background-color: #C1CBD9;
  }
  .euiSwitch.euiSwitch--compressed .euiSwitch__thumb {
    background-color: white;
  }

  // Text field
  .euiFieldText {
    color: #415681;
    font-size: 14px;
    height: 30px;
    width: 240px;

    &:focus {
      background-image: unset;
    }
  }

  // Text legend
  .euiFormLegend {
    font-size: 13px medium;
    color: #527298;
  }
  .euiFormLegend:not(.euiFormLegend-isHidden) {
    margin-bottom: 6px;
  }

  // accordion
  .euiAccordion__button {
    font-size: 13px;
    color: #527298;
  }
  .euiAccordion__buttonReverse .euiAccordion__iconWrapper {
    display: flex;
    align-items: center;

    svg {
      height: 10px;
      width: 10px;
    }
  }
  .euiAccordion__button:focus .euiAccordion__iconWrapper {
    animation: unset !important;
    color: inherit;
    -webkit-animation: unset !important;
  }

  // toggle button group
  .euiButtonGroupButton .euiButton__text {
    text-transform: capitalize;
  }
  .euiButtonGroup--compressed .euiButtonGroupButton {
    height: 30px;
    width: 66px;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected {
    background-color: #D7E3FA;
    color: #3163D8;
    font-size: 13px;
    padding: 0px;
    font-weight: normal;
    border-color: #243DAC;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:hover {
    background-color: #D7E3FA;
    text-decoration: unset;
    outline: unset;
  }

  .euiButtonGroup--compressed .euiButtonGroup__buttons {
    label:first-child {
      border: 1px solid #243DAC;
      border-radius: 4px;
      border-right: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 68px;
      font-size: 13px;
    }
    label:last-child {
      font-size: 13px;
      width: 68px;
      border: 1px solid #243DAC;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .euiButtonGroup--compressed .euiButtonGroupButton {
    padding: 0px;
  }

  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]) {
    &:focus, &:focus-within, &:hover {
      background-color: #D7E3FA;
    }
  }

  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:focus {
    background-color: #D7E3FA;
    text-decoration: unset;
    outline: unset;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]).euiButtonGroupButton-isSelected:focus-within {
    background-color: #D7E3FA;
    border-color: #243DAC;
    text-decoration: unset;
    outline: unset;
  }
  .euiButtonGroupButton.euiButtonGroupButton--text:not([class*=isDisabled]) {
    background: white;
    border-radius: 1px;
    text-decoration: none;
  }


  .chart-config-form {
    .more-options {
      section {
        background-color: #F6F6F8;
      }
    }
  }

  .new-button {
    color: #343741;
  }

  .button-point {
    border: 1px solid #243DAC;
  }

  .button-selected {
    color: #3163D8;
    background-color: #D7E3FA;
  }
}

body {
  color: var(--body-color);
  overflow: hidden;
}

* div,
* span {
  font-family: 'Graphik', sans-serif !important;
}

.responseFail {
  color: red;
  padding: 12px !important;
  font-family: monospace !important;
}


.y-axis-config  {
  fieldset {
    width: 100%;
    .euiButtonGroup__buttons label {
      width: 100%;
    }
  }
}

.chart-config-form {

  display: flex;
  flex-direction: column;
  justify-content: center;


  .chart-top-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;

    fieldset {
      min-width: 150px;
    }

    & > * {
      padding-right: 36px;
    }
  }

  .more-options {
    section {
      display: flex;
      padding-top: 24px;
      padding-bottom: 36px;
      padding-left: 30px;
      margin-bottom: 5px;

      & > * {
        padding-right: 30px;
      }

      .right-y-axis {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .switch-wrapper {
          width: 100%;
        }

      }

      .y-axis-2 {
        width: 100%;
        .y-axis-2-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 13px;
          padding-bottom: 10px;
        }
      }

    }
  }
}

.zoom-helper-text {
  display: flex;
  justify-content: flex-end;
  padding-right: 3em !important;
  padding-top: 0.3em !important;
  color: var(--text-color);
}


.config-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-staircase-label {
  padding-right: 10px !important;
}


.theme_DARK {
    .button-point {
        background-color: black;
        border: 1px solid #465282;
    }

    .button-selected {
        color: #8BA2FF;
        background-color: #292F47;
    }
}

.theme_LIGHT {
    .new-button {
        color: #343741;
    }

    .button-point {
        border: 1px solid #243DAC;
    }

    .button-selected {
        color: #3163D8;
        background-color: #D7E3FA;
    }
}

.new-button {
    box-shadow: none!important;
    border-radius: 2px;
    cursor: pointer;
    height: 32px;
    overflow: visible;
    display: flex;

    div {
        font-size: 13px;
        padding: 0px;
        font-weight: normal;
        height: 30px;
        width: 68px;
    }

    div:first-child {
        border-radius: 4px;
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    div:last-child {
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .button-point {
        text-transform: capitalize;
        text-align: center;
        padding: 6px;
    }
}
