@import "@elastic/eui/src/global_styling/index";

$borderWidth: 2px;

.button {
  @include euiButtonBase;
  display: flex;
  min-width: 245px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: $borderWidth solid var(--euiColorSecondary);
  padding: 0 20px;
  color: var(--inputTextColor);
  font: normal normal bold 14px/17px Graphik, sans-serif !important;
  letter-spacing: -0.14px;

  &Empty {
    padding-left: 0;
    padding-right: 0px !important;
    min-width: 105px;
    border: none !important;
    background-color: transparent !important;
    font-weight: normal !important;
  }
}

.buttonOpen {
  border-bottom-width: 0 !important;
  padding-bottom: $borderWidth;
  border-radius: 4px 4px 0 0;
}

.popover {
  border: $borderWidth solid var(--euiColorSecondary) !important;
  background-color: var(--euiPageBackgroundColor) !important;
  border-top-width: 0 !important;

  &Empty {
    width: 138px !important;
    border: 1px solid var(--separatorColor) !important;
    background-color: var(--euiColorEmptyShade) !important;
  }
}

.item {
  padding: 10px 20px !important;
  background-color: transparent !important;
  text-decoration: none !important;
  font: normal normal bold 12px/17px Graphik, sans-serif;
  letter-spacing: -0.12px;
  &:hover {
    background-color: var(--hoverInListColorLight) !important;
    text-decoration: none !important;
  }
  &Empty {
    padding-left: 12px !important;
    padding-right: 6px !important;
  }
  a {
    text-decoration: none !important;
  }
}

.arrowIcon {
  fill: var(--iconsDefaultColor) !important;
}

.anchor {
  width: 245px;
  &Empty {
    width: 108px;
  }
}
