@import '@elastic/eui/src/global_styling/index';

$borderWidth: 2px;

.button {
  @include euiButtonBase;
  display: flex;
  min-width: 245px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: $borderWidth solid var(--euiColorSecondary);
  padding: 0 20px;
  color: var(--inputTextColor);
  font: normal normal bold 14px/17px Graphik, sans-serif;
}

.buttonOpen {
  border-bottom-width: 0 !important;
  padding-bottom: $borderWidth;
  border-radius: 4px 4px 0 0;
}

.popover {
  border: $borderWidth solid var(--euiColorSecondary) !important;
  background-color: var(--euiPageBackgroundColor) !important;
  border-top-width: 0 !important;
}

.item {
  padding: 10px 20px !important;
  background-color: transparent !important;
  text-decoration: none !important;
  font: normal normal bold 12px/17px Graphik, sans-serif;
  letter-spacing: 0;
  &:hover {
    background-color: var(--hoverInListColorLight) !important;
    text-decoration: none !important;
  }
  a {
    text-decoration: none !important;
  }
}

.arrowIcon {
  fill: var(--iconsDefaultColor) !important;
}

