@mixin font{
  font: normal normal normal 14px/24px Graphik;
  letter-spacing: -0.14px;
  @media only screen and (max-width: 1440px) {
    font: normal normal normal 13px/18px Graphik;
    letter-spacing: -0.13px;
  }
  @media only screen and (max-width: 992px) {
    font: normal normal normal 12px/18px Graphik;
    letter-spacing: -0.12px;
  }
}
$margin-size-pace: 4;

.enablement-area__page {
  padding-bottom: 12px;
  height: 100%;
  @include font;
  letter-spacing: -0.12px;

  h1, h2, h3, h4, h5, h6 {
    color: var(--euiColorGhost);
    font: normal normal 500 14px/24px Graphik;
    margin-bottom: ($margin-size-pace * 3 + px);
    margin-top: ($margin-size-pace * 3 + px);
    letter-spacing: 0;
  }

  hr + h1, hr + h2, hr + h3, hr + h4, hr + h5, hr + h6 {
    margin-top: 0;
  }

  p {
    margin-bottom: 20px;
  }

  .mb-s {
    margin-bottom: ($margin-size-pace * 3 + px);
  }
  .mt-s {
    margin-top: ($margin-size-pace * 3 + px);
  }

  a {
    color: var(--euiColorGhost);
    text-decoration: underline;
    &:focus {
      text-decoration: underline;
    }
  }
  b, strong {
    @include font;
    letter-spacing: -0.12px;
    color: var(--htmlColor);
  }
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--separatorColor);
    margin: ($margin-size-pace * 3 + px) 0;
  }

  code {
    display: flex;
    padding: 12px;
    width: 100%;
    background-color: var(--euiColorLightShade);
    white-space: pre-wrap;
    border-radius: 2px;
  }

  b + ul, strong + ul, b + ol, strong + ol {
    margin-top: 10px;
  }
  ul:not(.euiPagination__list) {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 15px;
    li:not(:last-of-type) {
      margin-bottom: 5px;
    }
    ul, ol {
      list-style-type: circle;
      list-style-position: outside;
      margin-left: 15px;
    }
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 15px;
    li:not(:last-of-type) {
      margin-bottom: 5px;
    }
    ol, ul {
      list-style-type: circle;
      list-style-position: outside;
      margin-left: 15px;
    }
  }

  ul, ol {
    + p {
      margin-top: ($margin-size-pace * 3 + px);
    }
    li p {
      margin-bottom: 0;
    }
  }
  p + ul, p + ol {
    margin-top: -($margin-size-pace * 3 + px);
  }

  //.sticky-footer {
  //  position: sticky;
  //  bottom: 0;
  //  border-top: 1px solid var(--separatorColor);
  //  padding: 12px 0;
  //  background-color: var(--euiColorEmptyShade);
  //}
}
