@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  min-height: 1px;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 4px;
  width: 100%;
  background-color: var(--euiColorEmptyShade);
}

.footer {
  width: 100%;
  background-color: var(--euiColorEmptyShade);
}


.content {
  @include euiScrollBar;
  padding: 14px 12px 4px 12px !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

