@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

$breakpoint-table: 1232px;

.main {
  height: 100%;
}

.main :global(.section-title) {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}
