.wrapper {
  background-color: var(--euiColorLightestShade);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;

  &.loadingWrapper {
    margin-top: 36px;
  }

  .chartCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chartTitle {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 10px;
    }
  }

  .titleSeparator {
    height: 1px;
    border: 0;
    background-color: var(--separatorColorLight);
    margin: 6px 0;
    width: 60px;
  }

  .centerCount {
    margin-top: 2px;
    font-weight: 500;
    font-size: 14px;
  }

  .preloaderCircle {
    width: 180px;
    height: 180px;
    margin: 60px 0;
    border-radius: 100%;
    background-color: var(--separatorColor);
  }

  .labelTooltip {
    font-size: 12px;

    .tooltipPercentage {
      margin-right: 6px;
    }

    .tooltipTitle {
      margin-bottom: 6px;
    }
  }
}

@include global.insights-open(1260px) {
  .wrapper {
    flex-direction: column;
  }
}
