.container {
  height: 50px;
}

.separator {
  width: 0;
  height: 64px;
  border: solid 0 var(--separatorColor);
  border-right-width: 1px;
}

.addInstanceBtn {
  padding-left: 10px;
  padding-right: 10px;
  height: 43px;
  margin: 0 auto;
  width: 220px;
  text-decoration: none !important;

  :global(.euiButton__text) {
    font-weight: 500 !important;
  }
}
.followText {
  padding-top: 7px;
  font-size: 12px !important;
  text-align: left;
  color: var(--euiTextColor) !important;
  opacity: 0.7;
}

.clearMarginFlexItem {
  margin-bottom: 0 !important;
}

.links {
  font-size: 14px;
  a {
    color: var(--euiTextColor);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.containerDl {
  .links {
    position: relative;
    top: -8px;
  }
}

.contentDL {
  @media only screen and (max-width: 574px) {
    justify-content: space-between;
    & > div:first-of-type {
      margin-left: 0 !important;
    }
    & > div:last-of-type {
      margin-right: 0 !important;
    }
  }
}

.containerWelc {
  .separator {
    width: 150px;
    height: 0;
    border-top-width: 1px;
    margin: 25px auto 20px;
  }
  .otherGuides {
    flex-wrap: wrap;
    & > div {
      min-width: 20%;
      &:nth-of-type(3n+1) {
        a {
          text-align: left;
        }
      }
      &:nth-of-type(3n+3) {
        a {
          text-align: right;
        }
      }
    }
  }
}
