.errorFieldText {
  float: left;
  font-size: 12px !important;
}

.error {
  color: var(--euiColorDangerText) !important;
}

:global(body .footerAddDatabase .empty-btn) {
  border-color: transparent;

  &:hover,
  &:active {
    background-color: var(--euiTooltipBackgroundColor);
  }
}

.errorForm {
  color: var(--euiColorDangerText) !important;
  padding-top: 25px;
  display: inline-block;
}

.dbInfoGroup {
  max-width: 100% !important;
  background-color: var(--euiColorLightestShade) !important;
  border: 1px solid var(--separatorColor) !important;
  padding: 10px 18px !important;
  border-radius: 4px;

  :global {
    .euiListGroupItem__label {
      pointer-events: none;
      word-break: break-word;
      white-space: initial;
    }

    .euiListGroupItem {
      padding: 4px 0;
      margin-top: 0 !important;
    }
  }
}

.dbInfoListValue {
  margin-left: 10px;
}

.dbInfoModules {
  padding-right: 0;
  margin-left: 0;
  height: 27px;
  & > div {
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
    vertical-align: top;
  }
}

.dbInfoModulesLabel {
  position: relative;
  display: inline-block !important;
  padding-right: 0 !important;
  width: auto;

  :global(.euiListGroupItem__text) {
    padding-right: 0 !important;
  }
}

.anchorEndpoints {
  position: absolute;
  right: 12px;
  top: 5px;
  pointer-events: auto !important;

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}

.endpointsList * {
  font-weight: 300 !important;
}

.dbAliasInputContainer {
  display: inline-block;
  position: relative;
  width: calc(100% - 190px);
}

.btnOpen {
  float: right;
  svg {
    height: 20px;
    width: 20px;
  }
}

.hostPort {
  display: inline-block;
  margin-left: 10px;
}

.hostPort:hover .copyHostPortBtn {
  opacity: 1;
}

.copyHostPortBtn {
  margin-left: 10px;
  margin-bottom: 3px;
  opacity: 0;
  height: 0;
  transition: opacity 250ms ease-in-out;
}

.sentinelCollapsedField {
  padding: 4px 8px;
  font-size: 13px !important;
  word-break: break-all;
}

#dbAliasInputIcon {
  color: var(--euiTextSubduedColor) !important;
  width: 32px !important;
}

.message {
  font-family: 'Graphik', sans-serif;
  color: var(--euiTextSubduedColor) !important;

  :global(.euiTextColor), :global(.euiLink) {
    color: currentColor !important;
  }
}

.link {
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }

  &.external:global(.euiLink) {
    color: var(--externalLinkColor) !important;
  }
}

.fullWidth {
  flex-basis: 100% !important;
}

.sshPassTypeWrapper {
  .sshPassType {
    display: flex;
    align-items: center;

    :global {
      .euiRadioGroup__item {
        margin-right: 12px;
        margin-top: 0;
      }
    }
  }
}

.selectedOptionWithLongTextSupport {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1.5rem;
}
