.container {
  height: 34px;
  line-height: 34px;
  width: 100%;
  overflow: hidden;
  background-color: var(--euiPageBackgroundColor);

  padding: 0 10px 0 16px;
  z-index: 10;

  .actions {
    width: 82px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 12px;

    border-left: 1px solid var(--euiColorLightShade);
    border-right: 1px solid var(--euiColorLightShade);
  }

  :global(.transparent button) {
    cursor: default;
  }
}

.icon {
  margin-left: 5px;
}

.title {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  :global {
    .euiIcon {
      color: var(--euiColorPrimary);
      margin-right: 8px;
    }
  }
}

.profilerOnboardPanel {
  margin-top: -4px;
}
