@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.main {
  height: 100%;
}

.wrapper {
  @include euiScrollBar;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 134px);

  max-width: 1920px;
}
