.content {
  width: 820px !important;
  min-width: 820px !important;
  height: 500px;
}

.advantages {
  align-items: stretch;
  min-width: 400px !important;
  width: 400px !important;
  padding: 80px 30px 0;
  justify-content: space-between;

  background-color: var(--cloudSsoAdvantagesBgColor);
}

.title {
  font-size: 18px;
  font-weight: 400 !important;
}

.advantageTitle {
  font-size: 14px;
  line-height: normal;
  padding-bottom: 5px;
}

.advantageList {
  margin-left: 1.2rem !important;
}

.advantageText {
  font-size: 12px;
  line-height: normal;
  color: var(--euiTextSubduedColor);
}

.flexGroup {
  height: 100%;
}

.advantage {
  display: flex;
  padding-top: 24px;
  padding-left: 16px;
}

.advantageIcon {
  margin-right: 6px;
  margin-left: -16px;
}

.social {
  justify-content: normal;
  text-align: center;
  padding: 0 36px 0;
  align-self: center;
}

.socialSubTitle {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 500;
}

.socialText {
  font-size: 10px !important;
  line-height: 150% !important;
}

:global {
  .euiModal .euiModal__flex {
    max-height: 100% !important;
    border-radius: 8px;
  }
  .euiModalBody__overflow {
    padding: 0 !important;
  }
}
