.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.minimized) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;
  }

  &.minimized {
    border-color: transparent;
    height: 100%;
  }
}

.iconBtn {
  width: 20px !important;
  height: 20px !important;

  :global(.euiIcon) {
    width: 20px !important;
    height: 20px !important;
  }

  &:focus {
    background-color: transparent !important;
  }

  &.btnHide, &.btnHide:focus {
    width: 32px !important;
    height: 32px !important;
    background-color: var(--euiColorLightestShade) !important;
    border: 1px solid var(--euiColorPrimary) !important;
    transition: none;

    &:hover {
      background-color: var(--buttonIconPrimaryHover) !important;
      transition: transform 250ms ease-in-out, background 250ms ease-in-out;
    }
  }
}
