.wrapper {
  height: 200px;
  max-width: 100% !important;
  border: 1px solid var(--controlsBorderColor) !important;
  box-shadow: none !important;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;

  &:global(.disabled) {
    pointer-events: none;
    opacity: 0.5;
  }

  :global {
    .monaco-editor, .monaco-editor .margin, .monaco-editor .minimap-decorations-layer, .monaco-editor-background {
      background-color: var(--euiColorEmptyShade) !important;
    }

    .monaco-editor .hover-row.status-bar {
      display: none;
    }
  }
}
