.recommendedSettings {
  display: flex;
  align-items: center;

  .recommendedSettingsToolTip {
    display: inline-flex;
    margin-left: 4px;
    margin-bottom: 4px;

    :global {
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  :global(.euiCheckbox) {
    margin-bottom: 6px;

    :global(.euiCheckbox__label) {
      font: normal normal normal 12px/15px Graphik, sans-serif !important;
      color: var(--htmlColor) !important;
      padding-left: 20px !important;
    }

    :global(.euiCheckbox__square) {
      width: 16px;
      height: 16px;
      padding: 0 !important;
      border-width: 1px !important;
      top: 0 !important;
    }
  }
}
