.votingContainer {
  :global {
    .voteContent {
      margin-left: 10px;

      .vote__btn {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        &:hover,
        &:focus,
        &.selected {
          transform: none;
          background-color: var(--separatorColor);
        }
      }

      .euiIcon {
        width: 34px;
        height: 34px;
        fill: none;

        path {
          stroke: var(--buttonSecondaryTextColor);
        }
      }
    }
  }
}

:global(.euiPanel).popover {
  max-width: none !important;
  box-shadow: none !important;
  padding: 10px 15px !important;
  color: var(--buttonSecondaryTextColor) !important;

  .feedbackBtn {
    padding: 4px 8px 4px 4px;
    margin: 0 10px;
    height: 22px !important;

    :global(.euiButtonContent.euiButton__content) {
      padding: 0;
    }

    .link {
      display: flex;
      align-items: center;
      color: var(--euiColorPrimaryText) !important;
      text-decoration: none !important;
      font: normal normal normal 12px/14px Graphik, sans-serif;
    }

    .link .githubIcon {
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }
  }
}
