.toastSuccessBtn {
  background-color: var(--euiToastSuccessBtnColor) !important;
  border: none !important;
}

.list {
  font: normal normal normal 12px/17px Graphik, sans-serif;
  font-weight: 400;
  padding-bottom: 10px;

  &:first-of-type {
    padding-top: 10px;
  }
}

:global(.euiToast) {
  box-shadow: none !important;
}

.summary {
  border-top: 1px solid var(--euiToastSuccessBtnColor);
  padding-top: 8px;

  :global(.euiFlexItem:not(:last-child)) {
    margin-right: 14px !important;
  }

  .summaryValue {
    font-size: 14px;
    font-weight: 500;
  }

  .summaryLabel {
    color: var(--euiToastLightColor) !important;
  }
}

.infiniteMessage {
  :global {

    .euiToastHeader {
      display: none;
    }

    .euiToast__closeButton {
      opacity: 1;
    }

    .infiniteMessage__title {
      display: flex;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 8px;

      padding-right: 24px;
    }

  }
}
