.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  height: 1px;
  min-height: 100%;
  padding-bottom: 16px;
}

.formContainer {
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}


