@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.containerWrapper {
  min-width: 420px;
  &:nth-of-type(even) {
    background-color: var(--euiColorEmptyShade) !important;
  }
  &:nth-of-type(odd) {
    background-color: var(--browserTableRowEven) !important;
  }

  &.isOpen + &.isOpen .container {
    border-top-width: 0 !important;
  }

  &.isOpen .container {
    border-color: var(--euiColorPrimary);
  }

  &:global(.fullscreen) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: var(--euiColorEmptyShade);

    :global(.queryResultsContainer) {
      max-height: calc(100% - 45px);
    }

    :global(.queryResultsContainer.pluginStyles) {
      max-height: calc(100vh - 45px);
    }

    .container {
      border-color: var(--tableLightestBorderColor);
    }

    &.isOpen .container {
      border: none !important;
    }
  }
}

.container {
  border: 1px solid var(--tableDarkestBorderColor);
}

:global(.query-card-output-response-success) {
  @include euiScrollBar;
  display: block;
  max-height: 210px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;

  color: var(--cliOutputResponseColor) !important;
}

:global(.fullscreen .query-card-output-response-success){
  max-height: calc(100vh - 65px);
}

:global(.query-card-output-response-fail) {
  color: var(--cliOutputResponseFailColor) !important;

  span {
    vertical-align: text-top;
  }
}
