:global(.euiFormControlLayout--group) :global(.euiFormLabel) {
  padding: 9px 12px;
}

.footer {
  width: 100%;
  justify-content:space-between;
  margin: 30px 0 7px !important;

  &:global(.euiFlexGroup--gutterLarge) > :global(.euiFlexItem) {
    margin-left: 0;
  }
  
  :global(.euiSwitch) :global(.euiSwitch__button) {
    width: 30px;
  }
}

.footerBtn {
  height: 36px !important;

  &:last-child {
    margin-left: 18px
  }
}



.option {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 36px;
}

.option .pendingCount {
  font: normal normal normal 13px/24px Graphik;
  letter-spacing: -0.13px;
  color: var(--inputPlaceholderColor) !important;
}