.container {
  display: flex;
  align-items: center;
  & > div {
    display: flex;
    align-items: center;
  }
}

.separator {
  margin: 0 4px;
}

.badge {
  background-color: var(--euiTooltipBackgroundColor) !important;
  border: 1px solid var(--euiToastSuccessBtnColor) !important;
}

.transparent {
  background-color: transparent !important;
  border-color: var(--separatorColor) !important;
}
