@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {

  height: 100%;
  position: relative;

  width: 360px;
  min-width: 360px;

  background-color: var(--browserTableRowEven);
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
  border-top: 1px solid var(--euiColorLightShade);

  z-index: 10;
}

.searchWrapper {
  padding: 10px 10px 0 10px;
  background-color: var(--browserTableRowEven);
}

.outputWrapper {
  @include euiScrollBar;
  display: flex;
  flex: 1;
  padding: 0 10px 10px 10px;

  width: 360px;
  min-width: 360px;
  overflow: auto;
  word-break: break-word;
  height: 100%;
  max-height: calc(100% - 64px);
}

.defaultScreen {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  line-height: 21px;
}

.summary {
  font: normal normal normal 13px/18px Graphik, sans-serif !important;
  padding: 10px 0 5px;
}

.field {
  padding-top: 12px;
  font: normal normal normal 13px/17px Graphik, sans-serif !important;
}

.fieldTitle {
  font: normal normal 500 14px/17px Graphik, sans-serif !important;
  color: var(--euiTextSubduedColorHover);
  padding-bottom: 3px;
}

.arg {
  padding: 3px 10px;
  margin: 0 -10px;
  &:nth-child(2n) {
    background-color: var(--euiColorEmptyShade);
  }
}
.badge {
  background-color: var(--badgeBackgroundColor) !important;
  margin-left: 5px;
}
