.container {
  display: flex;
  align-items: center;

  .button {
    height: auto !important;
    padding: 0 !important;
    margin: 0 10px;

    transition: transform 0.3s ease;

    &:hover, &:focus {
      transform: translateY(-1px) !important;
      background: none !important;
    }

    &.inline {
      :global(.euiButtonEmpty__text) {
        display: flex;
        align-items: center;

        svg {
          height: 20px !important;
          width: 20px !important;
          margin-right: 8px !important;
        }
      }
    }

    svg {
      height: 34px !important;
      width: 34px !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
    }

    &:global(.euiButtonEmpty) {
      .label {
        color: var(--htmlColor) !important;
      }
    }

    &.githubButton {
      svg {
        path {
          fill: var(--htmlColor);
        }
      }
    }
  }
}
