.container {
  max-width: 100%;

  :global(.euiFormControlLayout) {
    max-width: 100% !important;
  }
}

.field {
  min-width: 72px;
  max-width: 100% !important;
  box-shadow: 0 3px 3px var(--controlsBoxShadowColor) !important;
  height: 33px !important;
  border: 1px solid var(--controlsBoxShadowColor) !important;
}

.controls {
  position: absolute;
  background-color: var(--euiColorLightestShade);
  width: 80px;
  height: 33px;

  z-index: 3;

  .tooltip,
  .declineBtn,
  .popoverWrapper {
    width: 50% !important;
    height: 100% !important;
  }
}

.applyBtn {
  height: 100% !important;
  width: 100% !important;
}

.controlsBottom {
  top: 100%;
  right: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 3px var(--controlsBoxShadowColor);
}

.controlsTop {
  bottom: 100%;
  right: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -3px 3px var(--controlsBoxShadowColor);
}

.controlsRight {
  top: 0;
  left: 100%;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 3px 3px var(--controlsBoxShadowColor);
}

.controlsLeft {
  top: 0;
  right: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 3px 3px var(--controlsBoxShadowColor);
}

.controlsInside {
  top: calc(100% - 35px);
  right: 7px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 3px 3px var(--controlsBoxShadowColor);
}

.controlsSeparate {
  border-radius: 0;
  box-shadow: none;
  background-color: inherit !important;
  text-align: right;
  width: 60px;
  z-index: 4;

  .btn,
  .popoverWrapper {
    margin: 6px 3px;
    height: 24px !important;
    width: 24px !important;
  }

  .btn:hover {
    background-color: var(--hoverInListColorDarken) !important;
  }

  .applyBtn {
    margin-top: 0;
  }

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}

.declineBtn:hover {
  color: var(--euiColorColorDanger) !important;
}

.applyBtn:hover:not([class*="isDisabled"]) {
  color: var(--euiColorPrimary) !important;
}

.keyHiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  max-width: 100%;
  margin-right: 80px;
  word-break: break-all;
}

.popoverAnchor,
.popoverWrapper .tooltip {
  width: 100% !important;
  height: 100% !important;
}

.popoverPanel:global(.euiPanel--paddingMedium) {
  width: 296px !important;
  padding: 24px 30px !important;
  border: 1px solid var(--euiColorPrimary) !important;
  background-color: var(--browserTableRowEven) !important;

  :global(.euiPopover__panelArrow:after) {
    border-left-color: var(--browserTableRowEven) !important;
  }
  :global(.euiPopover__panelArrow:before) {
    border-left-color: var(--euiColorPrimary) !important;
  }
}

.popover {
  word-wrap: break-word;

  h4 b {
    font-size: 14px !important;
    color: var(--htmlColor) !important;
  }
}
.approveText {
  font-size: 13px !important;
  letter-spacing: -0.13px;
}

.popoverFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;

  .saveBtn {
    height: 36px !important;
    width: 86px !important;
  }
}
