.closeKeyTooltip {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;

  svg {
    width: 20px;
    height: 20px;
  }
}

.connectionTypesContainer {
  max-width: 752px;
  margin-bottom: 25px;
}

.connectionType {
  background-color: var(--euiColorLightestShade);
  padding: 20px 16px;
  cursor: pointer;

  > div {
    color: var(--euiTextSubduedColorHover) !important;
  }
}


.selectedConnectionType {
  outline: 1px solid var(--euiColorPrimary);
}

.connectionTypeTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

.connectionTypeTitleFullWidth {
  margin-bottom: 6px;
}

.connectionIcon {
  width: 55px !important;
  height: 60px !important;
}

.descriptionNotFullWidth {
  margin-top: -6px;
}

.radioBtnText {
  display: block;
  margin-right: 10px;
  flex-basis: 100% !important;

  div {
    font-size: 13px !important;
  }
}

.radioBtnTextFullWidth {
  flex-basis: auto !important;
  justify-content: center;
  padding-bottom: 6px;
  margin-right: 20px !important;
}
