.euiAccordion__triggerWrapper {
  h3 {
    font: normal normal 500 18px/24px Graphik, sans-serif !important;
    letter-spacing: normal;
  }
}

.euiAccordion__icon {
  transform: rotate(90deg) !important;

  &.euiAccordion__icon-isOpen {
    transform: rotate(270deg) !important;
  }
}
.euiAccordion__button .euiAccordion__iconWrapper {
  color: var(--htmlColor) !important;
}
.euiAccordion__button:hover,
.euiAccordion__button:focus {
  text-decoration: none !important;
}

.euiCollapsibleNavGroup__title {
  font: normal normal normal 14px/16px Graphik, sans-serif !important;
  letter-spacing: -0.14px;
  padding-bottom: 0 !important;
  height: 26px;
  line-height: 26px !important;
}

.euiCollapsibleNavGroup__children {
  padding: 10px 20px 15px !important;
}

.euiCollapsibleNavGroup {
  border: none !important;
  margin-top: 20px;
}

.euiAccordion__childWrapper {
  background-color: var(--euiColorLightestShade);
  border: none !important;

  .euiFieldText,
  .euiFieldNumber,
  .euiSelect,
  .euiSuperSelectControl {
    background-color: var(--euiColorLightestShade) !important;
  }

  .boxSection {
    background-color: var(--euiColorLightShade) !important;

    .euiSelect,
    .euiSuperSelectControl,
    .euiFieldText {
      background-color: var(--euiColorLightShade) !important;
    }
  }
}
