.euiCallOut {
  padding: 12px 24px !important;
  &--primary {
    background-color: var(--callOutBackgroundColor) !important;
    border-color: var(--euiColorPrimary) !important;
    .euiText {
      color: var(--euiTooltipTextColor) !important;
      line-height: 24px;
    }
  }
}
