@use "../mixins/eui";

.cli-container {
  @include eui.scrollBar;

  flex: auto;
  border-top: inherit;
  padding: 9px 18px;
  height: 100%;
  word-break: break-all;

  font: normal normal normal 14px/17px Inconsolata !important;
  text-align: left;
  letter-spacing: 0;
  color: var(--textColorShade);

  border-top: 1px solid var(--euiColorLightShade);

  z-index: 10;

  overflow-y: auto;
  overflow-x: hidden;
}

.cli-command-wrapper {
  font: normal normal bold 14px/15px Inconsolata !important;
  white-space: pre-line;
}

.cli-output-response-success {
  color: var(--cliOutputResponseColor) !important;
}

.cli-output-response-fail {
  color: var(--cliOutputResponseFailColor) !important;
}
