@import "../../../../../node_modules/@elastic/eui/src/global_styling/index";
@import "../../../../../node_modules/@elastic/eui/src/global_styling/mixins/helpers";

.euiFormRow {
  .euiSuperSelectControl:not(.euiSuperSelectControl--compressed),
  .euiSelect:not(.euiSelect--compressed),
  .euiFormControlLayout:not(.euiFormControlLayout--compressed),
  .euiFieldText:not(.euiFieldText--compressed),
  .euiFieldNumber:not(.euiFieldNumber--compressed) {
    height: 100%;
  }
  .euiFormLegend,
  .euiFormRow__label,
  .euiRadio__label,
  .euiCheckbox__label {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -0.13px;

    &:not(.euiFormLabel-isFocused, .euiFormLabel-isInvalid) {
      color: var(--euiTextSubduedColor);
    }
  }

  .euiSuperSelectControl {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 41px;
  }

  .euiFormRow__label {
    padding-bottom: 2px;
  }

  .euiFieldText:disabled {
    background-color: initial;
    color: #b5b6c0;
  }

  .euiButtonIcon {
    align-self: center;
  }
}

.euiButton,
.euiCollapsibleNav,
.euiHeaderSectionItem__button {
  backface-visibility: hidden;
}

.euiFormControlLayout--compressed {
  height: 33px !important;
}

.formFooterBar {
  position: absolute;
  bottom: 0;
  background: var(--browserTableRowEven);
  border-style: solid;
  border-width: 0;
  border-color: var(--euiColorLightShade);
  border-top-width: 1px;
  width: 100%;

  z-index: 2;

  max-height: 100%;
  @include euiScrollBar;
  overflow-y: auto;

  &.contentActive {
    border-color: var(--euiColorPrimary) !important;
    border-bottom-width: 1px !important;
  }
}

.euiRadio .euiRadio__circle,
.euiCheckbox .euiCheckbox__square {
  border-width: 2px !important;
}

body {
  .euiFieldText,
  .euiFieldNumber,
  .euiFieldPassword,
  .euiFieldSearch,
  .euiSelect,
  .euiSuperSelectControl,
  .euiComboBox .euiComboBox__inputWrap,
  .euiTextArea {
    background-color: var(--euiColorEmptyShade) !important;
    max-width: 100% !important;
    border: 1px solid var(--controlsBorderColor) !important;
    box-shadow: none !important;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
  }

  .euiFormHelpText {
    padding-top: 2px;
  }
}

.euiFormControlLayout--group {
  box-shadow: none !important;
  border: 1px solid var(--controlsBorderColor);
  padding: 0 !important;
}

.euiCheckbox .euiCheckbox__input ~ .euiCheckbox__label,
.euiRadio .euiRadio__input ~ .euiRadio__label {
  color: var(--controlsLabelColor);
}

.euiCheckbox .euiCheckbox__input + .euiCheckbox__square,
.euiRadio .euiRadio__input + .euiRadio__circle {
  border-color: var(--iconsDefaultColor) !important;
  &:hover {
    border-color: var(--iconsDefaultHoverColor) !important;
  }
}

.euiRadio .euiRadio__input:checked + .euiRadio__circle,
.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square {
  border-color: var(--euiColorPrimary) !important;
}

.euiRadio:hover,
.euiCheckbox:hover {
  .euiRadio__label,
  .euiCheckbox__label {
    transition: color 150ms ease-in;
    color: var(--controlsLabelHoverColor) !important;
  }
}
.euiCheckbox .euiCheckbox__input:checked ~ .euiCheckbox__label,
.euiRadio .euiRadio__input:checked ~ .euiRadio__label {
  color: var(--controlsLabelHoverColor) !important;
}

.euiRadio:hover .euiRadio__circle,
.euiRadio:hover .euiCheckbox__square,
.euiCheckbox:hover .euiRadio__circle,
.euiCheckbox:hover .euiCheckbox__square {
  border-color: var(--iconsDefaultHoverColor) !important;
}

.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square {
  border-color: var(--euiColorPrimary) !important;
  background-color: var(--euiColorPrimary) !important;
}

.inlineFieldsNoSpace {
  .euiFlexGroup {
    .euiFlexItem:not(:first-child) {
      .euiFieldText,
      .euiFormControlLayout--group,
      .euiSuperSelectControl {
        border-left: 0 !important;
      }
    }
  }

  .euiFormRow .euiSuperSelectControl:not(.euiSuperSelectControl--compressed),
  .euiFormRow .euiSelect:not(.euiSelect--compressed),
  .euiFormRow .euiFormControlLayout:not(.euiFormControlLayout--compressed),
  .euiFormRow .euiFieldText:not(.euiFieldText--compressed),
  .euiFormRow .euiFieldNumber:not(.euiFieldNumber--compressed) {
    height: 43px;
  }
}


.euiComboBox .euiComboBox__inputWrap {
  padding-top: 5px !important;
  padding-left: 8px !important;
  min-height: 43px !important;
  .euiBadge {
    background-color: var(--comboBoxBadgeBgColor);
    color: var(--euiTextSubduedColor);
    border: 0;
  }

  .euiBadge__text {
    line-height: 20px;
  }

  .euiComboBoxPlaceholder {
    color: var(--inputPlaceholderColor) !important;
  }
}
