@use "../mixins/eui";

.homePage {
  .addInstanceBtn :global {
    .euiButton {
      padding-left: 10px;
      padding-right: 10px;
      height: 43px;
      margin: 0 auto;
      text-decoration: none !important;
    }

    .euiButton__text {
      font-weight: 500 !important;
    }
  }

  .importDatabasesBtn :global(.euiButton) {
    height: 43px;
    min-width: auto !important;

    :global(.euiButton__text) {
      display: flex;
      align-items: center;
    }
  }

  .contentDL {
    @include eui.euiBreakpoint("xs", "s") {
      & > div:first-of-type {
        margin-left: 0 !important;
      }
      & > div:last-of-type {
        margin-right: 0 !important;
      }
    }
  }

  .spacerDl {
    @include eui.euiBreakpoint("xs", "s") {
      height: 6px !important;
    }
    @include eui.euiBreakpoint("m", "l", "xl") {
      height: 18px !important;
    }
  }

  .searchContainer {
    position: relative;
    height: 42px;
    max-width: 320px;
    margin-left: auto !important;
    padding-left: 12px;
  }
}
