.notificationHTMLBody {
  a {
    color: var(--euiTooltipTextColor) !important;
    text-decoration: underline !important;

    &:hover, &:focus {
      text-decoration: none !important;
    }
  }

  a[target="_blank"] {
    color: var(--externalLinkTooltipColor) !important
  }

  ul, ol {
    margin-top: 0.5rem;
    margin-left: 1rem !important;
  }
}
