.euiPanel.euiPopover__panel {
  box-shadow: 0 3px 15px var(--controlsBoxShadowColor) !important;
}

.euiPopover__panel .euiPopover__panelArrow.euiPopover__panelArrow {
  border-color: transparent !important;

  &--left:before {
    border-left-color: var(--euiColorLightShade) !important;
  }
  &--left:after {
    border-left-color: var(--euiColorEmptyShade) !important;
  }

  &--right:before {
    border-right-color: var(--euiColorLightShade) !important;
  }
  &--right:after {
    border-right-color: var(--euiColorEmptyShade) !important;
  }

  &--bottom:before {
    border-bottom-color: var(--euiColorLightShade) !important;
  }
  &--bottom:after {
    border-bottom-color: var(--euiColorEmptyShade) !important;
  }

  &--top:before {
    border-top-color: var(--euiColorLightShade) !important;
  }
  &--top:after {
    border-top-color: var(--euiColorEmptyShade) !important;
  }
}

.popoverLikeTooltip {
  border: none;
  max-width: 267px !important;
  background-color: var(--euiTooltipBackgroundColor) !important;
  .euiPopover__panelArrow.euiPopover__panelArrow--bottom:after {
    border-bottom-color: var(--euiTooltipBackgroundColor) !important;
  }

  .euiPopover__panelArrow.euiPopover__panelArrow--right:after {
    border-right-color: var(--euiTooltipBackgroundColor) !important;
  }

  .euiPopover__panelArrow.euiPopover__panelArrow--left:after {
    border-left-color: var(--euiTooltipBackgroundColor) !important;
  }

  .euiPopover__panelArrow.euiPopover__panelArrow--top:after {
    border-top-color: var(--euiTooltipBackgroundColor) !important;
  }
}
