.euiRadio .euiRadio__input + .euiRadio__circle {
  width: 18px;
  height: 18px;
  padding: 6px;
  border-radius: 100% !important;
}

.euiRadio .euiRadio__input:checked + .euiRadio__circle {
  background-image: none !important;
  background-color: var(--euiColorEmptyShade) !important;
  box-shadow: inset 0 0 0 5px var(--euiColorPrimary) !important;
  border: none !important;
}

.main-container, .euiModal {
  .euiRadio .euiRadio__input:focus + .euiRadio__circle,
  .euiRadio .euiRadio__input:active:not(:disabled) + .euiRadio__circle {
    animation: none !important;
  }
}

