.euiResizableToggleButton {
  &:not(.euiResizableToggleButton-isCollapsed) {
    background-color: var(--euiColorPrimary)  !important;
    color: var(--euiColorPrimaryText) !important;
    border: none !important;
  }
}
