.euiSwitch {
  .euiSwitch__button {
    width: 50px;
  }

  .euiSwitch__thumb {
    background-color: var(--euiColorPrimaryText) !important;
  }
  .euiSwitch__button[aria-checked="false"] .euiSwitch__body {
    background-color: #707070 !important;
  }
  .euiSwitch__body {
    background-color: var(--euiColorSecondary) !important;

    .euiSwitch__icon--checked {
      fill: #fff;
    }
  }
}

.euiSwitch:not(.euiSwitch--compressed) {
  .euiSwitch__thumb {
    border-color: transparent !important;
  }
}
