.euiSwitch {
  .euiSwitch__button {
    width: 50px;
  }

  .euiSwitch__thumb {
    background-color: var(--euiColorPrimaryText) !important;
    border: 1px solid var(--controlsBorderColor) !important;
  }
  .euiSwitch__button[aria-checked="false"] .euiSwitch__body {
    background-color: var(--controlsBorderColor) !important;
  }
  .euiSwitch__body {
    background-color: var(--euiColorSecondary) !important;

    .euiSwitch__icon--checked {
      fill: #fff;
    }
  }
  .euiSwitch__button:disabled {
    opacity: 50%;

    .euiSwitch__icon {
      display: none;
    }
  }
}

.euiSwitch:not(.euiSwitch--compressed) {
  .euiSwitch__thumb {
    border-color: var(--controlsBorderColor) !important;
  }
}
