.euiToast {
  border-width: 0 !important;
  box-shadow: 0 3px 15px var(--controlsBoxShadowColor) !important;
}
.euiToast--danger,
.euiToast--success {
  border-top-width: 3px !important;
}

.euiToast--danger {
  border-color: var(--euiToastDangerBorderColor) !important;
  background-color: var(--euiToastDangerBgColor) !important;
}

.euiToast--success {
  background-color: var(--euiToastBackgroundColor) !important;
  border-color: var(--euiToastSuccessBorderColor) !important;
}

.euiToast__closeButton {
  svg {
    fill: #ffffff !important;
  }

  &:focus {
    background-color: initial !important;
  }
}

.euiToastHeader__title {
  font-size: 18px !important;
}

.euiToastHeader__icon {
  transform: translateY(3px) !important;
  width: 20px !important;
  height: 20px !important;
  fill: #fff !important;
}

.toast-danger-btn {
  box-shadow: none !important;
  border: none !important;
  float: right;
  &.euiButton {
    color: white !important;
  }
  &.euiButton--fill {
    border: 1px solid var(--buttonDangerToastColor) !important;
    background-color: transparent !important;
  }
  &.euiButton--fill:hover {
    border: 1px solid var(--buttonDangerToastHoverColor) !important;
    background-color: var(--buttonDangerToastHoverColor) !important;
  }
}

.euiGlobalToastList {
  width: auto !important;

  .euiToast {
    width: 340px !important;

    &.dynamic {
      width: auto !important;
      max-width: 480px !important;
    }
  }
}

.euiGlobalToastList--right:not(:empty) {
  align-items: flex-end !important;
  right: 14px !important;
}

.euiGlobalToastList--left:not(:empty) {
  left: 14px !important;
}

@media only screen and (max-width: 767px) {
  .euiGlobalToastList {
    width: 400px !important;
    max-width: 90vw;
  }
  .euiGlobalToastList--right:not(:empty) {
    left: auto !important;
  }
}
