.container {
  height: 24px;
  line-height: 20px;
  display: inline-block;
  width: auto;
  padding-left: 6px;
  padding-right: 6px;

  &.highlight {
    background-color: var(--hoverInListColorLight);
    border-radius: 12px;
  }

  &.containerCircle {
    height: 28px;
  }

  .circle {
    background-color: var(--moduleBackgroundColor);
    border: none !important;
    width: 28px !important;
    max-width: 28px !important;
    height: 27px !important;
    border-radius: 50% !important;
    padding: 4px;
    margin-right: 0;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: var(--moduleBackgroundColor) !important;
    }
  }
}

.icon {
  margin-right: 4px;
}

.icon img {
  width: 16px !important;
  max-width: 16px !important;
  height: 16px !important;
}

.tooltipItem:not(:last-of-type) {
  padding-bottom: 6px;
}

.tooltipItemText {
  vertical-align: text-top;
}

.abbr {
  vertical-align: text-top;
}

.anchorModuleTooltip {
  margin-right: 18px;
}
