.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main :global {
  .section {
    background-color: var(--euiColorLightestShade);
    border-radius: 16px;
    margin-top: 20px;
    overflow: hidden;
    padding: 30px 40px;

    @media screen and (max-width: 920px) {
      padding: 18px 20px;
    }
  }

  .section-content {
    max-width: 1720px;
    margin: 0 auto;
  }

  .section-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .switch-extrapolate-results {
      margin-left: 30px;
    }
  }

  .section-title {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
}

