.wrapper {
}

.svg {
  width: 100%;
  height: 100%;
}

.area {
  fill: var(--euiColorPrimary);
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  min-width: 75px;
  height: 50px;
  min-height: 50px;
  padding: 12px 15px !important;
  background: var(--euiTooltipBackgroundColor);
  color: var(--euiTooltipTextColor) !important;
  z-index: 10;
  border-radius: 8px;
  pointer-events: none;
  line-height: 24px;
  font-weight: 400;
  font-size: 12px !important;
  box-shadow: 0 3px 15px var(--controlsBoxShadowColor) !important;
  bottom: 0;

  .arrow {
    top: 50px !important;
    left: calc(50% - 6px);
    content: '';
    position: absolute;
    transform-origin: center;
    border-radius: 2px;
    background-color: var(--euiTooltipBackgroundColor);
    width: 12px;
    height: 12px;
    transform: translateY(-7px) rotateZ(45deg);
  }
}

.scatterPoints {
  fill: var(--euiColorPrimary);
  cursor: pointer;
}

.dashedLine {
  stroke: var(--euiTextSubduedColor);
  stroke-width: 1px;
  stroke-dasharray: 5, 3;
}

:global {
  .tick line,
  .domain {
    stroke: var(--textColorShade);
    opacity: 0.1;
  }

  text {
    color: var(--euiTextSubduedColor);
  }
}
