.wrapper {
  padding: 16px 12px 0;

  .panel {
    flex-direction: row !important;

    background-color: var(--euiColorLightestShade) !important;

    padding: 8px 18px;
  }

  .link {
    flex-grow: 1;
    text-align: center;
    margin-right: 18px;
  }

  .linkIcon {
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 1440px) {
  .hideText {
    display: none;
  }
}
