@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

$paddingHorizontal: 18px;
.container {
  overflow: hidden;
  height: 100%;
  padding: 0 $paddingHorizontal;
  flex-grow: 1;
}

.innerContainer {
  @include euiScrollBar;
  padding: 8px 0 !important;
  overflow: auto;
  height: 100%;
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
}

.internalPage {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateX(calc(100% + 8px));
  backface-visibility: hidden;
  transition: transform 0.4s ease-in-out;
  box-shadow: -5px 1px 10px rgba(0, 0, 0, 0.2);
}

.internalPageVisible {
  transform: translateX(-$paddingHorizontal);
}
