@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  overflow-x: hidden;
  height: 100%;
  padding: 0 8px;
  background-color: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightShade) !important;
}

.innerContainer {
  @include euiScrollBar;
  padding: 8px 0 !important;
  overflow: auto;
  height: 100%;
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
}

.item {
  padding: 6px 0;
  min-width: 100%;
}

.internalPage {
  padding-top: 60px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateX(calc(100% + 8px));
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 0.4s ease-in-out;
  box-shadow: -5px 1px 10px rgba(0, 0, 0, 0.2);
}

.internalPageVisible {
  transform: translateX(-8px);
}
