.container {
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
}

.innerContainerLoader {
  padding: 12px 16px !important;
}

.internalPage {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateX(calc(100% + 16px));
  backface-visibility: hidden;
  //transition: transform 0.4s ease-in-out;
  box-shadow: -5px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.internalPageVisible {
  transform: translateX(0);
}


