@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  height: 100%;
  overflow: hidden;
}

.tooltip {
  max-width: 372px !important;
}

.noKeys {
  @include euiScrollBar;
  overflow: auto;

  text-align: center;
  margin: auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  border-top: 1px solid var(--euiColorLightShade);

  :global(.ReactVirtualized__Table__headerRow) {
    border: none !important;
  }
}

.filter {
  display: inline-block;
  width: 100px;
  height: 38px;
  margin-left: 8px;
  background-color: var(--tableLightestBorderColor);
}

.action {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

:global(.table-row-selected) .action {
  opacity: 1;
}
