.threeDotsBtn {
  svg {
    color: var(--buttonSecondaryTextColor) !important;
  }
}

.popoverWrapper {
  min-width: 200px;
}

.uploadBtn {
  :global(.euiButtonEmpty__text) {
    margin-inline: 4px;
  }
}

