@import './variables';

@mixin font{
  font: normal normal normal 14px/24px Graphik, sans-serif;
  letter-spacing: -0.14px;
  @media only screen and (max-width: ($l-breakpoint + px)) {
    font: normal normal normal 13px/18px Graphik, sans-serif;
    letter-spacing: -0.13px;
  }
  @media only screen and (max-width: ($m-breakpoint + px)) {
    font: normal normal normal 12px/18px Graphik, sans-serif;
    letter-spacing: -0.12px;
  }
}
