.wrapper {
  flex-grow: 1;

  display: flex;
  align-items: center;

  .profileBtn {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    background-color: var(--insightsTriggerBgColor);

    cursor: pointer;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;

  .loading {
    border-top-color: var(--euiColorGhost) !important;
  }
}
