.wrapper {
  flex-grow: 1;

  display: flex;
  align-items: center;

  .profileBtn {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    background-color: var(--euiTooltipBackgroundColor);

    cursor: pointer;
  }
}

.popover {
   &:global(.euiToolTip.popoverLikeTooltip) {
     min-width: 320px;
     padding: 0 !important;
     border: 0 !important;
   }

  .option {
    padding: 8px 12px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--tableLightBorderColor);
    }

    &.clickableOption {
      display: flex;
      align-items: center;
      justify-content: space-between;

      text-decoration: none !important;
      cursor: pointer;

      &:focus {
        animation: none !important;
      }

      :global(.euiIcon) {
        color: var(--euiTextSubduedColor);
      }
    }

    &.isDisabled {
      color: var(--controlsBorderColor);
      pointer-events: none;
    }
  }

  .optionTitleWrapper {
    display: flex;
    align-items: baseline;

    white-space: nowrap;
    overflow: hidden;
  }

  .optionTitle {
    font-weight: 500;
    margin-right: 6px;
  }

  .accountFullName {
    font-weight: 400;
    color: var(--euiTextSubduedColor) !important;

    font-size: 13px;
    font-style: italic;
    margin-right: 14px;
  }

  .accounts {
    margin-top: 4px;
  }

  .account {
    padding: 2px 0;
    margin: 2px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--euiTextSubduedColor);
    white-space: nowrap;

    cursor: pointer;

    .accountNameId {
      display: flex;
      align-items: center;

      color: currentColor !important;
      max-width: calc(100% - 40px);
    }

    .accountName {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 4px;
    }

    &.isCurrent {
      cursor: auto;
      pointer-events: none;
    }

    &.isSelected {
      color: var(--euiColorPrimary);
    }

    &.isDisabled {
      color: var(--controlsBorderColor);
      pointer-events: none;
    }

    .loadingSpinner {
      width: 14px;
      height: 14px;
      border-color:
        var(--euiColorPrimary)
        var(--separatorDropdownColor)
        var(--separatorDropdownColor)
        var(--separatorDropdownColor) !important;
    }
  }
}
