.page {
  padding: 0 16px 16px !important;

  :global {
    .homePage {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .databaseContainer {
      flex-grow: 1;
    }

    .databaseList {
      flex-grow: 1;
      height: auto !important;
    }

    .footerAddDatabase {
      flex-shrink: 0;
    }
  }
}

.explorePanel {
  padding-bottom: 16px;
}
