.content {
  display: flex;
  flex-direction: column;
  max-height: 184px;
  width: 100%;
  border: none !important;
  border-top: 1px solid var(--euiColorPrimary);
  padding: 12px 20px;
  scroll-padding-bottom: 72px;

  :global(.euiFormControlLayout--group) {
    height: 43px !important;
  }
}

.popover {
  max-width: 312px !important;
  word-wrap: break-word;
}

.infoIcon {
  height: 41px !important;
  width: 40px !important;
  color: #b5b6c0 !important;
  padding: 0 8px;
}

.appendInfo {
  color: var(--euiTextSubduedColor);
  font-size: 12px !important;

  display: flex;
  margin-top: 1rem;
}

.select {
  height: 43px !important;
}
