.formWrapper {
  .loading {
    margin-top: 40px;
    text-align: center;
  }
}

.fileDrop {
  width: 100%;
  max-width: none !important;

  :global {
    .RI-File-Picker__showDrop .RI-File-Picker__prompt, .RI-File-Picker__input:focus + .RI-File-Picker__prompt {
      background-color: var(--browserTableRowEven);
    }

    .RI-File-Picker__prompt {
      background-color: var(--browserTableRowEven);
      height: 140px;
      border-radius: 4px;
      box-shadow: none;
      border: 1px dashed var(--controlsBorderColor);
      color: var(--htmlColor);
    }

    .RI-File-Picker {
      width: 400px;
    }

    .RI-File-Picker__clearButton {
      margin-top: 4px;
    }
  }
}

.result {
  text-align: center;
  margin-top: 32px;
}
