$euiColorPrimary: #253dac;
$euiColorPrimaryRGB: 31,61,172;
$euiColorPrimaryText: #ffffff;
$euiColorSecondary: #7B90E0;
$euiColorSecondaryText: #ffffff;
$euiColorSuccess: #5BC69B;
$euiColorSuccessText: #5BC69B;
$euiColorDanger: #b92733;
$euiColorDangerText: #F74B57;
$euiColorWarning: #9d6901;
$euiColorWarningText: #FFAF2B;
$euiTextSubduedColor: #4D6992;
$euiTextSubduedColorHover: #01112A;
$euiPageBackgroundColor: #F4F6F7;
$euiTooltipBackgroundColor: #ffffff;
$euiTooltipTextColor: #01112A;
$euiTooltipTextSecondColor: #4D6992;
$euiTooltipTitleTextColor: #4D6992;
$euiColorLightShade: #EAEDF2;
$euiColorLightestShade: #F4F6F7;
$euiColorEmptyShade: #ffffff;
$euiBreadcrumbActive: #4D6992;
$euiToastBackgroundColor: #4D6992;
$euiToastSuccessBtnColor: #4766C4;
$euiToastSuccessBorderColor: #EAEDF2;
$euiToastDangerBtnColor: #F74B57;
$euiToastDangerBorderColor: #F74B57;
$euiToastDangerBgColor: #AD353D;
$euiColorMediumShade: #C1CBD9;
$euiColorDarkShade: #8094B1;
$euiColorFullShade: #4D6992;
$euiColorDarkestShade: #01112A;
$euiColorGhost: #ffffff;

$htmlColor: #4D6992;
$navBackgroundColor: #fff;
$navActiveBackgroundColor: #D7E3FA;
$externalLinkColor: #253DAC;
$externalLinkTooltipColor: #253DAC;
$linkToastColor: #A2B8F2;
$defaultGreenColor: #5BC69B;

$tableRowHoverColor: #f5f8ff;
$tableRowSelectedColor: #f5f8ff;
$tableLightestBorderColor: #C1CBD9;
$tableLightBorderColor: #EAEDF2;
$tableDarkestBorderColor: #F4F6F7;

$browserTableRowEven: #FAFBFB;
$browserViewTypePassive: #F4F6F7;
$browserComponentActive: #D2DEFC;
$browserTreeNodeOpen: #D2DEFC;

$inputTextColor: #01112A;
$inputPlaceholderColor: #4D6992;
$inputDisabledBackgroundColor: #FAFBFB;
$controlsBoxShadowColor: #C1CBD9;
$controlsBorderColor: #8094B1;
$controlsLabelColor: #4D6992;
$controlsLabelHoverColor: #173369;
$iconsDefaultColor: #4D6992;
$iconsDefaultHoverColor: #01112A;
$separatorColor: #EAEDF2;
$separatorColorLight: #EAEDF2;
$separatorNavigationColor: #EAEDF2;
$separatorDropdownColor: #EAEDF2;

$buttonSecondaryHoverColor: #A2B8F2;
$buttonSecondaryTextColor: #FFFFFF;
$buttonSecondaryDisabledTextColor: #8094B1;
$buttonDangerHoverColor: #F98189;
$buttonIconPrimaryHover: #FFFFFF;
$buttonWarningColor: #F74B57;
$buttonWarningHoverColor: #F98189;
$buttonDangerToastColor: #F74B57;
$buttonDangerToastHoverColor: #F98189;
$buttonGuideBgColor: transparent;

$comboBoxBadgeBgColor: #F4F6F7;

$hoverInListColor: #F5F8FF;
$hoverInListColorLight: #E8EFFF;
$textColorShade: #4D6992;
$cliOutputResponseColor: #4D6992;
$cliOutputResponseFailColor: #F74B57;

$badgeBackgroundColor: #E8EFFF;
$commandGroupBadgeColor: #C1CBD9;
$callOutBackgroundColor: #e9edfa;
$tooltipLightBgColor: #F5F8FF;

$overlayPromoNYColor: #FFFFFF;

$monacoBgColor: #F4F6F7;
$highlightDotColor: #4FDAE0;
$monacoParamsColor: #7547DE;

$successBorderColor: #5BC69B;
$warningBorderColor: #FFAF2B;
$errorBorderColor: #F74B57;

$overlayMaskBgColor: rgba(255, 255, 255, 0.66);

// Types colors
$typeHashColor: #E8EFFF;
$typeListColor: #BDE8D7;
$typeSetColor: #FCC3B7;
$typeZSetColor: #FCB7D0;
$typeStringColor: #C8B5F2;
$typeReJSONColor: #EAEDF2;
$typeStreamColor: #D5E8BD;
$typeGraphColor: #B5E4F9;
$typeTimeSeriesColor: #FCB7BC;
$groupSortedSetColor: #FCB7D0;
$groupBitmapColor: #BDE8D7;
$groupClusterColor: #FFDFAA;
$groupConnectionColor: #FCB7D0;
$groupGeoColor: #D5E8BD;
$groupGenericColor: #FFDFAA;
$groupPubSubColor: #B9F0F3;
$groupScriptingColor: #FCB7BC;
$groupTransactionsColor: #37999D;
$groupServerColor: #F4F6F7;
$groupHyperLolLogColor: #102C2D;
$defaultTypeColor: #FCB7BC;

// JSON colors
$jsonKeyNameColor: #52329B;
$jsonKeyNameArrayColor: #37999D;
$jsonStringColor: #408B6D;
$jsonNumberColor: #37999D;
$jsonBooleanColor: #B37A1E;
$jsonNullColor: #4D6992;
$jsonNonStringPrimitiveColor: #A2B8F2;

// RediSearch colors
$rsSubmitBtn: #5BC69B;
$rsInputColor: #fff;
$rsInputWrapperColor: #fff;

// Workbench
$wbRunResultsBg: #fff;
$wbHoverIconColor: #4D6992;
$wbActiveIconColor: #253DAC;
$wbTextColor: #4D6992;

// Pub/Sub
$pubSubClientsBadge: #B6D78C;

// Database analysis
$badgeIconColor : #4D6992;
$recommendationBorderColor: #253DAC;


// Recommendations
$recommendationsBgColor: #F4F6F7;
$recommendationBgColor: #F6F7F9;
$recommendationLiveBorderColor: #B37A1E;
$recommendationColor: #4D6992;
$triggerIconActiveColor: #FFAF2B;
$triggerIconTextColor: #01112A;

// cloud sso
$cloudSsoGoogle: #A2B8F2;
$cloudSsoGithub: #393939;
$cloudSsoAdvantagesBgColor: #F5F8FF;
