$euiColorPrimary: #3953c3;
$euiColorPrimaryRGB: 57,83,195;
$euiColorPrimaryText: #ffffff;
$euiColorSecondary: #243dac;
$euiColorSecondaryText: #ffffff;
$euiColorSuccess: #3953c3;
$euiColorSuccessText: #8ba2ff;
$euiColorDanger: #b92733;
$euiColorDangerText: #ad0017;
$euiColorWarning: #9d6901;
$euiColorWarningText: #9d6901;
$euiTextSubduedColor: #415681;
$euiTextSubduedColorHover: #173369;
$euiPageBackgroundColor: #edf0f5;
$euiTooltipBackgroundColor: #ffffff;
$euiTooltipTextColor: #173369;
$euiTooltipTextSecondColor: #395b88;
$euiTooltipTitleTextColor: #395984;
$euiColorLightShade: #cdd7e6;
$euiColorLightestShade: #e4eaf2;
$euiColorEmptyShade: #ffffff;
$euiBreadcrumbActive: #395984;
$euiToastBackgroundColor: #243dac;
$euiToastSuccessBtnColor: #5165bd;
$euiToastSuccessBorderColor: #5165bd;
$euiToastDangerBtnColor: #c7535d;
$euiToastDangerBorderColor: #c7535d;
$euiToastDangerBgColor: #9e2f29;
$euiColorMediumShade: #527298;
$euiColorFullShade: #173369;
$euiColorGhost: #ffffff;

$htmlColor: #173369;
$navBackgroundColor: #0f1633;
$externalLinkColor: #3163d8;
$externalLinkTooltipColor: #3163d8;
$linkToastColor: #adbeff;
$defaultGreenColor: #008000;
$insightsTriggerBgColor: #D7E3FA;
$scrollBackgroundColor: rgba(105, 112, 125, 0.5);

$tableRowHoverColor: #fafbfd;
$tableRowSelectedColor: #ebeffa;
$tableLightestBorderColor: #c1cbd9;
$tableLightBorderColor: #e4eaf2;
$tableDarkestBorderColor: #e9edf3;

$browserTableRowEven: #f6f7f9;
$browserViewTypePassive: #f6f7f9;
$browserComponentActive: #d7e3fa;
$browserTreeNodeOpen: #d7e3fa;

$inputTextColor: #173369;
$inputPlaceholderColor: #395984;
$inputDisabledBackgroundColor: #f6f8fd;
$controlsBoxShadowColor: #c1cbd9;
$controlsBorderColor: #8992b3;
$controlsLabelColor: #385985;
$controlsLabelHoverColor: #173369;
$iconsDefaultColor: #728baf;
$iconsDefaultHoverColor: #173369;
$separatorColor: #cdd7e6;
$separatorColorLight: #B2B9D1;
$separatorNavigationColor: #465282;
$separatorDropdownColor: #8b90a3;

$buttonSecondaryHoverColor: #2848d7;
$buttonSecondaryTextColor: #243dac;
$buttonSecondaryDisabledTextColor: #dfe4fb;
$buttonDangerHoverColor: #cb3844;
$buttonIconPrimaryHover: #dfe4fb;
$buttonWarningColor: #9e2f29;
$buttonWarningHoverColor: #b00c03;
$buttonDangerToastColor: #e8524a;
$buttonDangerToastHoverColor: #bf3932;
$buttonGuideBgColor: transparent;
$buttonSuccessColor: #408B6D;
$buttonDarkenTextColor: #3163D8;
$buttonDarkenBgColor: #D7E3FA;

$comboBoxBadgeBgColor: #edf0f5;
$loadingContentColor: #eef1f6;

$hoverInListColor: #e9edfa;
$hoverInListColorLight: #d7e3fa;
$textColorShade: #415681;
$cliOutputResponseColor: #395b88;
$cliOutputResponseFailColor: #ad0017;

$badgeBackgroundColor: #e8efff;
$commandGroupBadgeColor: #b8c5db;
$callOutBackgroundColor: #e9edfa;
$tooltipLightBgColor: #F5F8FF;

$overlayPromoNYColor: #ffffff1a;

$monacoBgColor: #f0f2f7;
$highlightDotColor: #2BBBB2;
$monacoParamsColor: #B63563;

$successBorderColor: #5BC69B;
$warningBorderColor: #FFAF2B;
$errorBorderColor: #F74B57;

$overlayMaskBgColor: rgba(255, 255, 255, 0.66);

// Types colors
$typeHashColor: #cdddf8;
$typeListColor: #a5d4c3;
$typeSetColor: #d4baa7;
$typeZSetColor: #d9a0c6;
$typeStringColor: #c7b0ea;
$typeReJSONColor: #b8c5db;
$typeStreamColor: #c7cea8;
$typeGraphColor: #acccd7;
$typeTimeSeriesColor: #c7c7c7;
$groupSortedSetColor: #d9a0c6;
$groupBitmapColor: #3f4b5f;
$groupClusterColor: #6e6e6e;
$groupConnectionColor: #ffb4d3;
$groupGeoColor: #bbc4bc;
$groupGenericColor: #f8f8aa;
$groupPubSubColor: #bef0f2;
$groupScriptingColor: #ffadad;
$groupTransactionsColor: #14708d;
$groupServerColor: #e8e8e8;
$groupHyperLolLogColor: #3f4b5f;
$defaultTypeColor: #E3AAAA;

// JSON colors
$jsonKeyNameColor: #a00595;
$jsonKeyNameArrayColor: #00677e;
$jsonStringColor: #006915;
$jsonNumberColor: #00677e;
$jsonBooleanColor: #9e6600;
$jsonNullColor: #395984;
$jsonNonStringPrimitiveColor: #6b9fff;

// RediSearch colors
$rsSubmitBtn: #13a450;
$rsInputColor: #fff;
$rsInputWrapperColor: #fff;

// Workbench
$wbRunResultsBg: #fff;
$wbHoverIconColor: #415681;
$wbActiveIconColor: #3163D8;
$wbTextColor: #415681;

// Pub/Sub
$pubSubClientsBadge: #b5cea8;

// Database analysis
$badgeIconColor : #415681;
$recommendationBorderColor: #3953c3;


// Recommendations
$recommendationsBgColor: #FFFFFF;
$recommendationBgColor: #F6F7F9;
$recommendationLiveBorderColor: #B37A1E;
$recommendationColor: #415681;
$triggerIconActiveColor: #FFAF2B;
$triggerIconTextColor: #3D3D3D;
$recommendationsCountBgColor: #243dac;

// cloud sso
$cloudSsoGoogle: #A2B8F2;
$cloudSsoGithub: #393939;
$euiColorDarkShade: #aaa;

// RDI
$rdiSecondaryBgColor: #EFEFEF;
