.multiSearchWrapper {
  flex: 1;
  display: flex;
  align-items: center;

  height: 100%;
  min-height: 36px;

  .multiSearch {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 6px;
    border: 1px solid var(--controlsBorderColor);
    border-radius: 0 4px 4px 0;
    background-color: var(--euiColorEmptyShade);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in,
      background-color 150ms ease-in;

    &.isFocused {
      background-size: 100% 100%;
      background-image: linear-gradient(
        to top,
        var(--euiColorPrimary),
        var(--euiColorPrimary) 2px,
        transparent 2px,
        transparent 100%
      ) !important;
    }
  }

  .multiSearchInput {
    flex: 1;
    background-color: transparent !important;
    max-width: 100% !important;
    border: none !important;
    height: 100%;
    padding: 0 6px 0 10px;
    background-image: none !important;
  }

  .clearBtnTooltip {
    position: relative;
  }

  .clearButton {
    color: var(--htmlColor) !important;
    width: 16px;
    height: 16px;
    background-color: var(--separatorColor);
    border-radius: 100%;
    margin-left: 5px;

    &:hover,
    &:focus {
      background-color: var(--separatorColor) !important;
    }

    :global(.euiIcon) {
      width: 10px;
      height: 10px;
    }
  }

  .autoSuggestions {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    min-width: 180px;

    background: var(--euiColorEmptyShade);
    border: 1px solid var(--controlsBorderColor);
    border-radius: 4px;
    z-index: 1001;
    padding: 4px 0;

    font-size: 13px;

    color: var(--euiTextSubduedColor);

    .suggestion {
      display: flex;
      align-items: center;
      text-align: left;

      padding: 6px 10px;
      cursor: default;

      &:hover,
      &.focused {
        background: var(--hoverInListColorDarken);
        .suggestionRemoveBtn {
          visibility: visible;
          pointer-events: auto;
        }
      }
    }

    .suggestionText {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-grow: 1;
      line-height: 1.4;
    }

    .suggestionOption {
      margin-right: 10px;
    }

    .suggestionRemoveBtn {
      flex-shrink: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .historyIcon {
    margin-left: 8px;
    margin-right: -4px;
  }

  .clearHistory {
    border-top: 1px solid var(--separatorColor);
    padding: 8px 10px;
    text-align: left;

    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    &:hover {
      background: var(--hoverInListColorDarken);
    }
  }

  .searchButton {
    width: 24px;
    height: 24px;
    background-color: var(--euiColorSecondary);
    color: var(--euiColorPrimaryText) !important;
    border-radius: 4px;
    margin-left: 12px;

    &:hover:not(:disabled),
    &:focus,
    &:focus-within {
      background-color: var(--buttonSecondaryHoverColor) !important;
      transform: none !important;
    }

    &:hover {
      transform: none;
    }

    &:disabled {
      border: 1px solid var(--separatorColor);
      background-color: var(--euiColorLightestShade);
    }
  }

  .anchorSubmitBtn {
    height: 100%;
  }

  .askCopilotBtn {
    margin-left: 4px;
    :global {
      .euiButtonContent.euiButtonEmpty__content {
        .euiButtonEmpty__text {
          display: flex;
          align-items: center;
          color: var(--highlightDotColor) !important;
          font-size: 12px;
        }
      }
    }

    .cloudIcon {
      width: 14px;
      height: 14px;
      margin-right: 8px;

      :global {
        path {
          fill: var(--highlightDotColor) !important;
        }
      }
    }


  }
}
