$breakpoint-to-hide-resize-panel: 1280px;

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.main {
  display: flex;
  flex-grow: 1;
  padding: 0 16px;
  overflow: hidden;
}

.resizableButton {
  z-index: 10 !important;
}

.hidden {
  display: none;
}

.keysContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  @media (min-width: $breakpoint-to-hide-resize-panel) {
    display: none;
  }
}

.keyList {
  width: 100%;
  height: 100%;
  position: relative;
  border: none !important;
  z-index: 0;
}

.keyDetails {
  width: 100%;
  height: 100%;
  position: absolute !important;
  left: 100%;
  top: 0;
  transition: left 0.25s ease;
  will-change: left;
}

.keyDetailsOpen {
  left: 0;

  @media (max-width: 1123.98px) {
    width: 100% !important;
  }
}

.backBtn {
  flex-grow: 0;
  align-self: self-start;
  margin: 0 0 8px 16px;

  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;

  &:hover {
    color: var(--buttonSecondaryTextColor) !important
  }
}

.resizableContainer {
  position: relative;

  .noVisible{
    visibility: hidden;
  }

  .fullWidth {
    width: 100% !important;
    min-width: 100% !important;
  }
}
