.container {
  padding: 12px 0;
  .text {
    color: var(--euiColorMediumShade) !important;
  }
}

.progress {
  display: inline-block;
}

.changeReport {
  max-width: 180px !important;
}

.changeReport :global(.euiSuperSelectControl) {
  border: none !important;
  padding-right: 34px !important;

  & ~ :global(.euiFormControlLayoutIcons) svg {
    width: 12px;
  }
}

.infoIcon {
  color: var(--euiColorMediumShade);
  cursor: pointer;
}
