@import '@elastic/eui/src/global_styling/variables';

$animation-duration: 300ms;

.content {
  margin-top: 70px;
  height: calc(100% - 70px) !important;
  background-color: var(--recommendationsBgColor) !important;
  border-left: none !important;
  border-radius: 4px 0 0 4px;
  box-shadow: -5px 0px 16px rgba(0, 0, 0, 0.16) !important;
  min-width: 476px !important;

  :global(.euiFlyout__closeButton) {
    background-color: transparent;
    height: 10px;
    width: 10px;
    right: 20px;
    top: 29px;
  }
}

.loading {
  display: block;
  width: 100%;

  :global {
    .euiLoadingContent__singleLine {
      height: 46px;
      margin-bottom: 10px;
    }

    .euiLoadingContent__singleLine:last-child:not(:only-child) {
      width: 100%;
    }
  }
}

.trigger {
  position: fixed;
  right: -37px;
  bottom: 90px;
  z-index: 1100;
  transform: rotate(-90deg);
  width: 106px;
  height: 30px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 30px;

    background: var(--recommendationsBgColor);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 7px -2px rgba(0, 0, 0, 0.16);
    padding: 9px 20px;
  }

  &.isOpen {
    animation: triggerInsights $animation-duration $euiAnimSlightResistance;
    right: 438px;
    will-change: right;
  }

  .triggerIcon {
    width: 10px;
    height: 14px;
    fill: var(--htmlColor);
    margin-right: 4px;

    path {
      stroke: var(-htmlColor);
    }
  }

  .triggerText {
    font: normal normal 400 12px/14px Graphik, sans-serif !important;
    color: var(--htmlColor) !important;
  }

  .triggerHighlighted.triggerText {
    color: var(--triggerIconActiveColor) !important;
  }
}

.header {
  padding: 24px 15px 0 !important;

  .title {
    font: normal normal 500 18px/22px Graphik, sans-serif;
  }

  .actions {
    margin: 8px -15px 0;
  }
}

.body {
  padding: 8px 15px 24px !important;
}

.footer {
  height: 40px;
  background: var(--tableRowSelectedColor);
  display: flex;
  justify-content: center;
  align-items: center;

  .footerIcon {
    width: 41px;
    height: 30px;
    margin-right: 16px;
  }

  .text {
    font: normal normal 400 12px/14px Graphik, sans-serif !important;
    color: var(--recommendationColor) !important;
  }
}

.actions {
  display: flex;
  align-items: center;
  background: var(--recommendationBgColor);
  padding: 8px 24px;
  justify-content: space-between;

  .boldText {
    font: normal normal 600 14px/17px Graphik, sans-serif !important;
  }

  .infoIcon {
    width: 14px !important;
    height: 14px !important;
    fill: var(--htmlColor);
    cursor: pointer;
  }

  .tooltipAnchor {
    margin-left: 6px;
  }
}

.tooltip {
  max-width: 314px !important;
}

.hideCheckbox {
  > :global(.euiCheckbox__square + .euiCheckbox__input:not(:checked)) {
    background: var(--recommendationBgColor) !important;
  }
}

.hideBtn {
  margin-bottom: 3px;
}

@keyframes triggerInsights {
  0% {
    opacity: 0;
    right: -37px;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 438px;
  }
}
