@import "@elastic/eui/src/global_styling/variables";

$animation-duration: 300ms;

.content {
  margin-top: 70px;
  height: calc(100% - 70px) !important;
  background-color: var(--recommendationsBgColor) !important;
  border-left: none !important;
  border-radius: 4px 0 0 4px;
  box-shadow: -5px 0px 16px rgba(0, 0, 0, 0.16) !important;
  min-width: 476px !important;

  :global(.euiFlyout__closeButton) {
    background-color: transparent;
    height: 10px;
    width: 10px;
    right: 20px;
    top: 29px;
  }
}

.loading {
  display: block;
  width: 100%;

  :global {
    .euiLoadingContent__singleLine {
      height: 46px;
      margin-bottom: 10px;
    }

    .euiLoadingContent__singleLine:last-child:not(:only-child) {
      width: 100%;
    }
  }
}

.trigger {
  position: fixed;
  right: -37px;
  bottom: 180px;
  z-index: 1100;
  transform: rotate(-90deg);
  width: 106px;
  height: 30px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 30px;

    background: var(--recommendationsBgColor);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 7px -2px rgba(0, 0, 0, 0.16);
    padding: 9px 20px;
  }

  &.isOpen {
    animation: triggerInsights $animation-duration $euiAnimSlightResistance;
    right: 438px;
    will-change: right;
  }

  .totalUnread {
    font-weight: 500;
    font-size: 12px;
    background-color: var(--triggerIconActiveColor);
    color: var(--triggerIconTextColor);

    border-radius: 100%;

    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    transform: rotate(90deg);
  }

  .triggerIcon {
    width: 10px;
    height: 14px;
    fill: var(--htmlColor);
    margin-right: 4px;

    path {
      stroke: var(-htmlColor);
    }
  }

  .triggerText {
    font: normal normal 400 12px/14px Graphik, sans-serif !important;
    color: var(--htmlColor) !important;
  }

  .triggerHighlighted.triggerText {
    color: var(--triggerIconActiveColor) !important;
  }
}

.header {
  padding: 24px 15px 0 !important;

  .headerTop {
    display: flex;
    align-items: center;
  }

  .betaBadge {
    margin-left: 16px;
    background-color: var(--recommendationLiveBorderColor) !important;
    border: 1px solid var(--triggerIconActiveColor) !important;
    color: #FFF7EA !important;
  }

  .title {
    font: normal normal 500 18px/22px Graphik, sans-serif;
  }

  .actions {
    min-height: 40px;
    margin: 8px -15px 0;
  }
}

.body {
  padding: 8px 15px 24px !important;
}

.footer {
  min-height: 26px;
  background: var(--tableRowSelectedColor) !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .footerIcon {
    width: 32px;
    height: 22px;
    margin-right: 16px;
  }

  .text,
  .link {
    font: normal normal 400 12px/14px Graphik, sans-serif !important;
    color: var(--recommendationColor) !important;
  }

  .link {
    vertical-align: super;
    padding-top: 2px;
  }
}

.actions {
  display: flex;
  align-items: center;
  background: var(--recommendationBgColor);
  padding: 8px 24px;
  justify-content: space-between;

  .boldText {
    font: normal normal 600 14px/17px Graphik, sans-serif !important;
  }

  .githubIcon {
    color: var(--htmlColor);
  }

  .infoIcon {
    width: 16px !important;
    height: 16px !important;
    fill: var(--htmlColor);
    cursor: pointer;
  }

  .tooltipAnchor {
    margin-left: 6px;
  }
}

.tooltip {
  max-width: 314px !important;
}

.hideCheckbox {
  > :global(.euiCheckbox__square + .euiCheckbox__input:not(:checked)) {
    background: var(--recommendationBgColor) !important;
  }
}

.hideBtn {
  margin-bottom: 3px;
}

@keyframes triggerInsights {
  0% {
    opacity: 0;
    right: -37px;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 438px;
  }
}
