.enablement-area {
  .euiAccordion {
    backface-visibility: hidden;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
    .group-header {
      font: normal normal medium 11px/15px Graphik;
      letter-spacing: -0.12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .euiAccordion__button {
    padding: 3px 0;
    & > span {
      overflow: hidden;
    }
  }
  .euiAccordion-isOpen {
    min-width: 100%;
    &.withBorder {
      border-color: var(--separatorColor);
    }
  }
  .euiAccordion__triggerWrapper, .euiAccordion__childWrapper {
    border: none !important;
    background-color: transparent !important;
  }
  .euiAccordion__childWrapper {
    padding-left: 8px;
    margin-bottom: 4px;
    .euiListGroupItem {
      button {
        padding: 3px 8px;
        line-height: 24px;
        max-height: 30px;
        &:hover {
          background-color: var(--hoverInListColorLight);
          color: var(--euiTextColor)
        }
      }
      .euiListGroupItem__label {
        font: normal normal normal 14px/20px Graphik;
        letter-spacing: -0.14px;
      }
    }
  }
}
