.tooltip {
  @media only screen and (min-width: 768px) {
    max-width: 400px !important;
  }
}

.queryLine {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.queryMultiLine {
  padding-left: 40px;
}

.queryLineNumber {
  position: absolute;
  display: flex;
  left: 0;
  justify-content: flex-end;
  width: 26px;
}

.queryLineFolding > span,
.queryLineNumber {
  opacity: 0.4;
}

.tooltipAnchor {
  cursor: pointer;
}
