.container {
  margin-top: 20px;
}

.title :global(.euiLoadingContent__singleLine) {
  height: 42px !important;
  margin-bottom: 12px;
}

.table :global(.euiLoadingContent__singleLine) {
  height: 36px !important;
  margin-bottom: 6px;

  &:last-child:not(:only-child) {
    width: 100% !important;
  }
}
