.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentWrapper {
  background-color: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightShade);
  border-bottom-width: 0;
}

:global(.show-cli) .contentWrapper {
  border-bottom-width: 1px;
}

.content {
  min-height: 100%;
  height: 1px !important;
  width: 100%;
  position: relative;
  padding: 20px 55px 80px 55px;
  max-width: 708px;
  scroll-padding-bottom: 80px;

  @media screen and (max-width: 767px) {
    padding: 20px 15px 96px 15px;
    scroll-padding-bottom: 96px;
  }
}

.closeKeyTooltip {
  position: absolute;
  top: 8px;
  right: 10px;

  svg {
    width: 20px;
    height: 20px;
  }
}
