.bodyWrapper {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.formWrapper {
  flex-grow: 1;
  padding: 16px 24px;
  height: 100%;

  .softwareTypes {
    display: flex;
    align-items: center;

    :global(.euiRadioGroup__item) {
      margin-top: 0;
      margin-right: 12px;
    }
  }
}
