.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

.warning {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  white-space: pre;
}

.alertIcon {
  margin-right: 5px;
}
