.popover {
  min-width: 380px !important;
}

.popoverIcon {
  color: var(--euiColorWarningLight) !important;
  width: 18px !important;
  height: 18px !important;
  margin-top: 2px;
}

.buttonWrapper {
  .loadDataBtn {
    height: 36px !important;

    :global(.euiButton__text) {
      font-size: 14px !important;
      font-weight: 400 !important;
    }
  }
}

