.modal {
  background: var(--euiColorLightestShade) !important;
  min-width: 420px !important;
  min-height: auto !important;
  padding: 0;

  :global(.euiModalBody__overflow) {
    mask-image: none !important;
  }

  &.createDb, &.import {
    min-width: 720px !important;
    max-width: 800px !important;
    min-height: 500px !important;
  }
}
