.footer {
  padding: 15px 14px 10px 30px !important;
}

.title {
  padding-bottom: 5px !important;
}

.subTitle {
  padding-bottom: 10px;
}

.searchForm {
  width: 266px !important;
}

.table {
  @include eui.scrollBar;
  overflow: auto;
  max-height: calc(100vh - 320px) !important;

  @media (min-width: 1180px) {
    max-height: calc(100vh - 260px) !important;
  }
}

.tableEmpty :global(.euiTableRowCell) {
  display: none !important;
}
.tableEmpty :global(.euiTableRow) {
  height: 1px !important;
}

.notFoundMsg {
  margin: 50px auto;
  text-align: center;
}

.panelCancelBtn {
  max-width: 350px !important;
  margin-left: -10px;
}

.dbInfo {
  width: 67px !important;
}

.input {
  width: 264px !important;
}

.tooltipColumnName {
  max-width: 370px !important;
  * {
    line-height: 1.19;
    font-size: 14px !important;

    &:not(:global(.euiToolTip__title)) {
      font-weight: 300 !important;
    }
  }
}

.errorBtn {
  height: 100% !important;
  > span {
    padding: 0 !important;
  }
}

.tooltipColumnNameText {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}
