.enablement-area {
  .euiAccordion {
    backface-visibility: hidden;

    .group-header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .onboardingPopoverAnchor {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }

    .group-header {
      font: normal normal medium 11px/15px Graphik, sans-serif;
      letter-spacing: -0.12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          color: var(--euiColorPrimaryText);
          background-color: var(--euiColorSecondary);
        }
      }

      &__delete-btn {
        svg {
          width: 14px;
          height: 14px;
        }

        &:hover {
          color: var(--euiColorPrimaryText);
          background-color: var(--euiColorSecondary);
        }
      }
    }

    .divider {
      visibility: hidden;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      hr {
        border: none;
        height: 1px;
        width: 100%;
        background-color: var(--separatorColor);
      }
    }
  }

  .euiAccordion__button {
    padding: 3px 0;
    flex-grow: 1;
    margin-bottom: 2px;

    & > span {
      overflow: hidden;
    }

    .euiIEFlexWrapFix {
      flex-grow: 1;
    }

    &:hover {
      background-color: var(--hoverInListColorDarken);
    }
  }

  .euiAccordion-isOpen {
    min-width: 100%;

    .divider {
      visibility: visible;
    }
  }

  .euiAccordion__triggerWrapper, .euiAccordion__childWrapper {
    border: none !important;
    background-color: transparent !important;
  }

  .euiAccordion__childWrapper {
    padding-left: 0;

    .euiListGroupItem {
      button {
        padding: 3px 8px;
        line-height: 24px;
        max-height: 30px;
      }

      .euiListGroupItem__label {
        font: normal normal normal 14px/20px Graphik, sans-serif;
        letter-spacing: -0.14px;
        height: 24px;
      }
    }

    .euiListGroupItem:hover {
      color: var(--euiTextColor);
      background-color: var(--hoverInListColorDarken);
    }
  }
}

.hide {
  display: none;
}
