.table {
  thead {
    background-color: var(--rdiSecondaryBgColor);
    th {
      padding: 10px 0;
    }
  }

  :global {
    .euiTableRow {
      &:nth-child(even) {
        background-color: var(--browserTableRowEven);
      }

      &:nth-child(odd) {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
