$animation-duration: 300ms;

.panel {
  height: 100%;
  width: 100%;
  padding-right: 16px;

  &.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 16px;
    z-index: 1001;
  }
}

.panelInner {
  background-color: var(--euiColorEmptyShade);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.title {
  font-size: 16px;
}


.body {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.trigger {
  position: fixed;
  right: -37px;
  bottom: 180px;
  z-index: 1100;
  transform: rotate(-90deg);
  width: 106px;
  height: 30px;

  &.exploreTrigger {
    bottom: 280px;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 30px;

    background: var(--recommendationsBgColor);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 7px -2px rgba(0, 0, 0, 0.16);
    padding: 9px 20px;
  }

  &.isOpen {
    display: none;
  }

  .totalUnread {
    font-weight: 500;
    font-size: 12px;
    background-color: var(--triggerIconActiveColor);
    color: var(--triggerIconTextColor);

    border-radius: 100%;

    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    transform: rotate(90deg);
  }

  .triggerIcon {
    width: 10px;
    height: 14px;
    fill: var(--htmlColor);
    margin-right: 4px;

    path {
      stroke: var(-htmlColor);
    }
  }

  .triggerText {
    font: normal normal 400 12px/14px Graphik, sans-serif !important;
    color: var(--htmlColor) !important;
  }

  .triggerHighlighted.triggerText {
    color: var(--triggerIconActiveColor) !important;
  }
}

.tabs {
  display: flex;
  flex: 1;
  flex-shrink: 0 !important;
  overflow: initial !important;
  margin-right: 12px;
  border-bottom: 1px solid var(--separatorColor);
  align-items: center;
  padding: 0 12px;

  .tab {
    margin-bottom: -1px;

    :global {
      .euiTab__content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .tabTotalUnread {
      display: inline-block;
      background-color: var(--euiTextSubduedColor);
      color: var(--euiColorLightestShade);
      height: 18px;
      width: 18px;
      font-size: 10px;
      line-height: 17px;
      font-weight: 500;
      margin-left: 4px;
      border-radius: 100%;
    }
  }
}

.assistantHeader {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.betaLabel {
  margin-left: 4px;
  font-size: 8px !important;
  line-height: 12px !important;
  background-color: var(--recommendationLiveBorderColor) !important;
  border: 1px solid var(--triggerIconActiveColor) !important;
  color: #FFF7EA !important;
  border-radius: 2px !important;
  padding: 0 3px !important;

  transition: transform 250ms ease-in-out;
  pointer-events: none;

  :global(.euiBadge__content) {
    min-height: 12px !important;
  }
}

.onboardingAnchorWrapper {
  display: flex;

  :global(.euiPopover__anchor) {
    display: flex;
    align-items: center;
  }
}
