<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RedisInsight</title>
  </head>
  <body class="electron">
    <div id="root" style="height: 100%; width: 100%;"></div>
  </body>
</html>
