.container {
  @include eui.scrollBar;
  flex: auto;
  padding: 9px 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 17px;

  text-align: left;
  letter-spacing: 0;
  color: var(--textColorShade);

  background-color: var(--euiPageBackgroundColor);

  z-index: 6;
}

.loading {
  // margin-top: 8px;
  height: 17px;
  max-width: 600px;

  :global(.euiLoadingContent__singleLine) {
    margin-bottom: 0 !important;
  }
}

.pluginIframe {
  width: 100%;
}

.hidden {
  display: none;
}

.pluginWrapperResult {
  max-height: 600px;
  overflow: auto;
  @include eui.scrollBar;
}

.alertIconWrapper {
  height: 19px;
  display: inline-flex;
  align-items: center;
}
