.btnOpen {
  float: right;
  svg {
    height: 20px;
    width: 20px;
  }
}

.iconLeftArrow {
  margin-right: 4px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.hiddenText {
  display: inline-block;
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  max-width: 100%;
  margin-right: 80px;
  word-break: break-all;
}

.input {
  font: normal normal 500 20px/24px "Graphik" !important;
  backface-visibility: hidden;
}

.alias {
  display: flex;
  width: 100%;
  min-width: 100%;
  padding-left: 9px;
  padding-top: 4px;
  margin-bottom: 5px;
  align-items: center;
  font: normal normal 500 20px/25px "Graphik" !important;
}

.aliasText {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  padding-right: 5px;
}

.aliasEditing {
  cursor: pointer;

  span {
    text-decoration: underline;
  }

  &:hover span {
    text-decoration: none;
  }
}

.aliasEditIcon {
  margin: 0 6px 0 8px;
  width: 18px !important;
  height: 18px !important;
}

.redistackIcon {
  width: 24px !important;
  max-width: 24px !important;
  height: 24px !important;
  margin-top: 3px;
  margin-right: 4px;
}

.tooltipLogo {
  width: 88px !important;
  height: 18px !important;
}
