.container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 3px;
  background-color: var(--euiColorEmptyShade);
}

.actions,
.actionsHeader {
  width: 54px;
}

.tooltip {
  min-width: 330px;
}

.editableCell {
  padding: 12px 40px 12px 12px;
}

.idText, .error {
  display: inline-block;
  color: var(--euiColorMediumShade);
  font: normal normal normal 12px/18px Graphik, sans-serif;
  margin-top: 6px;
  padding-right: 6px;
}

.error {
  color: var(--euiColorDangerText);
}

.container {
  :global(.ReactVirtualized__Table__rowColumn) {
    display: flex;
  }
}

.editBtn {
  position: absolute;
  top: 20px;
  right: 0;
}
