.container {
  position: absolute;
  height: 36px;
  width: 154px;
  border: 1px solid var(--separatorColor);
  border-radius: 4px 0 0 4px;
  overflow: hidden;

  :global {
    .euiFormControlLayout {
      .euiSuperSelectControl {
        display: flex;
        align-items: center;
        height: 36px !important;
        background-color: var(--browserTableRowEven) !important;
        box-shadow: none !important;
        border: 0 !important;
        padding: 0 !important;

        &.euiSuperSelect--isOpen__button {
          background-color: var(--browserTableRowEven) !important;
        }

        &:focus {
          background-color: var(--browserTableRowEven) !important;
        }
        &:not(:disabled):hover {
          background-color: var(--hoverInListColorDarken) !important;
        }
      }
    }
    .euiPopover:not(.euiSuperSelect) {
      position: absolute;
      z-index: 10;
      top: 10px;
      left: 24px;

      svg {
        width: 18px !important;
        height: 18px !important;
      }
    }
    .euiPopover.euiPopover-isOpen {
      .euiIcon {
        color: var(--euiTextSubduedColorHover);
      }
    }
    .euiFormControlLayoutIcons {
      left: 24px;

      :global(.euiIcon) {
        width: 16px;
        height: 12px;
      }
    }
  }
}

.filterKeyType {
  position: relative;
  height: 30px;
  line-height: 14px !important;
  padding: 4px !important;
  background-color: var(--browserTableRowEven);

  &:hover, &:focus {
    background-color: var(--hoverInListColorDarken) !important;
  }

  :global {
    .euiContextMenu__icon {
      margin-left: 8px;
      margin-right: 2px;
      width: 16px;
      height: 14px;
    }
  }
}

.controlsIcon {
  cursor: pointer;
  margin-left: 6px;
  height: 16px !important;
  width: 16px !important;
  &:global(.euiIcon) {
    color: var(--inputTextColor) !important;
  }
}

.allTypes {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  width: 22px;
  height: 36px;
  padding-left: 0;

  cursor: pointer;
  z-index: 5;
  pointer-events: none;
}

.unsupported {
  .allTypes {
    cursor: not-allowed;
  }
  .allTypesIcon {
    cursor: not-allowed;
    color: var(--euiTextSubduedColor);
  }

  .unsupportedInfo {
    display: inline-block;
  }

  :global(.euiFormControlLayoutIcons) {
    display: none;
  }
}

.infoIcon {
  color: var(--euiTextSubduedColor);
}

.unsupportedInfoPanel {
  border: none;
  max-width: 267px !important;
  background-color: var(--euiTooltipBackgroundColor) !important;

  :global(.euiPopover__panelArrow:after) {
    border-bottom-color: var(--euiTooltipBackgroundColor) !important;
  }
}

.clearSelectionBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: -28px;
  border-top: 1px solid var(--separatorColor);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  text-decoration: underline;
  cursor: pointer;
}

.dropdownDisplay {
  :global {
    .euiFlexGroup {
      margin: 0;
      line-height: 1;
    }
  }
}
