.container {
  width: 168px;
  height: 36px;
  flex-shrink: 0;
  position: relative;

  :global {
    .euiFormControlLayout {
      .euiSuperSelectControl {
        display: flex;
        align-items: center;
        height: 36px !important;
        background-color: var(--euiColorEmptyShade) !important;
        box-shadow: none !important;
        border: 1px solid var(--controlsBorderColor) !important;
        border-left: 0 !important;
        border-right: 0 !important;
        padding: 0 25px 0 6px !important;

        &.euiSuperSelect--isOpen__button,
        &:focus,
        &:not(:disabled):hover {
          background-color: var(--euiColorEmptyShade) !important;
        }
      }
    }
    .euiPopover:not(.euiSuperSelect) {
      svg {
        width: 18px !important;
        height: 18px !important;
      }
    }
    .euiPopover.euiPopover-isOpen {
      .euiIcon {
        color: var(--euiTextSubduedColorHover);
      }
    }
    .euiFormControlLayoutIcons {
      :global(.euiIcon) {
        width: 16px;
        height: 12px;
      }
    }
  }
}

@include global.insights-open {
  .container {
    width: 128px;
  }
}

.filterKeyType {
  position: relative;
  height: 30px;
  line-height: 14px !important;
  padding: 4px !important;
  background-color: var(--euiColorEmptyShade);

  &:hover,
  &:focus {
    background-color: var(--hoverInListColorDarken) !important;
  }

  :global {
    svg {
      margin-left: 8px;
      margin-right: 2px;
      width: 16px;
      height: 14px;
    }
  }
}

.controlsIcon {
  cursor: pointer;
  margin-left: 6px;
  height: 16px !important;
  width: 16px !important;
  &:global(.euiIcon) {
    color: var(--inputTextColor) !important;
  }
}

.unsupported {
  .allTypes {
    cursor: not-allowed;
  }
  .allTypesIcon {
    cursor: not-allowed;
    color: var(--euiTextSubduedColor);
  }

  :global(.euiFormControlLayoutIcons) {
    display: none;
  }
}

.unsupportedInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  cursor: pointer;
}

.unsupportedInfoModal {
  width: 520px !important;
  max-width: 520px !important;
  z-index: 10000 !important;
}

.dropdownOption {
  padding-left: 6px;
}
