.infoPanel {
  background-color: var(--rdiSecondaryBgColor);
  border: 1px solid var(--separatorColor);
  border-radius: 4px;
  padding: 16px;
}

.infoLabel {
  font-weight: 500;
  color: var(--euiTextSubduedColor);
  justify-content: center;
}

.infoValue {
  font-weight: 500;
  text-decoration: underline;
  color: var(--euiTextSubduedColor);
  justify-content: center;
}

.infoSuffix {
  font-size: 12px;
  color: var(--euiColorMediumShade);
  justify-content: center;
}
