.container {
  // RDI alias column
  tr > th:nth-child(2),
  tr > td:nth-child(2) {
    padding-left: 5px !important;
  }

  :global {
    .itemList {
      height: calc(100vh - 261px);
    
      @media (min-width: 768px) {
        height: calc(100vh - 122px);
      }
    }
  }
}
