.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;

  &.isOpen {
    .btn {
      outline: 0 !important;
      border-color: var(--euiColorPrimary) !important;
      background-color: var(--insightsTriggerBgColor) !important;
      border-radius: 4px;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    color: var(--recommendationColor);
    position: relative;
    background: none !important;
    border-color: transparent !important;
    height: 36px !important;
    width: 36px !important;
    min-width: 36px !important;
    box-shadow: none !important;

    :global(.euiButton__text) {
      margin-inline: 0;
    }

    svg {
      width: 21px;
      height: 21px;
      color: var(--buttonSecondaryTextColor) !important;
    }
  }

  .highlighting {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--triggerIconActiveColor);
    border: 1px solid #fff;
  }
}
