.container {
  padding: 40px 60px;
  text-align: center;

  .title {
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    font-weight: 600;
    word-break: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .linksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      color: var(--wbTextColor) !important;
      text-decoration: none !important;
    }
  }
}
