@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.welcome {
  @include euiScrollBar;

  background-size: cover;
  height: 100%;
  overflow-y: scroll;

  text-align: center;

  &.welcome_dark {
    background-image: url('uiSrc/assets/img/welcome_bg_dark.jpg');
  }

  &.welcome_light {
    background-image: url('uiSrc/assets/img/welcome_bg_light.jpg');
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  max-width: 800px;
  margin: 0 auto;
  padding: 10px 15px;
}

.controls {
  margin-top: 32px;
  text-align: left;
}

.controlsGroup {
  margin-bottom: 32px;
}

.addDbTitle {
  display: inline-block;
  width: 100%;

  font-size: 18px !important;
  text-align: center;
  margin-bottom: 32px;
}

.controlsGroupTitle {
  margin-bottom: 12px;
  font-size: 18px !important;
}

.section {
  padding: 15px 40px 15px 15px;
  background-color: var(--euiColorLightestShade);
  border-radius: 8px;
  border: 1px solid var(--separatorColorLight);
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  display: flex;
  align-items: center;
  position: relative;

  cursor: pointer;

  transition: transform ease .2s;

  &:hover {
    transform: translateY(-1px);
  }

  .btnIcon {
    margin-right: 16px;

    width: 24px;
    height: 24px;
  }

  .btnTitle {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .btnText {
    font-size: 12px;
    line-height: 15px;
  }

  .arrowIcon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .cloudIcon {
    fill: none !important;
  }
}

.btn.promoButton {
  min-height: 80px;

  color: var(--htmlColor) !important;
}

.logo {
  display: inline-block;
  width: 285px;
  height: auto;
  margin-bottom: 12px;
}

.title {
  font-size: 24px !important;
  font-weight: 500 !important;
}

.subTitle {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 500 !important;
}

.text {
  font-weight: normal;
  padding-top: 8px;
  font-size: 14px;
  color: var(--euiTextColor) !important;
  max-width: 540px;
  margin: 0 auto;
}

.links {
  font-size: 14px;

  a {
    color: var(--euiTextColor);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.explorePanel {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-left: 1px solid var(--separatorColorLight);
}

.capabilityPromotion {
  min-height: 80px;
  padding: 15px 0;
}
