$euiColorPrimary: #8ba2ff;
$euiColorPrimaryText: #ffffff;
$euiColorSecondary: #465282;
$euiColorSecondaryText: #ffffff;
$euiColorSuccess: #8ba2ff;
$euiColorSuccessText: #8ba2ff;
$euiColorDanger: #ff6280;
$euiColorDangerText: #ff6280;
$euiColorWarning: #b12d26;
$euiColorWarningText: #ce4841;
$euiColorWarningLight: #d8ab52;
$euiTextSubduedColor: #b5b6c0;
$euiTextSubduedColorHover: #dfe5ef;
$euiPageBackgroundColor: #010101;
$euiTooltipBackgroundColor: #333d4f;
$euiTooltipTextColor: #ffffff;
$euiTooltipTextSecondColor: #e4e9f1;
$euiTooltipTitleTextColor: #ffffff;
$euiColorLightShade: #383838;
$euiColorLightestShade: #2b2b2b;
$euiColorEmptyShade: #202020;
$euiBreadcrumbActive: #dfe5ef;
$euiToastBackgroundColor: #333d4f;
$euiToastSuccessBtnColor: #637084;
$euiToastSuccessBorderColor: #7989a3;
$euiToastDangerBtnColor: #ce4841;
$euiToastDangerBorderColor: #e8524a;
$euiColorMediumShade: #898a90;
$euiColorGhost: #ffffff;

$euiColorDarkShade: #aaa;
$euiButtonIconPrimary: $euiColorPrimary;
$euiButtonIconSecondary: $euiColorSecondary;

$htmlColor: #dfe5ef;
$navBackgroundColor: #0f1633;
$externalLinkColor: #8ba2ff;
$externalLinkTooltipColor: #8ba2ff;

$tableRowHoverColor: #070707;
$tableRowSelectedColor: #212536;
$tableLightestBorderColor: #707070;
$tableLightBorderColor: #2b2b2b;
$tableDarkestBorderColor: #2c2c2c;

$browserTableRowEven: #171717;
$browserViewTypePassive: #171717;
$browserComponentActive: #292f47;
$browserTreeNodeOpen: #2b2f40;

$inputTextColor: #dfe5ef;
$inputDisabledBackgroundColor: $euiColorEmptyShade;
$inputPlaceholderColor: #898a90;
$controlsBoxShadowColor: rgba(0, 0, 0, 0.45);
$controlsBorderColor: #6b6b6b;
$controlsLabelColor: #b5b6c0;
$iconsDefaultColor: #b5b6c0;
$iconsDefaultHoverColor: #dfe5ef;
$separatorColor: #3d3d3d;
$separatorDropdownColor: #8b90a3;

$buttonSecondaryHoverColor: #364da8;
$buttonSecondaryTextColor: #dfe5ef;
$buttonSecondaryDisabledTextColor: #8b90a3;
$buttonDangerHoverColor: #e8524a;
$buttonIconPrimaryHover: #364da8;

$hoverInListColor: #070707;
$hoverInListColorLight: #465282;
$hoverInListColorDarken: #292f47;
$textColorShade: #b5b6c0;
$cliOutputResponseColor: #ffffff;
$cliOutputResponseFailColor: #e06c75;

$badgeBackgroundColor: #707070;
$commandGroupBadgeColor: #3f4b5f;

$overlayPromoNYColor: #0000001a;

$monacoBgColor: #111;

// Types colors
$typeHashColor: #364cff;
$typeListColor: #008556;
$typeSetColor: #9c5c2b;
$typeZSetColor: #a00a6b;
$typeStringColor: #6a1dc3;
$typeReJSONColor: #3f4b5f;
$typeStreamColor: #6a741b;
$typeGraphColor: #14708d;
$typeTimeSeriesColor: #6e6e6e;
$groupSortedSetColor: #a00a6b;
$groupBitmapColor: #3f4b5f;
$groupClusterColor: #6e6e6e;
$groupConnectionColor: #bf1046;
$groupGeoColor: #344e36;
$groupGenericColor: #4a2923;
$groupPubSubColor: #14365d;
$groupScriptingColor: #5d141c;
$groupTransactionsColor: #14708d;
$groupServerColor: #000000;
$groupHyperLolLogColor: #3f4b5f;

// JSON colors
$jsonKeyNameColor: #c678dd;
$jsonKeyNameArrayColor: #5da8e5;
$jsonStringColor: #98c379;
$jsonNumberColor: #5da8e5;
$jsonBooleanColor: #d19a66;
$jsonNullColor: #c6ccd8;
$jsonNonStringPrimitiveColor: #6b9fff;

// RediSearch colors
$rsInputColor: #000;
$rsInputWrapperColor: #202020;
$rsSubmitBtn: #1ae26e;

//workbench
$wbRunResultsBg: #000;
