@import "theme_color";

:root {
  // Core
  --navBackgroundColor: #{$navBackgroundColor};
  --tableRowHoverColor: #{$tableRowHoverColor};
  --tableRowSelectedColor: #{$tableRowSelectedColor};
  --euiColorPrimary: #{$euiColorPrimary};
  --euiColorPrimaryRGB: #{$euiColorPrimaryRGB};
  --euiColorSecondary: #{$euiColorSecondary};
  --euiColorSuccess: #{$euiColorSuccess};
  --euiColorAccent: #{$euiColorAccent};
  --euiColorHighlight: #{$euiColorHighlight};
  --euiColorDisabled: #{$euiColorDisabled};
  --euiColorAccentText: #{$euiColorAccentText};
  --euiColorDisabledText: #{$euiColorDisabledText};

  // Status
  --euiColorColorSuccess: #{$euiColorSuccess};
  --euiColorColorWarning: #{$euiColorWarning};
  --euiColorColorDanger: #{$euiColorDanger};

  --euiColorWarningLight: #{$euiColorWarningLight};

  // Grays
  --euiColorEmptyShade: #{$euiColorEmptyShade};
  --euiColorLightestShade: #{$euiColorLightestShade};
  --euiColorLightShade: #{$euiColorLightShade};
  --euiColorMediumShade: #{$euiColorMediumShade};
  --euiColorDarkShade: #{$euiColorDarkShade};
  --euiColorDarkestShade: #{$euiColorDarkestShade};
  --euiColorFullShade: #{$euiColorFullShade};
  --euiColorGhost: #{$euiColorGhost};

  // Variations from core
  --euiTextColor: #{$htmlColor};
  --euiLinkColor: #{$euiLinkColor};
  --euiShadowColor: #{$euiShadowColor};
  --euiShadowColorLarge: #{$euiShadowColorLarge};
  --euiPageBackgroundColor: #{$euiPageBackgroundColor};
  --euiTextSubduedColor: #{$euiTextSubduedColor};
  --euiTextSubduedColorHover: #{$euiTextSubduedColorHover};
  --euiTitleColor: #{$euiTitleColor};
  --euiBreadcrumbActive: #{$euiBreadcrumbActive};
  --scrollBackgroundColor: #{$scrollBackgroundColor};

  // Contrasty text variants
  --euiColorPrimaryText: #{$euiColorPrimaryText};
  --euiColorSecondaryText: #{$euiColorSecondaryText};
  --euiColorSuccessText: #{$euiColorSuccessText};
  --euiColorAccentText: #{$euiColorAccentText};
  --euiColorWarningText: #{$euiColorWarningText};
  --euiColorDangerText: #{$euiColorDangerText};

  // Charts
  --euiColorChartLines: #{$euiColorChartLines};
  --euiColorChartBand: #{$euiColorChartBand};

  // Tooltip
  --euiTooltipBackgroundColor: #{$euiTooltipBackgroundColor};
  --euiTooltipTextColor: #{$euiTooltipTextColor};
  --euiTooltipTextSecondColor: #{$euiTooltipTextSecondColor};
  --euiTooltipTitleTextColor: #{$euiTooltipTitleTextColor};
  --euiToastBackgroundColor: #{$euiToastBackgroundColor};
  --euiToastDangerBgColor: #{$euiToastDangerBgColor};
  --euiToastSuccessBtnColor: #{$euiToastSuccessBtnColor};
  --euiToastSuccessBorderColor: #{$euiToastSuccessBorderColor};
  --euiToastDangerBtnColor: #{$euiToastDangerBtnColor};
  --euiToastDangerBorderColor: #{$euiToastDangerBorderColor};
  --euiToastLightColor: #{$euiColorDarkShade};

  // Custom
  --htmlColor: #{$htmlColor};
  --textColorShade: #{$textColorShade};
  --tableLightestBorderColor: #{$tableLightestBorderColor};
  --tableLightBorderColor: #{$tableLightBorderColor};
  --tableDarkestBorderColor: #{$tableDarkestBorderColor};
  --browserTableRowEven: #{$browserTableRowEven};
  --inputPlaceholderColor: #{$inputPlaceholderColor};
  --inputDisabledBackgroundColor: #{$inputDisabledBackgroundColor};
  --inputTextColor: #{$inputTextColor};
  --controlsBoxShadowColor: #{$controlsBoxShadowColor};
  --controlsBorderColor: #{$controlsBorderColor};
  --controlsLabelColor: #{$controlsLabelColor};
  --hoverInListColor: #{$hoverInListColor};
  --hoverInListColorLight: #{$hoverInListColorLight};
  --hoverInListColorDarken: #{$hoverInListColorDarken};
  --externalLinkColor: #{$externalLinkColor};
  --externalLinkTooltipColor: #{$externalLinkTooltipColor};
  --linkToastColor: #{$linkToastColor};
  --browserViewTypePassive: #{$browserViewTypePassive};
  --browserComponentActive: #{$browserComponentActive};
  --browserTreeNodeOpen: #{$browserTreeNodeOpen};
  --defaultGreenColor: #{$defaultGreenColor};
  --insightsTriggerBgColor: #{$insightsTriggerBgColor};

  --iconsDefaultColor: #{$iconsDefaultColor};
  --iconsDefaultHoverColor: #{$iconsDefaultHoverColor};

  --separatorColor: #{$separatorColor};
  --separatorColorLight: #{$separatorColorLight};
  --separatorNavigationColor: #{$separatorNavigationColor};
  --separatorDropdownColor: #{$separatorDropdownColor};

  --buttonSecondaryHoverColor: #{$buttonSecondaryHoverColor};
  --buttonSecondaryTextColor: #{$buttonSecondaryTextColor};
  --buttonSecondaryDisabledTextColor: #{$buttonSecondaryDisabledTextColor};
  --buttonDangerHoverColor: #{$buttonDangerHoverColor};
  --buttonIconPrimaryHover: #{$buttonIconPrimaryHover};
  --buttonWarningColor: #{$buttonWarningColor};
  --buttonWarningHoverColor: #{$buttonWarningHoverColor};
  --buttonDangerToastColor: #{$buttonDangerToastColor};
  --buttonDangerToastHoverColor: #{$buttonDangerToastHoverColor};
  --buttonGuideBgColor: #{$buttonGuideBgColor};
  --buttonSuccessColor: #{$buttonSuccessColor};
  --buttonDarkenTextColor: #{$buttonDarkenTextColor};
  --buttonDarkenBgColor: #{$buttonDarkenBgColor};

  --comboBoxBadgeBgColor: #{$comboBoxBadgeBgColor};
  --loadingContentColor: #{$loadingContentColor};

  --cliOutputResponseColor: #{$cliOutputResponseColor};
  --cliOutputResponseFailColor: #{$cliOutputResponseFailColor};

  --badgeBackgroundColor: #{$badgeBackgroundColor};
  --commandGroupBadgeColor: #{$commandGroupBadgeColor};

  --moduleBackgroundColor: #{$commandGroupBadgeColor};
  --callOutBackgroundColor: #{$euiTooltipBackgroundColor};
  --tooltipLightBgColor: #{$tooltipLightBgColor};

  --overlayPromoNYColor: #{$overlayPromoNYColor};

  --monacoBgColor: #{$monacoBgColor};
  --highlightDotColor: #{$highlightDotColor};
  --monacoParamsColor: #{$monacoParamsColor};

  --successBorderColor: #{$successBorderColor};
  --warningBorderColor: #{$warningBorderColor};
  --errorBorderColor: #{$errorBorderColor};

  --overlayMaskBgColor: #{$overlayMaskBgColor};

  // KeyTypes
  --typeHashColor: #{$typeHashColor};
  --typeListColor: #{$typeListColor};
  --typeSetColor: #{$typeSetColor};
  --typeZSetColor: #{$typeZSetColor};
  --typeStringColor: #{$typeStringColor};
  --typeReJSONColor: #{$typeReJSONColor};
  --typeStreamColor: #{$typeStreamColor};
  --typeGraphColor: #{$typeGraphColor};
  --typeTimeSeriesColor: #{$typeTimeSeriesColor};
  --groupSortedSetColor: #{$groupSortedSetColor};
  --groupBitmapColor: #{$groupBitmapColor};
  --groupClusterColor: #{$groupClusterColor};
  --groupConnectionColor: #{$groupConnectionColor};
  --groupGeoColor: #{$groupGeoColor};
  --groupGenericColor: #{$groupGenericColor};
  --groupPubSubColor: #{$groupPubSubColor};
  --groupScriptingColor: #{$groupScriptingColor};
  --groupTransactionsColor: #{$groupTransactionsColor};
  --groupServerColor: #{$groupServerColor};
  --groupHyperLolLogColor: #{$groupHyperLolLogColor};
  --defaultTypeColor: #{$defaultTypeColor};

  // JSON colors
  --jsonKeyNameColor: #{$jsonKeyNameColor};
  --jsonKeyNameArrayColor: #{$jsonKeyNameArrayColor};
  --jsonStringColor: #{$jsonStringColor};
  --jsonNumberColor: #{$jsonNumberColor};
  --jsonBooleanColor: #{$jsonBooleanColor};
  --jsonNullColor: #{$jsonNullColor};
  --jsonNonStringPrimitiveColor: #{$jsonNonStringPrimitiveColor};

  // RediSearch colors;
  --rsSubmitBtn: #{$rsSubmitBtn};
  --rsInputColor: #{$rsInputColor};
  --rsInputWrapperColor: #{$rsInputWrapperColor};

  // Workbench
  --wbRunResultsBg: #{$wbRunResultsBg};
  --wbHoverIconColor: #{$wbHoverIconColor};
  --wbActiveIconColor: #{$wbActiveIconColor};
  --wbTextColor: #{$wbTextColor};

  // Pub/Sub
  --pubSubClientsBadge: #{$pubSubClientsBadge};

  // Database analysis
  --badgeIconColor: #{$badgeIconColor};
  --recommendationBorderColor: #{$recommendationBorderColor};

  // Recommendations
  --recommendationsBgColor: #{$recommendationsBgColor};
  --recommendationBgColor: #{$recommendationBgColor};
  --recommendationLiveBorderColor: #{$recommendationLiveBorderColor};
  --recommendationColor: #{$recommendationColor};
  --triggerIconActiveColor: #{$triggerIconActiveColor};
  --liveRecommendationVoteBgColor: #{$controlsBorderColor};
  --triggerIconTextColor: #{$triggerIconTextColor};
  --recommendationsCountBgColor: #{$recommendationsCountBgColor};

  //cloud sso
  --cloudSsoGoogle: #{$cloudSsoGoogle};
  --cloudSsoGithub: #{$cloudSsoGithub};

  // rdi
  --rdiSecondaryBgColor: #{$rdiSecondaryBgColor};

  // layout
  --hrBackgroundColor: #{var(--euiColorDarkShade)};
  --loadingContentLightestShade: #{var(--euiColorLightestShade)};
}
