.stateBadge {
  background-color: var(--euiColorEmptyShade);
  padding: 2px 4px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.stateWrapper {
  display: flex;
  align-items: center;
}

.tooltip {
  cursor: pointer;
}
