.container {
  width: 612px !important;
  min-width: 612px !important;
  padding: 40px;
  background-color: var(--euiColorLightestShade);
}

.content {
  @include eui.scrollBar;
  overflow: auto;
  max-height: 400px;
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 0;
}

.subTitle {
  color: var(--htmlColor) !important;
}

.radios {
  padding-top: 24px;
}

.label {
  color: var(--htmlColor) !important;
  span {
    padding-left: 6px;
    color: var(--euiTextSubduedColor) !important;
  }
}

.footer {
  padding-top: 20px;
  text-align: right;
  padding-bottom: 4px;
}

.button {
  margin-left: 8px;
}

:global {
  .euiRadio {
    padding-bottom: 4px;
  }
  .euiModal .euiModal__flex {
    max-height: 100% !important;
    border-radius: 8px;
  }
  .euiModalBody__overflow {
    padding: 0 !important;
  }
}
