.container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0 !important;
  border-radius: 25px !important;
  width: 38px !important;
  height: 38px !important;
  margin: 0 10px;

  background-color: var(--comboBoxBadgeBgColor);

  svg {
    height: 22px !important;
    width: 22px !important;
  }
}

.googleLink {
  background-color: var(--cloudSsoGoogle);

  svg {
    width: 18px !important;
    height: 19px !important;
  }
}

.githubLink {
  background-color: var(--cloudSsoGithub);
}
