.container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  padding: 0 !important;
  border-radius: 25px !important;
  width: 38px !important;
  height: 38px !important;
  margin: 0 10px;

  background-color: var(--comboBoxBadgeBgColor);

  svg {
    height: 22px !important;
    width: 22px !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
}

.button.googleButton {
  background-color: var(--cloudSsoGoogle);

  svg {
    width: 18px !important;
    height: 19px !important;
  }
}

.githubButton {
  background-color: var(--cloudSsoGithub);
}

.containerAuto {
  background-color: var(--euiColorLightestShade);
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.text {
  text-align: center;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: var(--htmlColor) !important;
}

.text {
  font-size: 12px !important;
  padding-bottom: 16px;
}

.buttonsAuto .button {
  padding: 4px 31px !important;
  width: 100px !important;
  height: 22px !important;
  border-radius: 4px !important;

  svg, path {
    width: 15px !important;
    height: 14px !important;
  }
}

.containerAgreement {
  margin-top: 16px;
  text-align: left;
}

.recommendedSettings {
  display: flex;
  align-items: center;

  .recommendedSettingsToolTip {
    display: inline-flex;
    margin-left: 4px;
    margin-bottom: 4px;

    :global {
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  :global(.euiCheckbox) {
    margin-bottom: 6px;

    :global(.euiCheckbox__label) {
      font: normal normal normal 10px/15px Graphik, sans-serif !important;
      color: var(--htmlColor) !important;
      padding-left: 16px !important;
    }

    :global(.euiCheckbox__square) {
      width: 12px;
      height: 12px;
      padding: 0 !important;
      border-width: 1px !important;
    }
  }
}
