.title {
  font: normal 500 normal 14px/17px Graphik, sans-serif !important;
}

.formRow {
  .selectWrapper {
    width: 155px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  .btn:not(:last-child) {
    margin-right: 8px;
  }
}
