.title {
  font: normal 500 normal 14px/17px Graphik, sans-serif !important;
}

.formRow {
  :global(.euiFormRow__fieldWrapper) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  :global(.euiFormControlLayout__childrenWrapper) {
    height: 36px;
  }

  :global(.euiFormRow + .euiFormRow) {
    margin-top: 8px;
  }

  .selectWrapper {
    width: 155px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  .btn:not(:last-child) {
    margin-right: 8px;
  }
}
