.areaWrapper {
  overflow: hidden;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightShade) !important;

  &.minimized {
    cursor: pointer;
    &:hover {
      background-color: var(--hoverInListColorDarken);
    }
  }

  &:not(.minimized) {
    &:hover {
      .collapseWrapper {
        display: flex;
      }
    }
  }
}

.collapseWrapper {
  &:not(.minimized) {
    display: none;
  }
}

.areaContentWrapper {
  &:not(.minimized) {
    height: 100% !important;
  }

  &.minimized {
    width: 0;
    visibility: hidden;
    height: 0;
  }
}

:global {
  img {
    max-width: 100%;
  }
}

.onboardingAnchor {
  position: absolute;
  top: 80px;
  right: 0;
}
