.wrapper {
  width: 100%;
  max-width: 480px;

  :global(.euiPopover) {
    width: 100%;
  }

  .button {
    &[class*='euiButton--secondary']:not([class*='isDisabled']) {
      &:hover {
        background-color: var(--euiColorSecondary) !important;
        border-color: var(--euiColorSecondary) !important;
        color: var(--euiColorPrimaryText) !important;
      }
    }
    &:global(.euiButton.euiButton-isDisabled) {
      color: var(--buttonSecondaryDisabledTextColor) !important;
    }

    :global(.euiIcon) {
      width: 14px;
      height: 14px;
    }
  }
}

.popover {
  min-width: 378px !important;
}

.panelPopover {
  border-color: var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow--bottom:before) {
    border-bottom-color: var(--euiColorPrimary) !important;
  }

  :global(.euiPopover__panelArrow--top:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}

.popoverAnchor {
  display: block;
  width: 100%;
}

.popoverIcon {
  position: absolute;
  top: 14px;
  left: 14px;

  color: var(--euiColorWarningLight) !important;
  width: 18px !important;
  height: 18px !important;
}

.popoverItem {
  font-size: 13px !important;
  line-height: 18px !important;
  padding-left: 30px;
}

.link {
  color: var(--externalLinkColor) !important;
}

.popoverActions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 30px;
}

.popoverItemTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
  line-height: 24px !important;
}
