.tooltipItem {
  margin-bottom: 4px;
}

.rowTooltipItem {
  flex-direction: row !important;
  margin-right: 12px;
}

.tooltipItemValue {
  margin-left: 4px;
}

.dbIndexInfo {
  margin: 8px 0;
  background: var(--tooltipLightBgColor);
  border-radius: 8px;
  padding: 8px 16px;

  .messageInfoIcon {
    width: 54px;
  }
}

.modules {
  margin-top: 12px;

  padding-top: 12px;
  border-top: 1px solid var(--euiToastSuccessBorderColor);
}

.mi_fieldName {
  font-size: 13px !important;
  line-height: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.mi_smallText {
  font: normal normal normal 12px/18px Graphik, sans-serif !important;
  color: var(--euiTooltipTextSecondColor) !important;
  margin-bottom: 8px;

  a {
    color: var(--euiTooltipTextColor) !important;
  }
}

.mi_icon {
  margin-left: 6px;
  margin-right: 6px;
  max-width: 12px;
  max-height: 12px;
  width: auto;
  height: auto;
  color: var(--euiTextSubduedColor);
}

.mi_version {
  color: var(--euiTextSubduedColor) !important;
  margin-left: 8px;
}

.mi_moduleName {
  color: var(--euiTextSubduedColor);
  margin-top: 8px;
  line-height: 15px;

  display: flex;
  align-items: center;
}
