.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  :global(.euiFilePicker) {
    max-width: 480px;
  }

  .content {
    display: flex;
    flex-direction: column;

    @include eui.scrollBar;
    position: relative;
    margin: 18px;
    padding: 12px;
    min-height: 162px;
  }

  .fileDrop {
    :global {
      .euiButtonEmpty.euiButtonEmpty--primary.euiFilePicker__clearButton {
        margin-top: 8px;
      }

      .euiButtonEmpty.euiButtonEmpty--primary.euiFilePicker__clearButton .euiButtonEmpty__text {
        color: var(--externalLinkColor) !important;
        text-transform: lowercase;
      }

      .euiFilePicker__showDrop .euiFilePicker__prompt,
      .euiFilePicker__input:focus + .euiFilePicker__prompt {
        background-color: var(--euiColorEmptyShade);
      }

      .euiFilePicker__prompt {
        background-color: var(--euiColorEmptyShade);
        height: 140px;
        border-radius: 4px;
        box-shadow: none;
        border: 1px dashed var(--controlsBorderColor);
      }

      .euiFilePicker__clearButton {
        margin-top: 4px;
      }
    }
  }

  .errorFileMsg {
    margin-top: 10px;
    font-size: 12px;
  }

  .footer {
    position: absolute;
    bottom: 24px;
    right: 0;
    padding: 16px 18px 0;

    :global(.euiButton) {
      margin-left: 18px;
    }
  }
}

.containerPopover {
  padding: 18px;
  width: 430px;
  height: 138px;
}

.panelPopover {
  border: 1px solid var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}

.popoverIcon {
  position: absolute;
  color: var(--euiColorWarningLight) !important;
  width: 24px !important;
  height: 24px !important;
}

.popoverItem {
  font-size: 13px !important;
  line-height: 18px !important;
  padding-left: 34px;
}

.popoverItemTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

.uploadApproveBtn {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
