.row {
  margin-top: 16px;
  margin-bottom: 8px;
}

.addBtn {
  color: var(--buttonDarkenTextColor) !important;
  background-color: var(--buttonDarkenBgColor) !important;
  border-radius: 50% !important;
}
