:global(.euiPanel).popover {
  max-width: 450px !important;
  word-wrap: break-word;
}

.wrapper {
  padding: 0 16px 16px;
}

:global(.euiButtonEmpty--text) {
  &:focus,
  &:hover {
    background-color: transparent !important;
  }
}
