@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.customScroll {
  @include euiScrollBar;

  height: 100%;
  position: relative;
}

.loadingContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.loadingBody {
  display: flex;
  width: 54px;
  height: 54px;
  margin: auto;
  position: relative;
}

.loadingSpinner {
  width: 54px !important;
  height: 54px !important;
}

.loadingIcon {
  position: absolute;
  width: 28px !important;
  height: 28px !important;
  top: 12px;
  left: 12px;
}

.progress {
  z-index: 2;
}
