.wrapper {
  :global {
    .euiAccordion__triggerWrapper,
    .euiAccordion__childWrapper {
      background-color: transparent;
    }

    .euiAccordion__icon.euiAccordion__icon-isOpen {
      transform: rotate(90deg) !important;
    }

    .euiAccordion__icon {
      transform: rotate(0) !important;
    }
  }
}
