.tagsCell {
  width: 100%;
  display: flex;
}

.tagBadge {
  color: var(--euiColorPrimary) !important;
  background-color: var(--browserComponentActive) !important;
  padding: 4px !important;
  margin-left: 4px;
  font-size: 14px;
}

.tagBadgeOverflow {
  overflow: hidden;
}

.tooltipContent {
  max-width: 200px;
  word-wrap: break-word;
}

.filterByTagIcon {
  pointer-events: all;
  cursor: pointer;
  & {
    margin: 8px;
  }
}

.filterTagLabel {
  label {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}
