@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  min-height: 1px;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 6px 0;
  width: 100%;
  background-color: var(--euiColorEmptyShade);
  & > div {
    width: 100%;
    padding: 0 16px;
  }
}

.footer {
  width: 100%;
  background-color: var(--euiColorEmptyShade);
}
.pageTitle {
  margin: 8px 0 4px;
  font: normal normal 500 14px/24px Graphik, sans-serif;
}
.backButton {
  padding: 0 4px;
  max-height: 30px;
  line-height: 24px;
  width: 100%;
  font: normal normal 14px/24px Graphik, sans-serif !important;
  text-decoration: none;
  color: var(--euiTextSubduedColor) !important;
  & > span {
    justify-content: flex-start;
  }
  &:hover {
    background-color: var(--hoverInListColorDarken);
    color: var(--euiTextColor) !important;
    text-decoration: none !important;
  }
}
.content {
  @include euiScrollBar;
  padding: 8px 12px 4px 16px !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}


