@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/global_styling/index";

.main {
  position: relative;
  height: 100%;

  .header {
    height: 58px;
    padding: 16px;
    border-bottom: 1px solid var(--euiColorLightShade);

    .titleTooltip {
      width: auto;
      max-width: calc(100% - 80px);
    }
  }

  .content {
    position: relative;
    padding: 16px 30px 40px;

    @include euiScrollBar;
    overflow: auto;
    height: 100%;
    max-height: calc(100% - 104px);
    margin-bottom: 46px;

    overflow-x: hidden;
  }

  .label {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .divider {
    margin: 26px 10px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 46px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 16px;
  }

  .cancelBtn {
    margin-right: 10px
  }
}
