@import "main";

// relative path for import fonts to plugins static
@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('./fonts/Graphik-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/Graphik-LightItalic.otf') format('opentype');
}


@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-style: italic;
  src: url('./fonts/Graphik-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('./fonts/Graphik-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Graphik-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('./fonts/Graphik-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Graphik-SemiboldItalic.otf') format('opentype');
}

