// Global styling
@import "./elastic";

@import "base/react_virtualized";
@import "base/base";
@import "base/helpers";
@import "base/typography";
@import "base/inputs";
@import "base/selects";
@import "base/functions";
@import "base/flex_groups";
@import "base/overrides";

@import "components/components";

// relative path for import fonts to plugins static
@font-face {
  font-family: "SourceCodePro";
  src: url("./fonts/SourceCodePro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("./fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("./fonts/Inconsolata-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Graphik";
  font-weight: 300;
  src: url("./fonts/Graphik-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/Graphik-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-style: italic;
  src: url("./fonts/Graphik-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  src: url("./fonts/Graphik-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/Graphik-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 600;
  src: url("./fonts/Graphik-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/Graphik-SemiboldItalic.woff2") format("woff2");
}
