.title {
  padding-top: 16px;
  font-size: 18px !important;
  line-height: 24px;
  font-weight: 500 !important;
}

.tooltipAnchor {
  padding-left: 6px;
  cursor: pointer;

  svg {
    margin-top: -2px;
    width: 20px !important;
    height: 20px !important;
  }
}

.summaryApproximate {
  padding-top: 6px;
  font-size: 13px !important;
  line-height: 18px;
}
