@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.container {
  @include euiScrollBar;
  display: flex;
  justify-content: center;
  overflow: auto;

  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 20px;

  width: auto;
  height: 110px;

  &Cluster {
    height: 184px;
  }

  .title {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    padding-bottom: 24px;
  }

  .summary {
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: -0.13px !important;
    color: var(--euiColorMediumShade) !important;
    padding-bottom: 18px;
  }

  .alert {
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: -0.13px !important;
    color: var(--euiColorWarningLight) !important;
  }

  .cluster {
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: -0.13px !important;
    color: var(--textColorShade) !important;
  }

  .alertIcon {
    margin-right: 6px;
    margin-top: -3px;
  }

  .badge {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    max-width: 100%;
    text-align: left;
    color: var(--htmlColor);
    background-color: var(--separatorColor);
  }

  .separator {
    height: 0px;
    width: 192px;
    border: 1px solid var(--separatorColor);
    margin: 30px 0;
  }
}
