.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .tabsWrapper {
    border-bottom: 1px solid var(--separatorColor);
    display: flex;
    align-items: center;
    padding: 0 12px;
  }

  .chatImg {
    width: 18px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .tabs {
    :global(.euiTab) {
      margin-bottom: -1px;
    }
  }

  .chat {
    flex-grow: 1;
    overflow: hidden;
  }
}
