.modal {
  width: 900px !important;
  height: 700px !important;

  max-width: calc(100vw - 120px) !important;
  max-height: calc(100vh - 120px) !important;

  &:global(.euiModal) {
    background-color: var(--euiColorEmptyShade) !important;
  }

  :global {
    .euiModalHeader {
      padding: 18px 24px;

      .euiModalHeader__title .euiTitle {
        font-size: 18px;
      }
    }

    .euiModalBody__overflow {
      padding: 8px 30px;
      overflow-y: hidden !important;
      mask-image: none !important;
    }

    .euiModal__closeIcon {
      top: 16px !important;
      right: 16px !important;
      background: none;
    }

    .euiModalFooter {
      display: block;
      margin-top: 12px;
    }

    .footerAddDatabase {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

/* form override */
.modal {
  :global {
    .form__divider {
      padding: 18px 0;
    }

    .euiFieldText,
    .euiFieldNumber,
    .euiFieldPassword,
    .euiFieldSearch,
    .euiSelect,
    .euiSuperSelectControl,
    .euiComboBox .euiComboBox__inputWrap,
    .euiTextArea {
      background-color: var(--browserTableRowEven) !important;
      padding: 12px;
      border-color: var(--separatorColor) !important;
    }

    .euiTextArea {
      min-height: 80px;
    }

    .euiFormControlLayout--group {
      border-color: var(--separatorColor) !important;
    }

    .euiFormRow, .euiFormControlLayout {
      max-width: none;

      .euiFormControlLayout:not(.euiFormControlLayout--compressed) {
        height: 42px !important;
      }

      .euiSuperSelectControl:not(.euiSuperSelectControl--compressed),
      .euiSelect:not(.euiSelect--compressed),
      .euiFieldText:not(.euiFieldText--compressed),
      .euiFieldNumber:not(.euiFieldNumber--compressed),
      .euiFieldPassword {
        height: 40px !important;
      }
    }

    .euiCheckbox__input~.euiCheckbox__label {
      line-height: 24px !important;
      font-size: 14px !important;
    }
  }
}
