.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonsContainer {
    .button {
      margin: 0 10px;

      padding: 4px 31px !important;
      width: 100px !important;
      height: 22px !important;
      border-radius: 4px !important;

      background-color: var(--comboBoxBadgeBgColor);

      svg {
        width: 15px !important;
        height: 14px !important;
        margin-top: 0 !important;
        margin-right: 0 !important;
      }

      &.googleButton {
        background-color: var(--cloudSsoGoogle);
      }

      &.githubButton {
        background-color: var(--cloudSsoGithub);
      }
    }
  }

  .title {
    font-size: 28px;
    font-weight: 700 !important;
  }

  .text {
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150% !important;
    color: var(--htmlColor) !important;
    font-size: 13px !important;
    padding-bottom: 16px;
    align-self: flex-start;
  }

  .containerAgreement {
    margin-top: 16px;
    text-align: left;

    :global(.euiCheckbox .euiCheckbox__input ~ .euiCheckbox__label) {
      line-height: 18px !important;
      font-size: 12px !important;
    }
  }

  .createDbSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border: 1px solid var(--controlsBorderColor);
    border-radius: 8px;
    padding: 8px 16px;

    .createDbTitle {
      display: flex;
      align-items: center;

      > svg {
        margin-right: 8px;
      }
    }
  }
}

.withAdvantagesWrapper {
  height: 100%;
  display: flex;

  .advantagesContainer {
    max-width: 300px;
    padding-bottom: 24px;
  }

  .socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 108px 60px 60px;

    .subTitle {
      font-size: 16px;
    }

    .title {
      font-weight: bold;
    }
  }

  .socialButtons {
    margin: 40px 0 60px;
  }
}

