@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.wrapper .textBtn {
  border: none;
  min-width: auto !important;
  min-height: auto;
  border-radius: 4px;
  background: transparent !important;
  margin-left: 18px;
  box-shadow: none !important;

  &:global(.euiButton.euiButton--secondary) {
    color: var(--wbHoverIconColor) !important;

    &:hover, &:focus {
      color: var(--wbHoverIconColor) !important;
    }
  }

  :global(.euiButton__content) {
    padding: 6px;
  }

  :global(.euiButton__text) {
    font: normal normal normal 13px/17px Graphik, sans-serif !important;
  }

  &.activeBtn:global(.euiButton.euiButton-isDisabled.euiButton--fill.euiButton--secondary),
  :global(.euiButton.euiButton-isDisabled.euiButton--fill.euiButton--secondary) {
    background: var(--browserComponentActive) !important;
    color: var(--wbActiveIconColor) !important;
    opacity: 1;
  }
}

.tableWrapper {
  @include euiScrollBar;

  overflow: auto;
  position: relative;
  max-height: 100%;

  :global(.euiTableRow-isExpandedRow .euiTableCellContent) {
    padding: 0 12px !important;
  }
}

.table {
  &:hover,
  &:focus {

  :global(.euiButton__text) {
    color: var(--wbHoverIconColor) !important;
  }
  }
  &:global(.fixedLayout) table {
    table-layout: fixed;
  }

  :global {
    .euiTableRowCell {
      border-color: transparent !important;
    }

    .euiTableRowCell:first-child {
      padding-left: 12px;
    }

    .euiTableRowCell:last-child  {
      padding-right: 12px;
    }

    .euiTableHeaderCell:first-child .euiTableCellContent {
      padding-left: 24px;
    }

    .euiTableHeaderCell:last-child .euiTableCellContent {
      padding-right: 24px;
    }

    .euiTableHeaderCell {
      min-width: 42px;
      background-color: var(--euiColorEmptyShade);

      .euiTableCellContent {
        padding: 12px;
        justify-content: flex-start;
        align-items: flex-end;

        &.euiTableCellContent--alignRight {
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: row-reverse;

          .euiTableSortIcon {
            margin-right: 4px;
            margin-left: 0;
          }
        }

        &.euiTableCellContent--alignCenter {
          justify-content: center;

          .euiTableSortIcon {
            margin-right: 0;
            margin-left: 4px;
          }
        }

        .euiTableCellContent__text {
          font: normal normal normal 12px/17px Graphik, sans-serif;
        }
      }

      .euiTableCellContent {
        border-bottom: 1px solid var(--euiColorLightShade);
        outline: 1px solid var(--euiColorEmptyShade);
      }
    }

    .euiTableRowCell .euiTableCellContent {
      padding: 10px;
      font: normal normal normal 14px/17px Graphik, sans-serif;
    }

    .euiTableHeaderButton.euiTableHeaderButton-isSorted {
      span, div {
        color: var(--htmlColor) !important;
      }
    }

    .euiTableHeaderButton:focus .euiTableCellContent__text {
      text-decoration: none;
    }
  }

  .valueUnit {
    font: normal normal normal 12px/17px Graphik, sans-serif !important;
    margin-left: 4px;
    color: var(--euiColorMediumShade) !important;
  }

  .headerCell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.rightAlign {
  justify-content: flex-end;
  padding: 12px;
}

.highlight {
  background: var(--euiColorWarningLight);
  color: var(--euiColorEmptyShade) !important;
  border-radius: 4px;
  padding: 1px 8px !important;
  display: flex !important;
  align-items: baseline;

  .count, .valueUnit {
    color: var(--euiColorEmptyShade) !important;
  }
}

:global(.euiTableCellContent) .delimiter span {
  cursor: pointer;
  color: var(--buttonSecondaryTextColor);
  font: normal normal normal 13px/17px Graphik, sans-serif;

  &:hover {
    text-decoration: underline;
  }
}

:global(.euiTableCellContent) .count {
  color: var(--euiTextSubduedColor);
  font: normal normal 500 16px/17px Inconsolata;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;

  :global(.euiBadge) span {
    font: normal normal normal 12px/16px Graphik, sans-serif;
    padding-top: 0 !important;
  }
}

.wrapper .link {
  width: max-content;

  &:hover,
  &:focus {
    background-color: transparent !important;
  }

  :global(.euiButtonEmpty__content) {
    padding: 0;
    width: max-content;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  :global(.euiButtonEmpty__content.euiButtonContent .euiButtonEmpty__text) {
    font: normal normal normal 13px/17px Graphik, sans-serif;
    color: var(--buttonSecondaryTextColor) !important;
  }

  :global(.euiButtonEmpty__content.euiButtonContent .euiButtonEmpty__text):hover,
  :global(.euiButtonEmpty__content.euiButtonContent .euiButtonEmpty__text):focus {
    color: var(--euiTextSubduedColorHover);
  }
}
