.pageContainer {
  @include eui.scrollBar;

  overflow: auto;
  position: relative;
}

.cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.8;
  background-color: var(--euiColorLightestShade);
}

.bodyContainer {
  :global {
    .euiPanel:first-child {
      margin-top: 0;
    }

    .euiPanel {
      margin: 16px;
    }

    .euiPanel:last-child {
      margin-bottom: 0;
    }
  }
}
