.pageContainer {
  @include eui.scrollBar;

  overflow: auto;
  position: relative;
}

.bodyContainer {
  :global {
    .euiPanel:first-child {
      margin-top: 0;
    }

    .euiPanel {
      margin: 16px;
    }

    .euiPanel:last-child {
      margin-bottom: 0;
    }
  }
}
