.btn {
  display: flex;
  align-items: center;
  background-color: var(--insightsTriggerBgColor) !important;
  color: var(--euiTooltipTextColor) !important;
  border-radius: 4px;
  border-color: var(--tableRowSelectedColor) !important;
}
