.container {
  height: 34px;
  line-height: 34px;
  width: 100%;
  overflow: hidden;
  background-color: var(--euiPageBackgroundColor);

  padding: 0 10px 0 16px;
  z-index: 10;
}

.icon {
  margin-left: 5px;
}

.title {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  :global {
    .euiIcon {
      color: var(--euiColorPrimary);
      margin-right: 8px;
    }
  }
}

.helperOnboardPanel {
  margin-top: -4px;
}
