.stopPipelineBtn {
  border: 1px solid var(--euiColorSecondary) !important;

  // :global(.euiButton__text) {
  //   font-weight: 400 !important;
  //   font-size: 14px !important;
  //   line-height: 16.8px !important;
  // }

  svg {
    color: var(--buttonSecondaryTextColor) !important;
  }
}

.btnDisabled {
  border: 1px solid var(--controlsBorderColor) !important;
  color: var(--controlsBorderColor) !important;
  cursor: not-allowed;
  svg {
    color: var(--controlsBorderColor) !important;
  }
}

.disabled {
  cursor: not-allowed;
}
