.baseGroup {
  background-color: var(--browserTableRowEven);

  :global {
    .group-header {
      font-weight: 500 !important;
    }
  }
}

.innerContainer {
  @include eui.scrollBar;
  overflow: auto;
  height: 100%;
  text-align: left;
  letter-spacing: 0;
  color: var(--euiTextSubduedColor) !important;
}

.customTuturoialsForm {
  max-width: 440px;
}

.uploadWarningContainer {
  padding-left: 12px;
  padding-right: 12px;
}
