.profileBtn {
  width: 30px;
  height: 30px;
  min-width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;

  background-color: var(--euiTooltipBackgroundColor);

  cursor: pointer;
}
