$breakpoint-table: 1232px;

.tableWrapper {
  @include eui.scrollBar;

  overflow: auto;
  position: relative;
  max-height: 100%;
}

.wrapper {
  max-width: 1920px;

  .loading {
    margin-top: 40px;
    width: 100%;
  }

  .valueUnit {
    font:
      normal normal normal 12px/18px Graphik,
      sans-serif !important;
    margin-left: 4px;
    color: var(--euiColorMediumShade) !important;
  }

  .nodeName {
    margin-right: 12px;
    display: block;
    min-width: 24px;
    font:
      normal normal 500 13px/18px Graphik,
      sans-serif !important;
  }

  .headerCell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .headerIcon {
      fill: var(--textColorShade);
      width: 24px;
      height: 20px;
      margin-bottom: 4px;
    }
  }

  .hostPort {
    display: inline-flex;
    font:
      normal normal normal 13px/18px Graphik,
      sans-serif !important;
  }

  .nodeColor {
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 1px;
    width: 3px;
  }
}
