.message {
  font-family: 'Graphik', sans-serif;
  color: var(--euiTextSubduedColor) !important;

  :global(.euiTextColor), :global(.euiLink) {
    color: currentColor !important;
  }
}

.link {
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}
