$maxWidthCell: 190px;

.container {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 16px 18px;
  background-color: var(--euiColorEmptyShade);

  :global {
    .ReactVirtualized__Grid__innerScrollContainer {
      .ReactVirtualized__Table__rowColumn {
        border-right: 1px solid var(--tableDarkestBorderColor) !important;

        &:last-of-type,
        &:nth-last-of-type(2) {
          border-right: none !important;
        }
      }

      .ReactVirtualized__Table__row {
        border-bottom: 1px solid var(--tableDarkestBorderColor) !important;
        &:last-of-type {
          border-bottom: none !important;
        }
      }

      & > div:hover {
        background: var(--euiColorLightestShade);

        .value-table-actions {
          background-color: var(--euiColorLightestShade) !important;
        }

        .streamEntry {
          color: var(--inputTextColor) !important;
        }

        .streamEntryId {
          color: var(--euiTextSubduedColor) !important;
        }
      }
    }

    .ReactVirtualized__Table__headerRow {
      border: none !important;
    }

    .ReactVirtualized__Table__Grid {
      border: 1px solid var(--tableDarkestBorderColor) !important;
    }
  }

  .cellHeader {
    border: none !important;
  }
}

:global(.streamEntry) {
  color: var(--euiTextSubduedColor) !important;
  white-space: normal;
  max-width: $maxWidthCell;
}

:global(.streamEntryId) {
  color: var(--euiColorMediumShade) !important;
  display: flex;
}

:global(.stream-entry-actions) {
  margin-left: -5px;
}

.actions,
.actionsHeader {
  width: 54px;
}

.actions {
  :global(.value-table-actions) {
    background-color: var(--euiColorEmptyShade) !important;
  }
}

.columnManager {
  z-index: 11;
  position: absolute;
  right: 18px;
  margin-top: 20px;
  width: 40px;
  button {
    width: 40px;
    background-color: var(--euiColorEmptyShade) !important;
  }
}

.rangeWrapper :global(.euiRangeWrapper) {
  height: auto;
  margin: 30px 30px 26px !important;
  height: 24px !important;
}

.filter {
  :global(.euiRangeTrack--hasTicks) {
    margin: 30px 30px 26px !important;
    height: 24px !important;
  }

  :global(.euiRangeTick) {
    color: var(--euiColorMediumShade);
    width: max-content;
    padding: 0 !important;
    cursor: default !important;

    &:enabled:hover,
    &:selected,
    &:focus {
      color: var(--euiColorMediumShade) !important;
    }

    &:before,
    :global(.euiRangeTick__pseudo) {
      display: none;
    }
    &:first-child {
      transform: translate(0, -24px);
    }
    &:last-child {
      transform: translate(-100%, 14px);
    }
  }

  :global(.euiRangeHighlight__progress) {
    height: 5px !important;
    background-color: var(--euiColorPrimary) !important;
    border-radius: 0;
  }

  :global(.euiRangeThumb) {
    width: 2px;
    height: 12px;
    background-color: var(--euiColorPrimary);
    box-shadow: none;
    border-radius: 0;
    border: none;
    &:last-child {
      margin-top: 4px;
      transform: translateX(14px);
    }
  }
}

.rangeWrapper {
  margin: 30px 30px 26px;
  padding: 12px 0;
}

.resetButton {
  position: absolute;
  right: 30px;
  top: 190px;
  text-decoration: underline;
  color: var(--euiTextSubduedColor);
  &:hover,
  &:focus {
    color: var(--euiTextColor);
  }
  font: normal normal 500 13px/18px Graphik, sans-serif;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track {
  background-color: var(--separatorColor);
  width: 100%;
  height: 1px;
  margin-top: 2px;
  z-index: 1;
}

.slider__range {
  height: 5px;
  background-color: var(--euiColorPrimary);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: var(--euiColorMediumShade);
  font: normal normal normal 12px/18px Graphik;
  margin-top: 20px;
}

.slider__left-value {
  left: 0;
  margin-top: -30px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: calc(100% - 60px);
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb::-moz-range-thumb {
  width: 2px;
  height: 12px;
  background-color: var(--euiColorPrimary);
  border: none;
  cursor: pointer;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb--zindex-3::-webkit-slider-thumb,
.thumb--zindex-3::-moz-range-thumb {
  transform: translateY(-4px);
}

.thumb--zindex-4::-webkit-slider-thumb,
.thumb--zindex-4::-moz-range-thumb {
  transform: translateY(8px);
}

input[type='range']::-webkit-slider-thumb {
  width: 2px;
  height: 12px;
  background-color: var(--euiColorPrimary);
  border: none;
  cursor: pointer;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

input[type='range']:first-child::-webkit-slider-thumb {
  transform: translateY(-4px);
}

input[type='range']:last-of-type::-webkit-slider-thumb {
  transform: translateY(8px);
}
