$maxWidthCell: 190px;

.container {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 16px 18px;
  background-color: var(--euiColorEmptyShade);

  :global {
    .ReactVirtualized__Grid__innerScrollContainer {
      & > div:hover {
        background: var(--euiColorLightestShade);

        .value-table-actions {
          background-color: var(--euiColorLightestShade) !important;
        }

        .streamEntry {
          color: var(--inputTextColor) !important;
        }

        .streamEntryId {
          color: var(--euiTextSubduedColor) !important;
        }
      }
    }

    .ReactVirtualized__Table__headerRow {
      border: none !important;
    }

    .ReactVirtualized__Table__Grid {
      border: 1px solid var(--tableDarkestBorderColor) !important;
    }
  }

  .cellHeader {
    border: none !important;
  }
}

:global(.streamEntry) {
  color: var(--euiTextSubduedColor) !important;
  white-space: normal;
  max-width: $maxWidthCell;
}

:global(.streamEntryId) {
  color: var(--euiColorMediumShade) !important;
  display: flex;
}

.actions,
.actionsHeader {
  width: 54px;
}

.actions {
  :global(.value-table-actions) {
    background-color: var(--euiColorEmptyShade) !important;
  }
}

.columnManager {
  z-index: 11;
  position: absolute;
  right: 18px;
  margin-top: 20px;
  width: 40px;
  button {
    width: 40px;
    background-color: var(--euiColorEmptyShade) !important;
  }
}
