@import "@elastic/eui/src/global_styling/index";

.searchContainer {
  max-width: 320px;
}

.containerDl {
  padding: 0 18px;
  @include euiBreakpoint("m", "l", "xl") {
    padding: 0 12px;
  }
}

.contentDL {
  @include euiBreakpoint("xs", "s") {
    & > div:first-of-type {
      margin-left: 0 !important;
    }
    & > div:last-of-type {
      margin-right: 0 !important;
    }
  }
}

.spacerDl {
  @include euiBreakpoint("xs", "s") {
    height: 6px !important;
  }
  @include euiBreakpoint("m", "l", "xl") {
    height: 26px !important;
  }
}
