.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 46px;
  display: flex;
  align-items: center;

  @media (max-width: 1123px) {
    padding: 0 10px;
  }
}

.content {
  height: calc(100% - 220px);
  background-color: var(--euiColorEmptyShade);
  position: relative;
  > div {
    height: 100%;
  }
}

:global(.show-cli) .content {
  border-bottom-width: 1px !important;
}

.contentActive {
  border-color: var(--euiColorPrimary) !important;
  border-bottom-width: 1px !important;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 12px;
  width: 100%;
}

:global(.key-details-body) {
  position: relative;
  height: calc(100% - 105px);
  //min-height: 300px;
}

:global(.key-details-footer) {
  margin: 0 16px;
  padding: 16px 0 20px 0;
  border-top: 1px solid var(--euiColorLightShade);
}

.closeRightPanel {
  position: absolute;
  top: 22px;
  right: 18px;

  .closeBtn {
    :global(svg) {
      width: 20px;
      height: 20px;
    }
  }
}
