.resetPipelineCheckbox {
  font-weight: 400;
  font-size: 14px;

  :global(.euiCheckbox__square) {
    width: 18px !important;
    height: 18px !important;
    border: 1px solid var(--controlsBorderColor) !important;
    background-color: inherit !important;
    border-radius: 4px !important;
    box-shadow: none !important;
  }

  :global(.euiCheckbox__label) {
    color: var(--controlsLabelColor) !important;
  }

  :global(.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square) {
    background-color: var(--euiColorPrimary) !important;
  }
}

.checked {
  :global(.euiCheckbox__square) {
    background-color: var(--euiColorPrimary) !important;
  }
}


:global(.euiPanel).popover {
  max-width: 450px !important;
  word-wrap: break-word;
}

.wrapper {
  padding: 0 16px 16px;
}

.divider {
  // margin: 0 14px;
  height: 20px;
  width: 1px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--controlsLabelColor) !important;
}
