{{#with error}}
  <h1 class="title">Error</h1>
  {{#eq errorCode 11005}}
    <h2 class="subTitle">
      Authorization server encountered a misconfiguration and was unable to complete your request.
      <br/>
      <br/>
      If the issue persists, <a href="https://github.com/RedisInsight/RedisInsight/issues" target="_blank">report the issue.</a>
    </h2>
  {{/eq}}
  {{#eq errorCode 11006}}
    <h2 class="subTitle">
      Unable to retrieve an email from the GitHub account.
      <br/>
      <br/>
      Check that it is available and try again.
    </h2>
  {{/eq}}
  {{#eq errorCode 11007}}
    <h2 class="subTitle">
      Unknown authorization request.
      <br/>
      <br/>
      If the issue persists, <a href="https://github.com/RedisInsight/RedisInsight/issues" target="_blank">report the issue.</a>
    </h2>
  {{/eq}}
  {{#eq errorCode 11008}}
    <h2 class="subTitle">
      An unexpected error occurred.
      <br/>
      <br/>
      If the issue persists, <a href="https://github.com/RedisInsight/RedisInsight/issues" target="_blank">report the issue.</a>
    </h2>
  {{/eq}}
{{/with}}
