@import "@elastic/eui/src/global_styling/index";
@import "uiSrc/styles/mixins/_global.scss";

.pageHeader {
  min-height: 56px;
}

.pageWrapper {
  height: calc(100% - 70px);
  overflow: hidden;
}

.page {
  height: 100%;
  padding: 0 16px 16px !important;

  :global {
    .homePage {
      height: calc(100% - 120px);
    }
    .home__resizePanelLeft {
      flex-grow: 1;
      height: 100%;
    }

    .hidden {
      display: none;
    }

    .fullWidth {
      width: 100% !important;
      min-width: 100% !important;
      padding: 0;
      :global(.euiResizablePanel__content) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.explorePanel {
  padding-bottom: 16px;
}

@include insights-open {
  .page {
    :global {
      .home {
        &__resizePanelLeft {
          &.openedRightPanel {
            display: none;
          }
        }

        &__resizableButton {
          display: none;
        }

        &__resizePanelRight {
          padding-left: 0;
          width: 100% !important;
        }
      }
    }
  }
}
