.pageWrapper {
  height: 100%;
  overflow: hidden;
}

.page {
  height: 100%;
  padding: 1px 16px 16px !important;

  :global {
    .homePage {
      height: calc(100% - 60px);
    }
  }
}

.explorePanel {
  padding-bottom: 16px;
}
