.pageWrapper {
  height: 100%;
  overflow: hidden;
}

.page {
  height: 100%;
  padding: 1px 16px 16px !important;

  :global {
    .homePage {
      height: calc(100% - 60px);
    }
    .home__resizePanelLeft {
      flex-grow: 1;
      height: 100%;
    }

    .hidden {
      display: none;
    }

    .fullWidth {
      width: 100% !important;
      min-width: 100% !important;
      padding: 0;
      :global(.euiResizablePanel__content) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.explorePanel {
  padding-bottom: 16px;
}

@include global.insights-open {
  .page {
    :global {
      .home {
        &__resizePanelLeft {
          &.openedRightPanel {
            display: none;
          }
        }

        &__resizableButton {
          display: none;
        }

        &__resizePanelRight {
          padding-left: 0;
          width: 100% !important;
        }
      }
    }
  }
}
