@import "@elastic/eui/src/global_styling/index";
.contentActive {
  border: 1px solid var(--euiColorPrimary);
}

.page {
  padding: 16px 0 0 !important;

  @include euiBreakpoint("m", "l", "xl") {
    padding: 16px 12px 10px !important;
  }
}
