@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.homePage {
  .euiTitle {
    padding-bottom: 15px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .euiFormControlLayout {
    max-width: 100% !important;

    input,
    select,
    textarea {
      max-width: 100% !important;
      opacity: 0.9;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .euiFormRow {
    max-width: 100% !important;
    padding-top: 15px;
  }

  .euiRadioGroup__item {
    display: inline-block;
    vertical-align: top !important;
    margin-top: 1px !important;
    margin-bottom: 3px !important;
    margin-right: 30px !important;
  }

  .euiFormRow__fieldWrapper {
    position: relative;
  }

  .euiFormRow__text {
    position: relative;
    top: -10px;
    margin-bottom: -10px;
  }

  .euiFormHelpText {
    color: var(--euiColorMediumShade);
  }

  .euiCheckbox__label {
    font-size: 14px !important;
  }

  textarea {
    resize: none;
    max-height: 85px;
    transition: max-height 0.4s ease;
    &:focus {
      max-height: 180px;
    }
  }

  .container {
    @include euiScrollBar;

    background-color: var(--euiColorEmptyShade);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 242px);
    padding: 40px 30px 25px;
    border: 1px solid var(--euiColorPrimary);
    margin-right: 5px;
    border-radius: 4px;

    @media only screen and (max-width: 767px) {
      height: calc(100vh - 340px);
    }
  }

  .formDataTypes {
    padding-top: 20px;
  }

  .dbTypes {
    padding-bottom: 10px;
  }

  .getStartedForm {
    max-width: 752px;
    padding-top: 3px;
    font-family: "Graphik", sans-serif;
    font-weight: 400 !important;
  }

  .boxSection {
    padding: 3px 18px 18px;
    background-color: var(--euiColorLightestShade) !important;
    border: 1px solid var(--euiColorLightShade);
    border-radius: 4px;
    margin-top: 10px;

    .euiSelect,
    .euiSuperSelectControl,
    .euiFieldText,
    .euiTextArea {
      background-color: var(--euiColorLightestShade) !important;
    }
  }

  .footerAddDatabase {
    bottom: 0;
    float: right;
    text-align: right;
    vertical-align: bottom;
    width: 100%;
    padding: 15px 24px 10px;
    border-radius: 0 0 4px 4px;
  }

  .euiResizableContainer {
    .container {
      margin-right: 0;
      padding: 12px 24px;

      &.addDbWrapper {
        padding: 20px 30px;
      }
    }

    .footerAddDatabase {
      margin: 0px;
      width: 100%;
    }
    .euiFormLegend {
      display: none;
    }

    .euiRadioGroup__item {
      margin-right: 0 !important;
      width: auto;
      padding-right: 40px;
    }
  }

  .passwordField {
    padding: 12px;
  }

  .euiButton.btn-cancel,
  .euiButton.btn-back {
    margin-right: 10px;
    min-width: 71px !important;
  }

  .flexGroupResponsiveForm {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .flexItemResponsiveForm {
    width: 100% !important;
    flex-basis: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 16px !important;

    .euiFormRow {
      padding-top: 0px;
    }
  }

  .clusterDatabaseList,
  .clusterDatabaseListResult,
  .cloudDatabaseList,
  .cloudDatabaseListResult,
  .sentinelDatabaseList,
  .sentinelDatabaseListResult {
    overflow: hidden !important;

    .column_status * {
      text-transform: capitalize !important;
    }

    .euiButton.btn-back {
      float: left;
    }
  }

  .sentinelDatabaseList {
    height: calc(100vh - 335px) !important;

    @media (min-width: 1180px) {
      height: calc(100vh - 280px) !important;
    }

    @media only screen and (max-width: 900px) {
      height: calc(100vh - 357px) !important;
    }
  }

  .clusterDatabaseListResult .euiTableRowCell:first-child,
  .clusterDatabaseListResult .euiTableHeaderCell:first-child,
  .sentinelDatabaseListResult .euiTableRowCell:first-child,
  .sentinelDatabaseListResult .euiTableHeaderCell:first-child,
  .cloudDatabaseListResult .euiTableRowCell:first-child,
  .cloudDatabaseListResult .euiTableHeaderCell:first-child {
    padding-left: 10px;
  }
}

.homePage_tooltip {
  width: 470px !important;
  max-width: 470px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding-left: 15px !important;
  padding-top: 15px !important;

  .euiToolTip__title {
    padding: 5px 10px 0 !important;
  }

  p {
    opacity: 0.8 !important;
  }
}

.homePage_toolTipUl {
  font-weight: 300 !important;
  opacity: 0.85;
  padding-bottom: 10px;

  li {
    line-height: 20px;
  }

  .dot {
    margin-left: 10px;
  }

  .dot::before {
    font-size: 8px;
    padding: 0 14px;
    content: " \25CF";
    vertical-align: middle;
  }
}

.theme_DARK {
  .homePage {
    .databaseList {
      .euiTableCellContent {
        color: var(--textColorShade) !important;
      }

      .euiTableHeaderCell .euiTableCellContent {
        color: #fff !important;
      }
    }
  }
}
