.container {
  @include eui.scrollBar;
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .title {
    font:
      normal normal 500 18px/24px Graphik,
      sans-serif !important;
    padding-bottom: 12px;
  }

  .summary {
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: -0.13px !important;
    color: var(--euiColorMediumShade) !important;
  }
}
