@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/global_styling/index";

.wrapper {
  @include euiScrollBar;
  overflow-y: auto;
  padding: 16px 0;
  border-bottom: 1px solid var(--separatorColor);

  :global {
    .rdi-pipeline-nav {
      &__text {
        font: normal normal normal 14px/17px Graphik, sans-serif;
        color: var(--euiTextSubduedColor) !important;

        &:hover {
          text-decoration: underline;
        }
      }

      &__title {
        font: normal normal normal 14px/17px Graphik, sans-serif;
        color: var(--externalLinkColor) !important;
        text-align: left;
        padding: 3px 16px;
      }

      &__file {
        display: flex;
        padding: 3px 16px;
      }

      &__fileIcon {
        width: 14px;
        height: 15px;
        margin-right: 6px;

        path {
          fill: var(--euiTextSubduedColor);
        }
      }
    }
  }

  &.active {
    background-color: var(--tableRowSelectedColor) !important;
    border-left: 2px solid var(--euiColorPrimary);

    :global {
      .rdi-pipeline-nav {
        &__title {
          font-weight: 500;
        }

        &__text {
          color: var(--iconsDefaultHoverColor) !important;
          cursor: default;

          &:hover {
            text-decoration: none;
          }
        }

        &__fileIcon path {
          fill: var(--iconsDefaultHoverColor);
        }
      }
    }
  }
}
