.container {
  position: relative;
  white-space: nowrap;
}

.btn {
  display: inline-block;
  margin-top: 1px;
  transition: transform 0.3s ease;

  &:global(.euiButtonIcon--xSmall) {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &.rolling svg {
    color: var(--euiColorPrimary) !important;
  }
}

.time {
  padding-right: 6px;
  color: var(--euiTextSubduedColor) !important;

  &.disabled {
    opacity: 0.5;
  }
}

.summary {
  color: var(--euiColorMediumShade) !important;
  vertical-align: middle;
  font: normal normal normal 12px/18px "Graphik", sans-serif !important;
  letter-spacing: -0.12px;
}

.tooltip {
  max-width: 372px !important;
}

.switch {
  padding-bottom: 16px;
}

.popoverWrapper {
  width: 240px;
  height: 114px;
  padding: 28px 18px !important;
  background-color: var(--euiColorLightestShade) !important;

  .input {
    display: inline-block;
    width: 80px;

    input {
      height: 30px !important;
      border-radius: 0px !important;
      background-color: var(--euiColorLightestShade) !important;
    }
  }
}

.inputContainer {
  height: 30px;
  line-height: 30px;
}

.inputLabel {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  color: var(--euiTextSubduedColor) !important;
}

.anchorBtn {
  width: 18px !important;
  height: 22px !important;
  margin-top: 4px;

  &Open {
    background-color: var(--browserComponentActive) !important;
    border-bottom: 2px solid var(--euiColorPrimary) !important;
    border-radius: 4px 4px 0 0 !important;
  }

  svg {
    width: 10px !important;
    height: 10px !important;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.switchOption {
  :global(.euiSwitch__label) {
    color: var(--euiTextSubduedColor) !important;
    font-size: 13px !important;
  }

  :global(.euiSwitch__button) {
    width: 28px !important;
    margin-right: 4px;
  }
}

.enable {
  .time {
    color: var(--euiColorPrimary) !important;
  }
}

.refreshRatePencil {
  display: none;
  right: 61px;
  margin-bottom: 3px;
  background-color: var(--browserTableRowEven);
  width: 26px !important;
  height: 28px !important;
  padding: 5px;
  position: absolute;

  svg {
    margin-top: -16px !important;
  }
}

.refreshRateText {
  display: inline-block;
  width: 80px;
  height: 30px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    padding-left: 5px;
    border-color: var(--controlsBorderColor);

    .refreshRatePencil {
      display: inline-block !important;
    }
  }
}