@import "@elastic/eui/src/global_styling/index";

.noResults {
  display: flex;

  height: calc(100vh - 315px);
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) and (max-width: 1100px) {
    height: calc(100vh - 223px);
  }

  @media (min-width: 1101px) {
    height: calc(100vh - 248px);
  }
}

.tableMsgTitle {
  font-size: 18px;
  margin-bottom: 12px;
  height: 24px;
  color: var(--htmlColor) !important;
}
