@import "@elastic/eui/src/global_styling/mixins/helpers";
@import "@elastic/eui/src/components/table/mixins";
@import "@elastic/eui/src/global_styling/index";

.time,
.channel,
.message {
  display: inline-block !important;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.13px;
  padding-bottom: 10px;
  vertical-align: text-top;
}

.time {
  color: var(--defaultGreenColor);
  width: 150px;
}

.channel {
  color: var(--euiColorMediumShade);
  width: 220px;
  max-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channelAnchor {
  max-width: 220px;
  padding-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message {
  width: calc(100% - 372px);
  color: var(--htmlColor);
  word-break: break-word;
}

.header {
  width: 100%;
  display: flex;
  height: 24px;

  .time,
  .channel,
  .message {
    font-size: 14px;
    line-height: 24px;
    color: var(--htmlColor);
  }
}

.wrapperContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.listContainer {
  height: 100%;
  width: 100%;
  padding-top: 14px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.listContent {
  @include euiScrollBar;
}

.anchorBtn {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 28px;
  background-color: var(--euiColorSecondary) !important;
  color: var(--euiColorPrimaryText) !important;
  width: 36px !important;
  height: 36px !important;

  box-shadow: 0 3px 6px #00000099 !important;
  border-radius: 18px !important;

  svg {
    width: 20px;
    height: 20px;
  }
}
