:global {
  .browserPage {
    .key-details-header {
      .euiFieldText--compressed,
      .euiFormControlLayout--compressed {
        height: 29px !important;
      }

      .euiFormControlLayout {
        width: 100%;
        max-width: 100%;

        &.euiFormControlLayout--readOnly {
          border: 1px solid var(--controlsBorderColor);
          cursor: auto;
        }

        input {
          height: 29px !important;
          cursor: pointer;
          max-width: none;
          font-family: "Graphik", sans-serif !important;
        }
      }
    }
  }
}

@include global.insights-open {
  :global {
    .key-details-header {
      .euiText--small {
        font-size: 12px;
      }
    }

    .euiFlexGroup--gutterMedium {
      margin: -4px;
    }
    .euiFlexGroup--gutterMedium > .euiFlexItem {
      margin: 4px;
    }
  }
}

.container {
  min-height: 108px;
  padding: 18px 18px 12px 18px;
  border-bottom: 1px solid var(--euiColorLightShade);
  min-width: 100%;
  position: relative;
}

.closeBtn {
  padding-top: 0 !important;

  svg {
    width: 20px;
    height: 20px;
  }
}

.groupSecondLine {
  margin-top: 4px !important;
}

.subtitleActionBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 13px;
}

.actionBtn {
  margin-right: 12px;
  position: relative;
  z-index: 2;
}

@include global.insights-open {
  .actionBtn {
    margin-right: 8px;

    :global {
      .auto-refresh-btn {
        width: 32px;
        height: 32px;

        .euiButtonIcon__icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

@include global.insights-open(1024px) {
  .actionBtn {
    margin-right: 8px;

    :global {
      .refresh-message-time {
        display: none;
      }
    }
  }
}
