.container {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bigMargin {
    margin-bottom: 40px;
  }
}

.bigText {
  font: normal normal normal 22px/30px Graphik, sans-serif !important;
  text-align: center;
  color: var(--recommendationColor) !important;
}

.hugeText {
  font: normal normal 500 28px/38px Graphik, sans-serif !important;
  text-align: center;
  color: var(--recommendationColor) !important;
  margin-bottom: 9px;
}

.mediumText {
  font: normal normal normal 16px/40px Graphik, sans-serif !important;
  color: var(--recommendationColor) !important;
  margin-bottom: 10px;
}

.icon {
  margin-bottom: 40px;
}

.text {
  font: normal normal normal 12px/20px Graphik, sans-serif !important;
  margin-bottom: 12px;
  max-width: 351px;
  text-align: center;
}

.popoverApproveBtn {
  float: right;
  padding: 4px 12px !important;
  height: 24px !important;

  :global(.euiButtonContent) {
    padding: 0 !important;
  }
}

.popoverContent {
  font-size: 13px !important;
  line-height: 16px !important;
}

.popoverTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
}

.panelPopover {
  width: 432px;
  padding: 16px 30px !important;
  border-color: var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}
