.container {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bigMargin {
    margin-bottom: 40px;
  }
}

.bigText {
  font: normal normal normal 22px/30px Graphik, sans-serif !important;
  text-align: center;
  color: var(--recommendationColor) !important;
}

.hugeText {
  font: normal normal 500 28px/38px Graphik, sans-serif !important;
  text-align: center;
  color: var(--recommendationColor) !important;
  margin-bottom: 9px;
}

.mediumText {
  font: normal normal normal 16px/40px Graphik, sans-serif !important;
  color: var(--recommendationColor) !important;
  margin-bottom: 10px;
}

.icon {
  margin-bottom: 40px;
}

.text {
  font: normal normal normal 12px/20px Graphik, sans-serif !important;
  margin-bottom: 12px;
  max-width: 351px;
  text-align: center;
}
