.container {
  min-height: 100%;
  height: 1px !important;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  min-width: 100%;
  width: 1px;
  padding: 0 16px 0;
  height: 100%;

  & > div {
    min-height: 100%;
    height: 1px !important;
    min-width: 100%;
    width: 1px !important;
  }
}

.sidebar {
  padding: 0 !important;
  min-height: 100%;
  height: 1px !important;
}

.content {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: 1px !important;
  padding: 0 !important;
  align-content: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.resizeButton {
  z-index: 1 !important;
}

.queryPanel {
  padding-bottom: 8px;
}

.queryResultsPanel {
  padding-top: 8px;
}

.sidebarPanel {
  padding-right: 8px !important;
}

.contentPanel {
  padding-left: 8px !important;
}

.sidebar, .queryResults {
  & > div {
    border-bottom-width: 0;
  }
}

:global(.show-cli) {
  .sidebar, .queryResults {
    & > div {
      border-bottom-width: 1px;
    }
  }
}
