.container {
  min-height: 100%;
  height: 1px !important;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  padding: 0 16px 0;
  height: calc(100% - 70px);
}

.sidebar {
  flex-shrink: 0;
  margin-right: 12px;
  position: relative;
  width: 24%;
  min-width: 324px;
  max-width: 420px;
  @media only screen and (max-width: 992px) {
    width: 240px;
    min-width: auto;
    max-width: none;
  }

  &.minimized {
    width: 38px;
    min-width: auto;
    max-width: none;
  }
}

.content {
  display: flex;
  flex-grow: 1;
}

.resizeButton {
  z-index: 1 !important;
}

.queryPanel {
  padding-bottom: 8px;
}

.queryResultsPanel {
  padding-top: 8px;
}

.sidebar, .queryResults {
  & > div {
    border-bottom-width: 0;
  }
}

:global(.show-cli) {
  .sidebar, .queryResults {
    & > div {
      border-bottom-width: 1px;
    }
  }
}
