.container {
  min-height: 100%;
  height: 1px !important;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  padding: 0 16px 0;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.resizeButton {
  z-index: 1 !important;
}

.queryPanel {
  padding-bottom: 8px;
}

.queryResultsPanel {
  padding-top: 8px;
}

.queryResults {
  & > div {
    border-bottom-width: 0;
  }
}

:global(.show-cli) {
  .queryResults {
    & > div {
      border-bottom-width: 1px;
    }
  }
}
