.wrapper {
  position: relative;
  display: flex;

  .badgeUnreadCount {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 22px;
    background: #8BA2FF;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: #000;
  }
}

.popoverNotificationTooltip {
  min-width: 420px !important;
}

.popoverCenterWrapper {
  min-width: 420px !important;

  .noItemsText {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: center;
  }
}

.popoverNotificationCenter {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 18px;
    font-weight: 500;
    padding: 6px 15px 0;
  }
}

.notificationsList {
  margin-top: 18px;
  max-height: 70vh;
  @include eui.scrollBar;
  overflow: auto;
  padding: 0 15px 0;
  margin-bottom: 12px;

  .notificationItem {
    position: relative;
    &.unread {
      &:before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--euiColorPrimary);
        position: absolute;
        top: 8px;
        left: -14px;
      }
    }
  }

  .notificationItem:not(:last-child) {
    margin-bottom: 24px;
  }

  .notificationTitle {
    margin-bottom: 6px;
    font-weight: normal;
    display: inline-block;
  }
}

.notificationFooter {
  margin-top: 6px;
}

.category {
  margin-left: 12px;
  border: 0;

  color: #DFE5EF !important;

  &:global(.euiBadge) {
    background-color: #666;
  }
}

.popoverNotification {
  padding: 6px 15px;
  position: relative;

  .closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .notificationTitle {
    display: block;
    margin-right: 30px;
    margin-bottom: 12px;
    font:
      normal normal 500 18px/24px Graphik,
      sans-serif;
  }

  .notificationDate {
    margin-top: 6px;
  }
}
