.popoverConfirmBtn {
  float: right;
  padding: 4px 12px !important;
  height: 24px !important;

  :global(.euiButtonContent) {
    padding: 0 !important;
  }
}

.popoverTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
}

.panelPopover {
  width: 493px;
  padding: 16px 30px !important;
  border-color: var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-bottom-color: var(--euiColorPrimary) !important;
  }
}

.alertIcon {
  margin-right: 8px;
}
