.popoverTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
}

.panelPopover {
  width: 493px;
  padding: 16px 30px !important;
  border: 1px solid var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow:before) {
    border-bottom-color: var(--euiColorPrimary) !important;
  }
}

.alertIcon {
  margin-right: 8px;
}
