.rnd {
  width: 100% !important;
  z-index: 100;
}
.container {
  height: 100%;
  word-break: break-word;
  text-align: left;
  letter-spacing: 0;
  background-color: var(--monacoBgColor);
  color: var(--euiTextSubduedColor) !important;
  border: 1px solid var(--euiColorPrimary);
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0 5px 15px var(--controlsBoxShadowColor);

  .selectLanguage {
    border: none !important;
    background: none !important;
    height: 24px;
    margin-top: 18px;
  }
}

.containerPlaceholder {
  display: flex;
  background-color: var(--monacoBgColor);
  color: var(--euiTextSubduedColor) !important;
  border: 1px solid var(--euiColorLightShade);
  border-radius: 4px;
  overflow: hidden;
  > div {
    border: 1px solid var(--euiColorLightShade);
    background-color: var(--euiColorEmptyShade);
    padding: 8px 20px;
    width: 100%;
  }
}

.input {
  height: calc(100% - 46px);
  width: 100%;
}

#script {
  font: normal normal bold 14px/17px Inconsolata !important;
  color: var(--textColorShade);
  caret-color: var(--euiColorFullShade);
  min-width: 5px;
  display: inline;
}

:global(.draggable-area) {
  height: 16px;
  width: 100%;
  cursor: grab;
  background-color: var(--monacoBgColor);
  border-radius: 4px 4px 0 0;
}

.actions {
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: var(--monacoBgColor);
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
}

.declineBtn:hover span {
  color: var(--euiColorColorDanger) !important;
}

.applyBtn {
  margin-left: 6px;
  &:hover span {
    color: var(--euiColorPrimary) !important;
  }
}

.submitButton {
  color: var(--rsSubmitBtn) !important;
  width: 44px !important;
  height: 44px !important;

  svg {
    width: 24px;
    height: 24px;
  }
}
