.outerWrapper {
  padding: 12px 10px;

  .wrapper {
    padding: 18px;
    background: var(--browserTableRowEven);
    border: 1px solid var(--separatorColor);
    border-radius: 4px;

    .input {
      height: 34px !important;
      background: var(--browserTableRowEven) !important;
    }

    .uploadFileWrapper {
      text-align: right;
      margin-top: -8px;
    }

    .uploadFileName {
      display: flex;
      align-items: center;
      padding-left: 4px;
    }
  }

  .btnSubmit {
    margin-left: 6px;

    svg {
      width: 16px !important;
      height: 16px !important;
      margin-top: 0;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
