@import '@elastic/eui/src/global_styling/mixins/helpers';
@import '@elastic/eui/src/components/table/mixins';
@import '@elastic/eui/src/global_styling/index';

.container {
  @include euiScrollBar;

  flex: 1;
  height: 100%;
  width: 100%;
  background-color: var(--euiColorEmptyShade);
  color: var(--euiTextSubduedColor) !important;
  border: 1px solid var(--euiColorLightShade);
  overflow: auto;
}

.header {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.noResults {
  width: 326px;
  height: 100%;
  min-height: 140px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.noResultsTitle {
  padding-top: 18px;
  font: normal normal 500 15px/24px 'Graphik', sans-serif !important;
}

.noResultsText {
  font: normal normal normal 13px/18px 'Graphik', sans-serif !important;
  letter-spacing: -0.13px;
  padding-top: 12px;
}

.playIcon {
  width: 42px !important;
  height: 42px !important;
}

.clearAllBtn {
  font-size: 14px !important;

  :global {
    .euiIcon {
      width: 14px !important;
      height: 14px !important;
    }
  }
}
