.onboardingStartPopover {
  width: 360px !important;

  background-color: var(--euiTooltipBackgroundColor) !important;

  :global(.euiPopover__panelArrow) {
    display: none;
  }
}

.onboardingActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
