.container {
  @media only screen and (max-width: 1124px) {
    .modules {
      margin-left: 0;
      border-left: 0;
      padding-left: 12px;
    }

    .overview {
      border-right: 0;
    }
  }
}

.itemContainer {
  height: 58px;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.modules {
  padding-left: 0;
  padding-right: 0;
}

.overviewItem {
  padding: 6px 20px;
  min-width: 116px;
  color: var(--euiTextSubduedColor);
  border-right: 1px solid var(--separatorColor);

  @media only screen and (max-width: 1024px) {
    padding: 6px 10px;
    min-width: 96px;
  }

  @media only screen and (max-width: 1124px) {
    border-right: 1px solid var(--separatorColor);
  }
}
.icon {
  margin-right: 6px;
  width: auto !important;
  height: 18px !important;
  max-width: 22px;
}

.overviewItemContent {
  font-size: 16px;
  font-weight: 500;
}

.tooltip {
  max-width: 372px;
}

.commandsPerSecTip {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
  .moreInfoOverviewIcon {
    margin-right: 8px;
    width: auto !important;
    max-width: 20px;
    height: 18px !important;
  }

  .moreInfoOverviewContent {
    flex-direction: row;
    margin-right: 6px;
    font-size: 12px;
  }

  .moreInfoOverviewTitle {
    margin-right: 6px;
    font-size: 12px;
    font-weight: 200;
  }
}

.RediStackLogoWrapper {
  padding: 0 6px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: translateY(-1px);
  }

  .redistackLogoIcon {
    width: 24px;
    height: 24px;
    @media only screen and (min-width: 1124px) {
      display: none;
    }
  }
  .redistackIcon {
    display: none;
    width: 114px;
    height: 18px;
    @media only screen and (min-width: 1124px) {
      display: block;
    }
  }
}

.tooltipLogo {
  width: 88px !important;
  height: 18px !important;

  @media only screen and (min-width: 1124px) {
    display: none !important;
  }
}
