.container {
  margin: 0;

  @media only screen and (max-width: 1124px) {
    .modules {
      margin-left: 0;
      border-left: 0;
      padding-left: 12px;
    }

    .overview {
      border-right: 0;
    }
  }
}

.itemContainer {
  height: 42px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.modules {
  padding-left: 0;
  padding-right: 0;
}

.overviewItem {
  min-width: 58px;

  padding: 0 14px;
  color: var(--euiTextSubduedColor);

  &:not(:last-child) {
    border-right: 1px solid var(--separatorColor);
  }
}

.icon {
  color: var(--euiColorMediumShade);
  margin-right: 6px;
  width: auto !important;
  height: 14px !important;
  max-width: 18px;
}

.overviewItemContent {
  font-size: 14px;
  font-weight: 400;
}

.tooltip {
  max-width: 372px;
}

.commandsPerSecTip {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .moreInfoOverviewIcon {
    margin-right: 8px;
    width: auto !important;
    max-width: 20px;
    height: 18px !important;
  }

  .moreInfoOverviewContent {
    flex-direction: row;
    margin-right: 6px;
    font-size: 12px;
  }

  .moreInfoOverviewTitle {
    margin-right: 6px;
    font-size: 12px;
    font-weight: 200;
  }
}

.RediStackLogoWrapper {
  padding: 0 6px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: translateY(-1px);
  }

  .redistackLogoIcon {
    width: 24px;
    height: 24px;

    @media only screen and (min-width: 1124px) {
      display: none;
    }
  }

  .redistackIcon {
    display: none;
    width: 114px;
    height: 18px;

    @media only screen and (min-width: 1124px) {
      display: block;
    }
  }
}

.tooltipLogo {
  width: 88px !important;
  height: 18px !important;

  @media only screen and (min-width: 1124px) {
    display: none !important;
  }
}

.autoRefresh {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -2px; /* adjust for whitespace in the icon */

  :global(.popover-without-top-tail) {
    margin-top: 0;
  }
}

.upgradeBtnItem {
  border-right: none;
  height: 28px;
}

.upgradeBtn {
  padding: 0;
  margin-top: 0;

  :global(.euiButton__text) {
    font: normal normal 400 14px/18px Graphik, sans-serif !important;
  }
}
