.container {
  @media only screen and (max-width: 1124px) {
    .modules {
      margin-left: 0;
      border-left: 0;
      padding-left: 12px;
      padding-right: 8px;
    }

    .overview {
      border-right: 0;
    }
  }
}

.itemContainer {
  height: 58px;
  background-color: var(--euiColorEmptyShade);
  border: 1px solid var(--euiColorLightShade);
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.modules {
  padding-left: 22px;
  padding-right: 8px;

  @media only screen and (max-width: 767px) {
    padding-left: 10px;
  }

  &.noModules {
    padding-left: 12px;
  }
}

.overviewItem {
  padding: 8px 20px;
  min-width: 116px;

  @media only screen and (max-width: 1024px) {
    padding: 8px 10px;
    min-width: 96px;
  }
  &:not(:last-child) {
    border-right: 1px solid var(--tableLightestBorderColor);
  }

  @media only screen and (max-width: 1124px) {
    border-right: 1px solid var(--tableLightestBorderColor);
  }
}
.icon {
  margin-right: 6px;
  width: auto !important;
  height: 18px !important;
  max-width: 22px;
}

.tooltip {
  max-width: 372px;
}

.commandsPerSecTip {
  margin-bottom: 8px;
  .moreInfoOverviewIcon {
    margin-right: 8px;
    width: auto !important;
    max-width: 20px;
    height: 18px !important;
  }

  .moreInfoOverviewContent {
    margin-right: 6px;
    font-weight: 500;
    font-size: 13px;
  }

  .moreInfoOverviewTitle {
    margin-right: 6px;
    font-size: 12px;
    font-weight: 200;
  }
}

