.content {
  margin-top: 70px;
  height: calc(100% - 70px) !important;
  background-color: var(--euiColorEmptyShade) !important;
  border-left: none !important;
  border-radius: 4px 0 0 4px;
  box-shadow: -5px 0px 16px rgba(0, 0, 0, 0.16) !important;
  min-width: 476px !important;
}

:global {
  img {
    max-width: 100%;
  }
}

.onboardingAnchor {
  position: absolute;
  top: 80px;
  right: 0;
}
