.page {
  height: 100%;
  overflow: hidden;
}

.tooltip {
  max-width: 372px !important;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
}

.table {
  height: 100%;
}

:global(.show-cli) .table {
  border-bottom: 1px solid var(--euiColorLightShade);
}

.filter {
  display: inline-block;
  width: 100px;
  height: 38px;
  margin-left: 8px;
  background-color: var(--tableLightestBorderColor);
}

.action {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

:global(.table-row-selected) .action {
  opacity: 1;
}
