.page {
  height: 100%;
  overflow: hidden;
}

.tooltip {
  max-width: 372px !important;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--euiColorEmptyShade);
}

.deletePopover {
  max-width: 400px !important;
}

.table {
  height: 100%;

  :global {
    .ReactVirtualized__Table__row {
      .ReactVirtualized__Table__rowColumn {
        .hideOnHover {
          display: block;
          &.hide { display: none !important; }
        }
        .showOnHover {
          display: none;
          &.show { display: block !important; }}
      }

      &:hover {
        .ReactVirtualized__Table__rowColumn {
          .hideOnHover { display: none; }
          .showOnHover { display: block; }
        }
      }
    }
  }
}

:global(.show-cli) .table {
  border-bottom: 1px solid var(--euiColorLightShade);
}

.filter {
  display: inline-block;
  width: 100px;
  height: 38px;
  margin-left: 8px;
  background-color: var(--tableLightestBorderColor);
}

.action {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.keyInfoLoading {
  width: 44px;

  :global(.euiLoadingContent__singleLine) {
    margin-bottom: 0;
  }
}

.keyNameLoading {
  width: 50%;
  min-width: 100px;
  max-width: 300px;
}

:global(.table-row-selected) .action {
  opacity: 1;
}
