.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 46px;
  display: flex;
  align-items: center;

  @media (max-width: 1123px) {
    padding: 0 10px;
  }
}

.content {
  height: 100%;
  background-color: var(--euiColorEmptyShade);
  position: relative;
  > div {
    height: 100%;
  }
}

:global(.show-cli) .content {
  border-bottom-width: 1px !important;
}

.contentActive {
  border-color: var(--euiColorPrimary) !important;
  border-bottom-width: 1px !important;
}

:global(.key-details-body) {
  position: relative;
  height: calc(100% - 144px);
}

// 108px is the key details header height
:global(.key-details-body-monaco-editor) {
  position: relative;
  height: calc(100% - 108px);
}

:global(.key-details-footer) {
  margin: 0 16px;
  padding: 16px 0 20px 0;
  border-top: 1px solid var(--euiColorLightShade);
}

.actionBtn {
  margin-right: 12px;
  position: relative;
  z-index: 2;

  &.withText {
    color: var(--euiTextSubduedColor) !important;
    :global(.euiButton__text) {
      font: normal normal normal 12px/18px Graphik !important;
    }
  }
}
