.cloudApi {
  margin-top: 5px;
  padding: 16px;
  background-color: var(--euiColorLightestShade);
  border-radius: 4px;

  :global(.euiTextColor),
  :global(.euiLink) {
    color: currentColor !important;
  }
}

.link {
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}

.divider {
  width: 224px;
  margin: 16px auto;
  color: var(--htmlColor) !important;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: var(--tableLightestBorderColor);
    margin-top: -3px;
    margin-bottom: 4px;
  }

  &:before {
    margin-right: 22px;
  }
  &:after {
    margin-left: 22px;
  }
}

.messageTitle {
  text-align: center;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: var(--htmlColor) !important;
}

.message {
  padding: 0 26px;
  text-align: center;
  font-family: "Graphik", sans-serif;
  color: var(--euiTextSubduedColor) !important;
}
