.pipelineBtn {
  border: 1px solid var(--euiColorSecondary) !important;

  svg {
    color: var(--buttonSecondaryTextColor) !important;
  }
}

.btnDisabled {
  border: 1px solid var(--controlsBorderColor) !important;
  color: var(--controlsBorderColor) !important;
  cursor: not-allowed;
  svg {
    color: var(--controlsBorderColor) !important;
  }
}

.disabled {
  cursor: not-allowed;
}
