name: AWS production

on:
  workflow_call:

env:
  AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
  AWS_DISTRIBUTION_ID: ${{ secrets.AWS_DISTRIBUTION_ID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}

jobs:
  release-private:
    name: Release s3 private
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Merge builds by pattern
        id: merge-builds
        uses: actions/upload-artifact/merge@v4
        with:
          name: 'all-builds'
          pattern: '*-builds'
          delete-merged: true

      - name: Download builds
        uses: actions/download-artifact@v4
        with:
          name: 'all-builds'
          path: release

      - run: ls -R ./release

      - name: Publish private
        run: |
          chmod +x .github/build/sum_sha256.sh
          .github/build/sum_sha256.sh
          applicationVersion=$(jq -r '.version' redisinsight/package.json)

          aws s3 cp release/ s3://${AWS_BUCKET_NAME}/private/${applicationVersion}-latest_mas_new --recursive
