name: Tests UI
on:
  workflow_call:

env:
  SLACK_AUDIT_REPORT_KEY: ${{ secrets.SLACK_AUDIT_REPORT_KEY }}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Frontend tests
    steps:
    - uses: actions/checkout@v4

    - name: Install all libs and dependencies
      uses: ./.github/actions/install-all-build-libs
      with:
        skip-backend-deps: '1'

    - name: UI PROD dependencies audit
      run: |
        FILENAME=ui.prod.deps.audit.json

        yarn audit --groups dependencies --json > $FILENAME || true &&
        FILENAME=$FILENAME DEPS="UI prod" node .circleci/deps-audit-report.js &&
        curl -H "Content-type: application/json" --data @slack.$FILENAME -H "Authorization: Bearer $SLACK_AUDIT_REPORT_KEY" -X POST https://slack.com/api/chat.postMessage

    - name: UI DEV dependencies audit
      run: |
        FILENAME=ui.dev.deps.audit.json

        yarn audit --groups devDependencies --json > $FILENAME || true &&
        FILENAME=$FILENAME DEPS="UI dev" node .circleci/deps-audit-report.js &&
        curl -H "Content-type: application/json" --data @slack.$FILENAME -H "Authorization: Bearer $SLACK_AUDIT_REPORT_KEY" -X POST https://slack.com/api/chat.postMessage

    - name: Code analysis
      run: |
        FILENAME=ui.lint.audit.json
        WORKDIR="."

        yarn lint:ui -f json -o $FILENAME || true &&
        FILENAME=$FILENAME WORKDIR=$WORKDIR TARGET="UI" node .circleci/lint-report.js &&
        curl -H "Content-type: application/json" --data @$WORKDIR/slack.$FILENAME -H "Authorization: Bearer $SLACK_AUDIT_REPORT_KEY" -X POST https://slack.com/api/chat.postMessage

        yarn lint -f json -o $FILENAME || true &&
        FILENAME=$FILENAME WORKDIR=$WORKDIR TARGET="REST" node .circleci/lint-report.js &&
        curl -H "Content-type: application/json" --data @$WORKDIR/slack.$FILENAME -H "Authorization: Bearer $SLACK_AUDIT_REPORT_KEY" -X POST https://slack.com/api/chat.postMessage

    - name: Unit tests UI
      run: yarn test:cov --ci --silent

    - name: Generate test results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: 'Test results: FE unit tests'
        path: reports/jest-*.xml
        reporter: jest-junit
        list-tests: 'failed'
        list-suites: 'failed'
        fail-on-error: 'false'
