.container {
  padding: 32px;
}

.icon {
  padding: 4px;
  margin-bottom: 4px;
  fill: var(--inputPlaceholderColor) !important;
}

.text {
  color: var(--euiColorPrimaryText);
  font: normal normal normal 14px/17px Graphik, sans-serif !important;
  margin-bottom: 16px;
}

.actions {
  margin-top: 2rem;
  display: flex;

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    padding: 24px 12px;
    border-radius: 8px;
    border: 1px solid var(--separatorColor);

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:hover,
    &:focus {
      border: 1px solid var(--euiColorPrimary);
    }
  }
}
