.container {
  width: 550px;
  height: 280px;
  background-color: var(--euiColorLightestShade);
  border-radius: 4px;
}

.containerCluster {
  width: 394px;
  height: 150px;
}

.selectWrapper {
  display: inline-block !important;
  width: 60px !important;
  margin-top: -4px;

  :global(.euiFormControlLayout__childrenWrapper) {
    height: 42px !important;
    width: 74px;
  }
}

.input {
  width: 120px !important;
}

.formRow {
  width: 600px !important;
  max-width: 600px !important;
  padding-bottom: 2px;

  :global(.euiFormRow__fieldWrapper) {
    width: 100% !important;
    min-width: 100% !important;

    :global(.euiFormControlLayout) {
      display: inline-block;
      width: 120px;
    }
  }
}

.rowFields {
  display: inline-block;
  width: 400px;
}

.rowLabel {
  display: inline-block;
  width: 156px;
  padding-right: 12px;
  vertical-align: top;
  font-size: 13px;
  padding-top: 14px;
}

.helpText {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
  color: var(--euiColorMediumShade);
  padding-top: 6px;

  div {
    display: inline-block;
    padding-bottom: 6px;
    width: 100%;
  }
}

.footer {
  padding-top: 6px;

  .helpText {
    padding-top: 12px;
  }
}

.actions {
  display: inline-block;
  right: 24px;
  position: absolute;

  :global {
    .euiButton,
    .euiButtonEmpty {
      margin-right: 12px !important;
      width: 100px;
      height: 42px;

      .euiButtonEmpty__text {
        color: var(--euiColorFullShade) !important;
      }
    }
  }
}

.clusterText :global(.euiTextColor) {
  font-size: 13px !important;
  line-height: 18px !important;
  letter-spacing: -0.13px !important;

  a {
    color: var(--euiColorFullShade) !important;
  }

  code {
    font-size: 13px;
    line-height: 18px;
    padding-left: 4px;
    padding-right: 4px;
    color: var(--inputTextColor);

    &:last-of-type {
      padding-left: 0 !important;
    }
  }
}

.clusterBtn {
  margin-top: 8px;
  position: absolute;
  right: 24px;
  bottom: 18px;
}
