.emptyPipelineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - 115px);
}

.subTitle {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 6px;
}
