.wrapper {
  width: 100%;

  :global(.euiPopover) {
    width: 100%;
  }

  .button {
    &[class*='euiButton--secondary']:not([class*='isDisabled']) {
      &:hover {
        background-color: var(--euiColorSecondary) !important;
        border-color: var(--euiColorSecondary) !important;
        color: var(--euiColorPrimaryText) !important;
      }
    }
    &:global(.euiButton.euiButton-isDisabled) {
      color: var(--buttonSecondaryDisabledTextColor) !important;
    }
  }
}

.containerPopover {
  padding: 18px;
  width: 360px;
  height: 188px;
}

.panelPopover {
  border-color: var(--euiColorPrimary) !important;
  :global(.euiPopover__panelArrow--bottom:before) {
    border-bottom-color: var(--euiColorPrimary) !important;
  }

  :global(.euiPopover__panelArrow--top:before) {
    border-top-color: var(--euiColorPrimary) !important;
  }
}

.popoverAnchor {
  display: block;
  width: 100%;
}

.popoverIcon {
  position: absolute;
  color: var(--euiColorWarningLight) !important;
  width: 24px !important;
  height: 24px !important;
}

.popoverItem {
  font-size: 13px !important;
  line-height: 18px !important;
  padding-left: 34px;
}

.popoverItemTitle {
  color: var(--htmlColor) !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

.uploadApproveBtn {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
