.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;

  min-height: 42px;
  padding-right: 32px;

  .editBtnAnchor {
    position: absolute;
    top: 10px;
    right: 4px;
  }
}

.inputWrapper {
  max-width: calc(100% - 48px);
  padding: 0 4px;
}

.controls {
  padding: 2px;
  width: 48px !important;
  box-shadow: none !important;
  background-color: transparent !important;

  display: flex;
  align-items: center;
  justify-content: space-between;

  :global(.euiButtonIcon), :global(.euiToolTipAnchor) {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
  }
}
