.icon {
  display: block !important;
  position: absolute;
  right: 14px;
  top: calc(50% - 11px);
  color: var(--euiTextColor);
  width: 20px;
  height: 20px;
}

.link {
  border: 1px solid var(--euiColorSecondary);
  padding: 6px 16px;
  letter-spacing: normal;
  border-radius: 4px;
  text-align: left;
  position: relative;
  width: 100%;
  height: 42px;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    transform: translateY(-1px);
  }

  .title {
    font-size: 12px !important;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    padding-left: 30px;
  }

  .description {
    font-size: 10px !important;
    padding-left: 30px;
    position: relative;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    color: var(--euiTextSubduedColor) !important;
  }

  .icon {
    position: absolute;
    right: 14px;
    top: calc(50% - 11px);
    color: var(--euiTextColor);
    width: 20px;
    height: 20px;
  }

  .cloudIcon {
    position: absolute;
    width: 28px;
    height: 20px;
    top: 12px;
    left: 16px;
  }
}
