.wrapper {
  position: relative;
  height: 100%;

  :global(.editorBounder) {
    bottom: 6px;
    left: 18px;
    right: 46px;
  }
}
.container {
  display: flex;
  padding: 8px 0 8px 16px;
  width: 100%;
  height: 100%;
  word-break: break-word;
  text-align: left;
  letter-spacing: 0;
  background-color: var(--rsInputWrapperColor);
  color: var(--euiTextSubduedColor) !important;
  border: 1px solid var(--euiColorLightShade);
}

.disabled {
  opacity: 0.8;
}

.disabledActions {
  pointer-events: none;
  user-select: none;
}

.containerPlaceholder {
  display: flex;
  padding: 8px 16px 8px 16px;
  width: 100%;
  height: 100%;
  background-color: var(--rsInputWrapperColor);
  color: var(--euiTextSubduedColor) !important;
  border: 1px solid var(--euiColorLightShade);
  > div {
    border: 1px solid var(--euiColorLightShade);
    background-color: var(--euiColorEmptyShade);
    padding: 8px 20px;
    width: 100%;
  }
}

.input {
  height: 100%;
  width: calc(100% - 44px);
  border: 1px solid var(--euiColorLightShade);
  background-color: var(--rsInputColor);
}

#script {
  font: normal normal bold 14px/17px Inconsolata !important;
  color: var(--textColorShade);
  caret-color: var(--euiColorFullShade);
  min-width: 5px;
  display: inline;
}

.actions {
  width: 44px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textBtn.textBtn {
  border: none !important;
  width: 24px;
  height: 24px !important;
  min-width: auto !important;
  min-height: auto !important;
  border-radius: 4px !important;
  background: transparent !important;
  box-shadow: none !important;

  :global(.euiButton__content) {
    padding: 0 !important;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--buttonSecondaryHoverColor) !important;
  }

  svg path {
    fill: var(--euiTextSubduedColor) !important;
  }

  &:hover svg path,
  &:focus svg path {
    fill: var(--wbHoverIconColor) !important;
  }

  &.activeBtn {
    background: var(--browserComponentActive) !important;
    border: 1px solid var(--euiColorSecondary);

    svg path {
      fill: var(--wbActiveIconColor) !important;
    }

    &:hover,
    &:focus {
      border: 1px solid var(--buttonSecondaryHoverColor) !important;
    }
  }
}

.submitButton {
  color: var(--rsSubmitBtn) !important;
  width: 44px !important;
  height: 44px !important;

  &Loading {
    position: absolute;
    left: 0;
    opacity: 0.5;
    margin-top: -10px;
    svg {
      width: 17px !important;
      height: 17px !important;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.tooltipText {
  font-size: 12px !important;
}
